<<<<<<< HEAD
<section class="section banner_sky">

    <div class="banner_sky__image">
        <img src="{{ asset('img/banner/sky.png') }}" alt="">
    </div>

    <div class="banner_sky__content">
        <div class="banner_sky__content__titles">
            <h2>
                {{ 'global.__banner_sky_headline__'|trans }}
            </h2>
            <h3>
                {{ 'global.__banner_sky_subtitle__'|trans }}
            </h3>
        </div>

        <a class="btn" href="#">{{ 'global.__banner_sky_contact_btn__'|trans }}</a>
    </div>

=======
<section class="section banner_sky">

    <div class="banner_sky__image">
        <img src="{{ asset('img/banner/sky.png') }}" alt="">
    </div>

    <div class="banner_sky__content">
        <div class="banner_sky__content__titles">
            <h2>
                Take a step toward your travel to Cuba
            </h2>
            <h3>
                Take a step toward
            </h3>
        </div>

        <a class="btn" href="#">Talk to an Expert!</a>
    </div>

>>>>>>> 91cfd1d435910199c627ba0b79cad76f39139094
</section>