<section class="section hero">

    <div class="slide-wrapper">
        <div class="slide-item">
            <img src="{{ asset('img/hero/4.jpg') }}" class="slide-item__image">
        </div>
        <div class="slide-item">
            <img src="{{ asset('img/hero/2.jpg') }}" class="slide-item__image">
        </div>
        <div class="slide-item">
            <img src="{{ asset('img/hero/3.jpg') }}" class="slide-item__image">
        </div>
        <div class="slide-item">
            <img src="{{ asset('img/hero/1.jpg') }}" class="slide-item__image">
        </div>
    </div>

    <div class="hero__content">
        <h1 class="hero__content__text">Get your next travel to Cuba!</h1>

        <a href="{{ path("contact") }}"
           class="btn btn--big btn--transparent">Help for planing</a>
    </div>

    <div class="hero__buttom-links">
        <div class="hero__buttom-links__item">
            <a href="#" data-slide="1">Luxury</a>
            <ul class="hero__buttom-links__item__nav">
                <li>
                    <a href="#">Random text</a>
                </li>
                <li>
                    <a href="#">Random text</a>
                </li>
                <li>
                    <a href="#">Random text</a>
                </li>
                <li>
                    <a href="#">Random text</a>
                </li>
            </ul>
        </div>
        <div class="hero__buttom-links__item">
            <a href="#" data-slide="2">Nature</a>
            <ul class="hero__buttom-links__item__nav">
                <li>
                    <a href="#">Random text</a>
                </li>
                <li>
                    <a href="#">Random text</a>
                </li>
                <li>
                    <a href="#">Random text</a>
                </li>
                <li>
                    <a href="#">Random text</a>
                </li>
            </ul>
        </div>
        <div class="hero__buttom-links__item">
        <a href="#" data-slide="3">Culture</a>
        <ul class="hero__buttom-links__item__nav">
            <li>
                <a href="#">Random text</a>
            </li>
            <li>
                <a href="#">Random text</a>
            </li>
            <li>
                <a href="#">Random text</a>
            </li>
            <li>
                <a href="#">Random text</a>
            </li>
        </ul>
    </div>
    </div>
</section>
