<section class="section hero hero-home">

    <div class="hero__image">
        <div class="hero__image__water">
            <div class="hero__image__water__base">
                <img size="100vw" srcset="
                {{ asset('static/img/hero/water/water.jpg' | imagine_filter('min_width_1920')) }} 1920w,
                {{ asset('static/img/hero/water/water.jpg' | imagine_filter('min_width_1200')) }} 1200w,
                {{ asset('static/img/hero/water/water.jpg' | imagine_filter('min_width_1000')) }} 1000w,
                {{ asset('static/img/hero/water/water.jpg' | imagine_filter('min_width_900')) }} 900w,
                {{ asset('static/img/hero/water/water.jpg' | imagine_filter('min_width_800')) }} 800w,
                {{ asset('static/img/hero/water/water.jpg' | imagine_filter('min_width_600')) }} 600w"
                alt="">
            </div>
            <div class="hero__image__water__sea">
                <img size="100vw" srcset="
                {{ asset('static/img/hero/water/sea_map.png' | imagine_filter('min_width_1920')) }} 1920w,
                {{ asset('static/img/hero/water/sea_map.png' | imagine_filter('min_width_1200')) }} 1200w,
                {{ asset('static/img/hero/water/sea_map.png' | imagine_filter('min_width_1000')) }} 1000w,
                {{ asset('static/img/hero/water/sea_map.png' | imagine_filter('min_width_900')) }} 900w,
                {{ asset('static/img/hero/water/sea_map.png' | imagine_filter('min_width_800')) }} 800w,
                {{ asset('static/img/hero/water/sea_map.png' | imagine_filter('min_width_600')) }} 600w"
                     alt="">
            </div>
            <div class="hero__image__water__wave">
                <img size="100vw" srcset="
                {{ asset('static/img/hero/water/wave_map.png' | imagine_filter('min_width_1920')) }} 1920w,
                {{ asset('static/img/hero/water/wave_map.png' | imagine_filter('min_width_1200')) }} 1200w,
                {{ asset('static/img/hero/water/wave_map.png' | imagine_filter('min_width_1000')) }} 1000w,
                {{ asset('static/img/hero/water/wave_map.png' | imagine_filter('min_width_900')) }} 900w,
                {{ asset('static/img/hero/water/wave_map.png' | imagine_filter('min_width_800')) }} 800w,
                {{ asset('static/img/hero/water/wave_map.png' | imagine_filter('min_width_600')) }} 600w"
                     alt="">
            </div>
            <div class="hero__image__water__clouds">
                <img size="100vw" srcset="
                {{ asset('static/img/hero/water/clouds_map.png' | imagine_filter('min_width_1920')) }} 1920w,
                {{ asset('static/img/hero/water/clouds_map.png' | imagine_filter('min_width_1200')) }} 1200w,
                {{ asset('static/img/hero/water/clouds_map.png' | imagine_filter('min_width_1000')) }} 1000w,
                {{ asset('static/img/hero/water/clouds_map.png' | imagine_filter('min_width_900')) }} 900w,
                {{ asset('static/img/hero/water/clouds_map.png' | imagine_filter('min_width_800')) }} 800w,
                {{ asset('static/img/hero/water/clouds_map.png' | imagine_filter('min_width_600')) }} 600w"
                     alt="">
            </div>

{#            {% if app.debug == false %}#}
{#            <svg>#}
{#                <filter id="sea" x="0" y="0" width="100%" height="100%">#}
{#                    <feTurbulence id="sea-filter" numOctaves="3" seed="2" baseFrequency="0 5"></feTurbulence>#}
{#                    <feDisplacementMap scale="5" in="SourceGraphic"></feDisplacementMap>#}
{#                </filter>#}
{#                <animate xlink:href="#sea-filter" attributeName="baseFrequency" dur="60s" keyTimes="0;0.5;1" values="0.02 0.06;0.04 0.08;0.02 0.06" repeatCount="indefinite"/>#}
{#            </svg>#}

{#            <svg>#}
{#                <filter id="wave" x="0" y="0" width="100%" height="100%">#}
{#                    <feTurbulence id="wave-filter" numOctaves="3" seed="2" baseFrequency="2 5"></feTurbulence>#}
{#                    <feDisplacementMap scale="5" in="SourceGraphic"></feDisplacementMap>#}
{#                </filter>#}
{#                <animate xlink:href="#wave-filter" attributeName="baseFrequency" dur="60s" keyTimes="0;0.5;1" values="0.02 0.06;0.04 0.08;0.02 0.06" repeatCount="indefinite"/>#}
{#            </svg>#}

{#            <svg>#}
{#                <filter id="clouds" x="0" y="0" width="100%" height="100%">#}
{#                    <feTurbulence id="clouds-filter" numOctaves="5" seed="2" baseFrequency="2 0"></feTurbulence>#}
{#                    <feDisplacementMap scale="15" in="SourceGraphic"></feDisplacementMap>#}
{#                </filter>#}
{#                <animate xlink:href="#clouds-filter" attributeName="baseFrequency" dur="60s" keyTimes="0;0.5;1" values="0.02 0.06;0.04 0.08;0.02 0.06" repeatCount="indefinite"/>#}
{#            </svg>#}

{#            {% endif %}#}

        </div>
    </div>

    <div class="hero__content">
        <h1 class="hero__content__text">
            {{ 'home.hero.text.line1'|trans }}
            <br>{{ 'home.hero.text.line2'|trans }}
        </h1>

        <a href="{{ path("contact") }}" class="btn btn--big btn--transparent">
            {{ 'home.hero.btn.travelPlaning'|trans }}
        </a>
    </div>

    <div class="hero__buttom-links">

        <div class="hero__buttom-links__item">
            <a href="#" data-slide="1">
                {{ pager.name('exploring') }}
            </a>
            <ul class="hero__buttom-links__item__nav">
                {% for destination in destinations %}
                    <li>
                        <a href="{{ path('destination',
                            {'id' : destination.getId,
                                'name' : destination.getMachineName })
                        }}">
                            {{ destination.getName }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="hero__buttom-links__item">
            <a href="#" data-slide="2">
                {{ pager.name('excursions') }}
            </a>
            <ul class="hero__buttom-links__item__nav">
                <li>
                    <a href="{{ path('activities') }}">
                        {{ pager.name('activities') }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('pageLoad', {'name' : 'bucket_list'}) }}">{{ 'home.hero.links.bucket_list'|trans }}</a>
                </li>
            </ul>
        </div>

        <div class="hero__buttom-links__item">
        <a href="#" data-slide="3">
            {{ pager.name('tours') }}
        </a>
        <ul class="hero__buttom-links__item__nav">

            <li>
                <a href="{{ path('contact') }}">
                    {{ 'global.travels.individual'|trans }}
                </a>
            </li>

            {% for filter in filterTags %}
                <li>
                    <a href="{{ path('activitiesFilter', {'filters':filter.title }) }}#activities">
                        {{ filter.title }}
                    </a>
                </li>
            {% endfor %}

        </ul>
    </div>

    </div>

</section>
