<section class="section hero">

    <div class="slide-wrapper">
        <div class="slide-item">
            <img src="{{ asset('img/hero/4.jpg') }}" class="slide-item__image">
        </div>
        <div class="slide-item">
            <img src="{{ asset('img/hero/2.jpg') }}" class="slide-item__image">
        </div>
        <div class="slide-item">
            <img src="{{ asset('img/hero/3.jpg') }}" class="slide-item__image">
        </div>
        <div class="slide-item">
            <img src="{{ asset('img/hero/1.jpg') }}" class="slide-item__image">
        </div>
    </div>

    <div class="hero__content">
        <h1 class="hero__content__text">Kuba bewusst erleben.
            <br>
            Für mutige Entdecker und gesellige Abenteurer.
        </h1>

        <a href="{{ path("contact") }}"
           class="btn btn--big btn--transparent">Reise planen</a>
    </div>

    <div class="hero__buttom-links">
        <div class="hero__buttom-links__item">
            <a href="#" data-slide="1">Kuba erkunden </a>
            <ul class="hero__buttom-links__item__nav">
                {% for destination in destinations | slice(0, 4) %}
                    <li>
                        <a href="{{ path('destination',
                            {'id':destination.getId,
                                '_locale': app.request.locale,
                                'name':destination.getMachineName })
                        }}">
                            {{ destination.getName }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="hero__buttom-links__item">
            <a href="#" data-slide="2">Kuba Ausflüge</a>
            <ul class="hero__buttom-links__item__nav">
                <li>
                    <a href="#">Our Bucket List</a>
                </li>
                <li>
                    <a href="#">Excursion Havanna</a>
                </li>
                <li>
                    <a href="#">Random text</a>
                </li>
                <li>
                    <a href="#">Random text</a>
                </li>
            </ul>
        </div>
        <div class="hero__buttom-links__item">
        <a href="#" data-slide="3">Kuba bereisen</a>
        <ul class="hero__buttom-links__item__nav">

            <li><a href="{{ path('contact') }}">Individualreise</a></li>

            {% for filter in filterTags | slice(0, 3) %}
                <li>
                    <a href="{{ path('activitiesFilter', {'filters':filter.title }) }}#activities">
                        {{ filter.title }}
                    </a>
                </li>
            {% endfor %}

        </ul>
    </div>
    </div>
</section>
