<section class="section overview"  id="overview" tabindex="-1">

    <div class="overview__item">
        <div class="overview__item__text">

            <div class="section__title">
                <div class="section__title__highlight section__title__highlight--no-decorator">
                    <h2 data-grape_id="overview_section__title" data-grape_format="txt">
                        {% if page.getElement('overview_section__title') is null %}
                            You don't need to choose!
                        {% else %}
                            {{ page.getElement('overview_section__title') }}
                        {% endif %}
                    </h2>
                </div>
            </div>

            <div data-grape_id="overview_text">
                {% if page.getElement('overview_text') is null %}
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet asperiores cumque deserunt, distinctio est id impedit libero modi nobis perferendis possimus provident, quae qui, quis sint vel velit vitae.</p>
                {% else %}
                    {{ page.getElement('overview_text') | raw }}
                {% endif %}
            </div>
       </div>
    </div>

    <div class="overview__item">
        <img data-grape_id="index_overview_img1" class="overview_grid_item_img" src="{{ page.ElementAttr('index_overview_img1', 'src', asset('img/DSC_4137.jpg') ) | raw }}" alt="">

    </div>

    <div class="overview__item">
        <img data-grape_id="index_overview_img2" class="overview_grid_item_img" src="{{ page.ElementAttr('index_overview_img2', 'src', asset('img/DSC_4144.jpg') ) | raw }}" alt="">
    </div>

    <div class="overview__item">
        <img data-grape_id="index_overview_img3" class="overview_grid_item_img" src="{{ page.ElementAttr('index_overview_img3', 'src', asset('img/DSC_4272.jpg') ) | raw }}" alt="">
    </div>

</section>