<section class="section overview"  id="overview" tabindex="-1">

    <div class="overview__item">
        <div class="overview__item__text">

            <div class="section__title">
                <div class="section__title__highlight section__title__highlight--no-decorator">
                    <h2 data-grapeid="overview_section__title">{{ page.ElementContent('overview_section__title',"You don't need to choose!") | raw }}</h2>
                </div>
            </div>

            <p data-grapeid="overview_p1">{{ page.ElementContent('overview_p1',"Lorem ipsum dolor sit amet, consectetur adipisicing elit.") | raw }}</p>
            <p data-grapeid="overview_p2">{{ page.ElementContent('overview_p2',"Lorem ipsum dolor sit amet, consectetur adipisicing elit.") | raw }}</p>
        </div>
    </div>

    <div class="overview__item">
        <img data-grapeid="index_overview_img1" class="overview_grid_item_img" src="{{ page.ElementAttr('index_overview_img1', 'src', asset('img/DSC_4137.jpg') ) | raw }}" alt="">

    </div>

    <div class="overview__item">
        <img data-grapeid="index_overview_img2" class="overview_grid_item_img" src="{{ page.ElementAttr('index_overview_img2', 'src', asset('img/DSC_4144.jpg') ) | raw }}" alt="">
    </div>

    <div class="overview__item">
        <img data-grapeid="index_overview_img3" class="overview_grid_item_img" src="{{ page.ElementAttr('index_overview_img3', 'src', asset('img/DSC_4272.jpg') ) | raw }}" alt="">
    </div>

</section>