<section class="section top_destinations">

    <div class="section__title ">
        <div class="section__title__highlight">
            <h2 data-grape_id="travel_opts_title">{{ page.ElementContent('travel_opts_title',"A variety of travel options") | raw }}</h2>
        </div>
        <div class="section__title__description">
            <p data-grape_id="travel_opts_text">{{ page.ElementContent('travel_opts_text',"Lorem ipsum dolor sit amet, consectetur adipisicing elit") | raw }}</p>
        </div>
    </div>

    <section class="travel-options">
        <div class="travel-options__grid">

            <div class="travel-options__grid__item" style="grid-area: img1">
                <img src="{{ asset('img/grid/square1.jpg') }}">
            </div>

            <div class="travel-options__grid__item" style="grid-area: img2">
                <img src="{{ asset('img/grid/square2.jpg') }}">
            </div>

            <div class="travel-options__grid__item" style="grid-area: img3">
                <img src="{{ asset('img/grid/wide1.jpg') }}" style="height: auto;max-height: none;">
            </div>

            <div class="travel-options__grid__item" style="grid-area: img4">
                <img src="{{ asset('img/grid/portraid1.jpg') }}">
            </div>

            <div class="travel-options__grid__item" style="grid-area: img5">
                <img src="{{ asset('img/grid/portraid2.jpg') }}" style="width: auto;max-width: none;">
            </div>

            <div class="travel-options__grid__item" style="grid-area: img6">
                <img src="{{ asset('img/grid/wide.jpg') }}">
            </div>

            <div class="travel-options__grid__item" style="grid-area: img7">
                <img src="{{ asset('img/grid/wide1.jpg') }}">
            </div>

            <div class="travel-options__grid__item" style="grid-area: img8">
                <img src="{{ asset('img/grid/wide.jpg') }}">
            </div>
            <div class="travel-options__grid__item" style="grid-area: img9">
                <img src="{{ asset('img/grid/wide1.jpg') }}">
            </div>
            <div class="travel-options__grid__item" style="grid-area: img10">
                <img src="{{ asset('img/grid/portraid4.jpg') }}">
            </div>

        </div>
    </section>

</section>
