<section class="section top_destinations">

    <div class="section__title ">
        <div class="section__title__highlight">
            <h2 data-grapeid="travel_opts_title">{{ page.ElementContent('travel_opts_title',"A variety of travel options") | raw }}</h2>
        </div>
        <div class="section__title__description">
            <p data-grapeid="travel_opts_text">{{ page.ElementContent('travel_opts_text',"Lorem ipsum dolor sit amet, consectetur adipisicing elit") | raw }}</p>
        </div>
    </div>

    <section class="travel-options_grid">
        <div class="row padding-top no-lat-margins">
            <div class="travel-options_grid_container">

                <div class="travel-options_grid_container_item" style="grid-area: img1">
                    <img src="{{ asset('img/Cuba-56_SD.jpg') }}">
                </div>

                <div class="travel-options_grid_container_item" style="grid-area: img2">
                    <img src="{{ asset('img/Cuba-07_SD.jpg') }}">
                </div>

                <div class="travel-options_grid_container_item" style="grid-area: img3">
                    <img src="{{ asset('img/Cuba-08_SD.jpg') }}">
                </div>

                <div class="travel-options_grid_container_item" style="grid-area: img4">
                    <img src="{{ asset('img/Cuba-09_SD.jpg') }}">
                </div>

                <div class="travel-options_grid_container_item" style="grid-area: img5">
                    <img src="{{ asset('img/Cuba-10_SD.jpg') }}">
                </div>

                <div class="travel-options_grid_container_item" style="grid-area: img6">
                    <img src="{{ asset('img/Cuba-11_SD.jpg') }}">
                </div>

                <div class="travel-options_grid_container_item" style="grid-area: img7">
                    <img src="{{ asset('img/Cuba-12_SD.jpg') }}">
                </div>


                <div class="travel-options_grid_container_item" style="grid-area: img8">
                    <img src="{{ asset('img/Cuba-13_SD.jpg') }}">
                </div>
                <div class="travel-options_grid_container_item" style="grid-area: img9">
                    <img src="{{ asset('img/Cuba-18_SD.jpg') }}">
                </div>
                <div class="travel-options_grid_container_item" style="grid-area: img10">
                    <img src="{{ asset('img/Cuba-15_SD.jpg') }}">
                </div>
                <div class="travel-options_grid_container_item" style="grid-area: img11">
                    <img src="{{ asset('img/Cuba-20_SD.jpg') }}">
                </div>

            </div>

        </div>
    </section>

</section>
