<section class="section top_destinations">

    <div class="section__title ">
        <div class="section__title__highlight">
            <h2 data-grape_id="travel_opts_title">{{ page.ElementContent('travel_opts_title',"A variety of travel options") | raw }}</h2>
        </div>
        <div class="section__title__description">
            <p data-grape_id="travel_opts_text">{{ page.ElementContent('travel_opts_text',"Lorem ipsum dolor sit amet, consectetur adipisicing elit") | raw }}</p>
        </div>
    </div>

    <section class="travel-options">
        <div class="travel-options__grid">
            <div class="travel-options__grid__item" style="grid-area: img1">
                <img src="{{ asset('img/grid/square1.jpg') }}">
            </div>

            <div class="travel-options__grid__item" style="grid-area: img2">
                <img src="{{ asset('img/grid/square2.jpg') }}">
            </div>

            <div class="travel-options__grid__item" style="grid-area: img3">
                <img src="{{ asset('img/grid/wide1.jpg') }}" style="height: auto;max-height: none;">
            </div>

            <div class="travel-options__grid__item" style="grid-area: img4">
                <img src="{{ asset('img/grid/wide.jpg') }}">
            </div>

            <div class="travel-options__grid__item" style="grid-area: img5">
                <img src="{{ asset('img/grid/portraid1.jpg') }}">
            </div>

            <div class="travel-options__grid__item" style="grid-area: img5">
                <img src="{{ asset('img/grid/portraid2.jpg') }}">
            </div>

            <div class="travel-options__grid__item" style="grid-area: img6">
                <img src="{{ asset('img/grid/portraid1.jpg') }}">
            </div>

            <div class="travel-options__grid__item" style="grid-area: img7">
                <img src="{{ asset('img/grid/square3.jpg') }}">
            </div>

            <div class="travel-options__grid__item" style="grid-area: img8">
                <img src="{{ asset('img/grid/square2.jpg') }}">
            </div>
            <div class="travel-options__grid__item" style="grid-area: img9">
                <img src="{{ asset('img/grid/wide1.jpg') }}">
            </div>

            <div class="travel-options__grid__item" style="grid-area: img10">
                <img src="{{ asset('img/grid/wide.jpg') }}">
            </div>

            <div class="travel-options__grid__item" style="grid-area: img11">
                <img src="{{ asset('img/grid/wide1.jpg') }}">
            </div>

            <div class="travel-options__grid__item" style="grid-area: img12">
                <img src="{{ asset('img/grid/square2.jpg') }}">
            </div>

            <div class="travel-options__grid__item" style="grid-area: img13">
                <img src="{{ asset('img/grid/square1.jpg') }}">
            </div>

            <div class="travel-options__grid__item" style="grid-area: img14">
                <img src="{{ asset('img/grid/portraid4.jpg') }}">
            </div>

        </div>

        <div class="travel-options__grid_overlay">
            <a href="#" style="grid-area: section1">
                <div>
                    <h3>Individualreise</h3>
                </div>
            </a>

            <a href="#" style="grid-area: section2">
                <div>
                    <h3>Gruppenreise</h3>
                </div>
            </a>

            <a href="#" style="grid-area: section3">
                <div>
                    <h3>Themenreise</h3>
                </div>
            </a>

            <a href="#" style="grid-area: section4">
                <div>
                    <h3>Familienreise</h3>
                </div>
            </a>

            <a href="" style="grid-area: section5">
                <div>
                    <h3>Mietwagenreise</h3>
                </div>
            </a>

        </div>
    </section>

</section>
