<section class="section why_with_us" style="background-image: url('{{ asset('img/Textura.png') }}');">

    <div class="section__title ">
        <div class="section__title__highlight">
            <h2 data-grape_id="why_with_us_title" data-grape_format="txt">
                {% if page.getElement('why_with_us_title') is null %}
                    Activity name
                {% else %}
                    {{ page.getElement('why_with_us_title') }}
                {% endif %}
            </h2>
        </div>
    </div>

    <div class="why_with_us__reasons">

        <div class="why_with_us__reasons__reason">
            <h5 data-grape_id="why_with_us_reasons_h1" data-grape_format="txt">
                {% if page.getElement('why_with_us_reasons_h1') is null %}
                    Title of reason
                {% else %}
                    {{ page.getElement('why_with_us_reasons_h1') }}
                {% endif %}
            </h5>
            <p data-grape_id="why_with_us_reasons_p1" data-grape_format="txt">{{ page.ElementContent('why_with_us_reasons_p1',"While putting custom properties on the :root is great for things that you need to be available throughout your site") }}</p>
        </div>

        <div class="why_with_us__reasons__reason">
            <h5 data-grape_id="why_with_us_reasons_h2" data-grape_format="txt">
                {% if page.getElement('why_with_us_reasons_h2') is null %}
                    Title of reason
                {% else %}
                    {{ page.getElement('why_with_us_reasons_h2') }}
                {% endif %}
            </h5>
            <p data-grape_id="why_with_us_reasons_p2" data-grape_format="txt">{{ page.ElementContent('why_with_us_reasons_p2',"While putting custom properties on the :root is great for things that you need to be available throughout your site")  }}</p>
        </div>

        <div class="why_with_us__reasons__reason">
            <h5 data-grape_id="why_with_us_reasons_h3" data-grape_format="txt">
                {% if page.getElement('why_with_us_reasons_h3') is null %}
                    Title of reason
                {% else %}
                    {{ page.getElement('why_with_us_reasons_h3') }}
                {% endif %}
            </h5>
            <p data-grape_id="why_with_us_reasons_p3" data-grape_format="txt">{{ page.ElementContent('why_with_us_reasons_p3',"While putting custom properties on the :root is great for things that you need to be available throughout your site") }}</p>
        </div>

        <div class="why_with_us__reasons__reason">
            <h5 data-grape_id="why_with_us_reasons_h4" data-grape_format="txt">
                {% if page.getElement('why_with_us_reasons_h4') is null %}
                    Title of reason
                {% else %}
                    {{ page.getElement('why_with_us_reasons_h4') }}
                {% endif %}
            </h5>
            <p data-grape_id="why_with_us_reasons_p4" data-grape_format="txt">{{ page.ElementContent('why_with_us_reasons_p4',"While putting custom properties on the :root is great for things that you need to be available throughout your site") }}</p>
        </div>

    </div>
</section>