<<<<<<< HEAD
<section class="section why_with_us" style="background-image: url('{{ asset('img/Textura.png') }}');">

    <div class="section__title ">
        <div class="section__title__highlight">
            <h2 data-grapeid="why_with_us_title">{{ page.ElementContent('why_with_us_title',"Why with us?") | raw }}</h2>
        </div>
    </div>

    <div class="why_with_us__reasons">

        <div class="why_with_us__reasons__reason">
            <h5 data-grapeid="why_with_us_reasons_h1">{{ page.ElementContent('why_with_us_reasons_h1',"Title of reason") | raw }}</h5>
            <p data-grapeid="why_with_us_reasons_p1">{{ page.ElementContent('why_with_us_reasons_p1',"While putting custom properties on the :root is great for things that you need to be available throughout your site") | raw }}</p>
        </div>

        <div class="why_with_us__reasons__reason">
            <h5 data-grapeid="why_with_us_reasons_h2">{{ page.ElementContent('why_with_us_reasons_h2',"Title of reason") | raw }}</h5>
            <p data-grapeid="why_with_us_reasons_p2">{{ page.ElementContent('why_with_us_reasons_p2',"While putting custom properties on the :root is great for things that you need to be available throughout your site") | raw }}</p>
        </div>

        <div class="why_with_us__reasons__reason">
            <h5 data-grapeid="why_with_us_reasons_h3">{{ page.ElementContent('why_with_us_reasons_h3',"Title of reason") | raw }}</h5>
            <p data-grapeid="why_with_us_reasons_p3">{{ page.ElementContent('why_with_us_reasons_p3',"While putting custom properties on the :root is great for things that you need to be available throughout your site") | raw }}</p>
        </div>

        <div class="why_with_us__reasons__reason">
            <h5 data-grapeid="why_with_us_reasons_h4">{{ page.ElementContent('why_with_us_reasons_h4',"Title of reason") | raw }}</h5>
            <p data-grapeid="why_with_us_reasons_p4">{{ page.ElementContent('why_with_us_reasons_p4',"While putting custom properties on the :root is great for things that you need to be available throughout your site") | raw }}</p>
        </div>

    </div>

=======
<section class="section why_with_us" style="background-image: url('{{ asset('img/Textura.png') }}');">

    <div class="section__title ">
        <div class="section__title__highlight">
            <h2>Why with us?</h2>
        </div>
    </div>

    <div class="why_with_us__reasons">

        <div class="why_with_us__reasons__reason">
            <h5>Title of reason</h5>
            <p>While putting custom properties on the :root is great for things that you need to be available throughout your site</p>
        </div>

        <div class="why_with_us__reasons__reason">
            <h5>Title of reason</h5>
            <p>While putting custom properties on the :root is great for things that you need to be available throughout your site</p>
        </div>

        <div class="why_with_us__reasons__reason">
            <h5>Title of reason</h5>
            <p>While putting custom properties on the :root is great for things that you need to be available throughout your site</p>
        </div>

        <div class="why_with_us__reasons__reason">
            <h5>Title of reason</h5>
            <p>While putting custom properties on the :root is great for things that you need to be available throughout your site</p>
        </div>
    </div>

>>>>>>> 91cfd1d435910199c627ba0b79cad76f39139094
</section>