{% extends 'base.html.twig' %}

{% block title %}Edit Activity{% endblock %}

{% block body %}
    <h1>Editing Activity <i><u>{{ activity.name }}</u></i></h1>

    {{ form_start(form) }}

    <div class="row">
        
        <div class="grid-auto">
            <div class="grid-half">
                {{ form_row(form.name) }}
            </div>
            <div class="grid-half">
                {{ form_row(form.featuresImagesCount) }}
            </div>
            <div class="grid-full">
                {{ form_row(form.description) }}
            </div>

               
        </div>
        <div class="grid-fourth">
                <div class="grid-full activity-admin__advance__destinations-tags__destinations">
                    {{ form_row(form.destinations) }}
                </div>
                <div class="grid-full margin-top activity-admin__advance__destinations-tags__tags">
                    {{ form_row(form.filterTags) }}
                </div>
            </div>
        </div>
    </div>


    <div class="row margin-top">
        <div class="grid-auto text-center">{{ form_row(form.saveAndEdit) }}</div>
        <div class="grid-auto text-center">
             {{ include('backend/activity/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
        <div class="grid-auto text-center" style="padding: 10px;">
            <a href="{{ path('backend_activity_index') }}" class="btn">Back to list</a>
        </div>
        <div class="grid-auto text-center">
            {{ include('backend/activity/_delete_form.html.twig') }}
        </div>
    </div>

   

    

    
{% endblock %}
