{% extends 'base.html.twig' %}

{% block title %}Edit Activity{% endblock %}

{% block body %}
    <h3>Editing Activity <i><u>{{ activity.name }}</u></i></h3>

    {{ form_start(form) }}

    <div class="activity_edit">
        
        <div class="grid_name">
            {{ form_row(form.name) }}
        </div>
        <div class="grid_ImagesCount">
            {{ form_row(form.featuresImagesCount) }}
        </div>
        <div class="grid_description">
            {{ form_row(form.description) }}
        </div>

        <div class="grid_right">
            <div class="grid-full activity-admin__advance__destinations-tags__destinations">
                {{ form_row(form.destinations) }}
            </div>
            <div class="grid-full margin-top activity-admin__advance__destinations-tags__tags">
                {{ form_row(form.filterTags) }}
            </div>
        </div>

        <div class="grid_grape">
            {{ form_widget(form) }}
        </div>
           
    </div>

    <div class="row margin-top">
        <div class="grid-auto text-center">
            <input type="submit" name="saveAndEdit" value="Save and edit" class="button button-primary button-shadow button-block">
            {#{{ form_row(form.saveAndEdit) }}#}
        </div>
        <div class="grid-auto text-center">
            <button class="button button-primary button-shadow button-block">{{ button_label|default('Save and go back') }}</button>
        </div>
        <div class="grid-auto text-center">
            <a href="{{ path('backend_activity_index') }}" class="button button-primary button-shadow button-block">Back to list</a>
        </div>
        {{ form_end(form) }}
        <div class="grid-auto text-center">
            {{ include('backend/activity/_delete_form.html.twig') }}
        </div>
    </div>

   

    

    
{% endblock %}
