{% extends 'base.html.twig' %}

{% block title %}Activity index{% endblock %}

{% block body %}
    <h1>Activity index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Language</th>
                <th>UpdatedAt</th>
                <th>AlternativeText</th>
                <th>Image.name</th>
                <th>Image.originalName</th>
                <th>Image.mimeType</th>
                <th>Image.size</th>
                <th>Image.dimensions</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for activity in activities %}
            <tr>
                <td>{{ activity.id }}</td>
                <td>{{ activity.title }}</td>
                <td>{{ activity.language }}</td>
                <td>{{ activity.updatedAt ? activity.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ activity.alternativeText }}</td>
                <td>{{ activity.image.name }}</td>
                <td>{{ activity.image.originalName }}</td>
                <td>{{ activity.image.mimeType }}</td>
                <td>{{ activity.image.size/1000 }}kb</td>
                <td>{{ activity.image.dimensions | join('x')  }}px </td>
                <td>
                    <a href="{{ path('backend_activity_show', {'id': activity.id}) }}">show</a>
                    <a href="{{ path('backend_activity_edit', {'id': activity.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('backend_activity_new') }}">Create new</a>
{% endblock %}
