{% extends 'base.html.twig' %}

{% block title %}Activity index{% endblock %}

{% block body %}
    <h1>All the activities</h1>

    <a href="{{ path('backend_activity_new') }}" class="btn">Create new</a>
    <hr>

<section class="section other_activities">
    <div class="section__title " style="justify-content: space-between;">
    {% for activity in activities %}
        <div class="activity">
            <div class="activity__image">
                <a href="{{ path('activity', {'_locale':'de', 'id':activity.id, 'name':activity.machineName} ) }}">
                    <img src="{{ asset(activity.staticImagePath | imagine_filter('squared_thumbnail')) }}" alt="">
                </a>
            </div>
            <div class="activity__content">
                <div class="activity__content__title">
                    <a href="{{ path('activity', {'_locale':'de', 'id':activity.id, 'name':activity.machineName} ) }}">
                        <h4>{{ activity.name }}</h4>
                    </a>
                </div>
                <div class="activity__content__description">
                    <p>{{ activity.description }}</p>
                    <hr>
                    <a href="{{ path('activity', {'_locale':'de', 'id':activity.id, 'name':activity.machineName} ) }}" class="btn">show and edit on website</a>
                    <a href="{{ path('backend_activity_edit', {'id': activity.id}) }}" class="btn">edit on admin</a>
                </div>
            </div>
        </div>
    {% endfor %}

    </div>
</section>
    <hr>

    <a href="{{ path('backend_activity_new') }}" class="btn">Create new</a>
{% endblock %}
