{% extends 'base.html.twig' %}

{#{% block title %}New Activity{% endblock %}#}

{% block body %}
    <div class="activity-admin">
        <h1>Add a new Activity</h1>

        {{ form_start(form) }}
        <div class="row margin-top margin-bottom-large padding-top-large padding-bottom-large">
           <div class="grid-half">
               <h2>Write the name of the activity</h2>
               {{ form_widget(form.name) }}
           </div>

        </div>

        <div class="row ">
            <div class="grid-fourth">
                {{ form_row(form.featuresImagesCount) }}
            </div>
            <div class="grid-fourth offset-half" style="position: relative;">
                <div style="position: absolute;bottom: 0;">

                </div>
            </div>
        </div>


        <div class="row margin-top">
            <div class="grid-auto text-center">
                {{ form_widget(form.saveAndEdit) }}
            </div>
            <div class="grid-auto text-center" style="padding: 10px;">
                <a href="{{ path('backend_activity_index') }}" class="btn">Back to list</a>
            </div>

        </div>
                {{ form_widget(form) }}



        {{ form_end(form) }}

{#    {{ include('backend/activity/_form.html.twig') }}#}
    </div>

{% endblock %}
