{% extends 'base.html.twig' %}

{#{% block title %}New Activity{% endblock %}#}

{% block body %}
{{ form_start(form) }}
    <div class="activity-admin new_activity parent">
        <h3 class="form_title">Add a new Activity</h3>

        
        <h4 class="label_field_name">Write the name of the activity</h4>
        <div class="field_name">
             {{ form_widget(form.name) }}
        </div>
              
       <div class="label_field_images">
           {{ form_label(form.featuresImagesCount) }}
       </div>
       <div class="field_images">
        {{ form_widget(form.featuresImagesCount) }}
       </div>
                
        <div class="btns">
                {{ form_widget(form.saveAndEdit, {'attr':{'class': 'button button-primary button-shadow button-block'}}) }}
        
                <a href="{{ path('backend_activity_index') }}" class="button button-secondary button-shadow button-block">Back to list</a>
        </div>
    </div>
    <div class="secundary_grid">
        {{ form_widget(form) }}
    </div>
        



        {{ form_end(form) }}

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/modules_backend/activities.css') }}" type="text/css">
{% endblock %}