<section class="overview_activity">
    <div class="overview_activity__content">

        <div class="overview_activity__content__map">
            <div id="map"></div>
        </div>

        <div class="overview_activity__content__name">
            <h2>{{ activity.name }}</h2>
            <div class="activity__contact_link">
                <a href="{{ path('contact_for_activity', {'activity': activity.id}) }}" class="btn btn--small btn--green">
                    {% trans %}activity.description.reserve{% endtrans %}
                </a>
            </div>
        </div>


        <div class="overview_activity__content__favorite_price">

            <div class="overview_activity__content__favorite_price__favorite">
                <div class="overview_activity__content__favorite_price__favorite__button" data-activity_id="{{ activity.id }}">
                    {{ include('/frontend/components/_icons/_heart.html.twig') }}
                </div>
                <a href="#"><p>Add to favorites</p></a>
            </div>



            {% if activity.initPrice is defined and activity.initPrice %}
                <div class="overview_activity__content__favorite_price__price">
                    <div>
                        <small>ab</small> &nbsp;<strong>{{ activity.initPrice }} &euro;</strong>
                    </div>
                    <div class="overview_activity__content__favorite_price__flyTicket">
                         {% if activity.flyTicketIncluded is defined and  activity.flyTicketIncluded %}
                             🛫 <small>(inklusive Flug)</small>
                         {% else %}
                             ✈ <small>(exklusive Flug)</small>
                         {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>

        {% if activity.notSuitableReducedMobility is defined and  activity.notSuitableReducedMobility %}
            <div class="overview_activity__content__tags__wheelchair">
                <img src="{{ asset('svg/wheel-chair.svg') }}">
                <p>Reise nicht geeignet für Menschen mit eingeschränker Mobilität</p>
            </div>
        {% endif %}
        {{ include('frontend/components/activity/_tags.html.twig') }}

        <div class="overview_activity__content__text">
            {{ activity.description | striptags('<ul><li><b><p><strong><span>') | truncate_html(350) | raw }}
        </div>
    </div>
{#    <div class="section__title ">#}
{#        <div class="section__title__highlight section__title__highlight--green">#}
{#
{#        </div>#}
{#    </div>#}

</section>
