<section class="section images">

    <div class="section__title">
        <div class="section__title__highlight">
            <h2>Gallery</h2>
        </div>
    </div>

    {% if not is_granted('ROLE_EDITOR') %}
        <div class="activities__container">

        <div class="slideshow">

            <div class="slide">
                <div class="slide__wrap">
                    <div class="slide__img"
                         style="background-image: url({{ page.ElementAttr('activity_images_img1','src', asset('img/feature/havana1.png')) | raw }});">
                    </div>
                    <div class="slide__title-wrap">
                        <h4 class="slide__subtitle">
                            {{ page.ElementContent('activity_images_text1','description text') | raw }}
                        </h4>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="slide__wrap">
                    <div class="slide__img"
                         style="background-image: url({{ page.ElementAttr('activity_images_img2','src', asset('img/feature/havana1.png')) | raw }});">
                    </div>
                    <div class="slide__title-wrap">
                        <h4 class="slide__subtitle">
                            {{ page.ElementContent('activity_images_text2','description text') | raw }}
                        </h4>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="slide__wrap">
                    <div class="slide__img"
                         style="background-image: url({{ page.ElementAttr('activity_images_img3','src', asset('img/feature/havana1.png')) | raw }});">
                    </div>
                    <div class="slide__title-wrap">
                        <h4 class="slide__subtitle">
                            {{ page.ElementContent('activity_images_text3','description text') | raw }}
                        </h4>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="slide__wrap">
                    <div class="slide__img"
                         style="background-image: url({{ page.ElementAttr('activity_images_img4','src', asset('img/feature/havana1.png')) | raw }});">
                    </div>
                    <div class="slide__title-wrap">
                        <h4 class="slide__subtitle">
                            {{ page.ElementContent('activity_images_text4','description text') | raw }}
                        </h4>
                    </div>
                </div>
            </div>
        </div><!-- /slideshow -->

        <nav class="boxnav">
            <button class="boxnav__item boxnav__item--prev">
                <svg class="icon icon--caret">
                    <use xlink:href="#icon-caret"></use>
                </svg>
            </button>
            <div class="boxnav__item boxnav__item--label">
                <span class="boxnav__label boxnav__label--current">1</span>
                <span class="boxnav__label boxnav__label--total"></span>
            </div>
            <button class="boxnav__item boxnav__item--next">
                <svg class="icon icon--caret-rot">
                    <use xlink:href="#icon-caret"></use>
                </svg>
            </button>
        </nav>

    </div>
    {% else %}
        <div class="editor__imagen_list">
            <div class="editor__imagen_list__item">
                <img data-grapeid="activity_images_img1" src="{{ page.ElementAttr('activity_images_img1','src', asset('img/feature/havana1.png')) | raw }}" alt="">
                <p data-grapeid="activity_images_text1">
                    {{ page.ElementContent('activity_images_text1','description text') | raw }}
                </p>
            </div>
            <div class="editor__imagen_list__item">
                <img data-grapeid="activity_images_img2" src="{{ page.ElementAttr('activity_images_img2','src', asset('img/feature/havana1.png')) | raw }}" alt="">
                <p data-grapeid="activity_images_text2">
                    {{ page.ElementContent('activity_images_text2','description text') | raw }}
                </p>
            </div>
            <div class="editor__imagen_list__item">
                <img data-grapeid="activity_images_img3" src="{{ page.ElementAttr('activity_images_img3','src', asset('img/feature/havana1.png')) | raw }}" alt="">
                <p data-grapeid="activity_images_text3">
                    {{ page.ElementContent('activity_images_text3','description text') | raw }}
                </p>
            </div>
            <div class="editor__imagen_list__item">
                <img data-grapeid="activity_images_img4" src="{{ page.ElementAttr('activity_images_img4','src', asset('img/feature/havana1.png')) | raw }}" alt="">
                <p data-grapeid="activity_images_text4">
                    {{ page.ElementContent('activity_images_text4','description text') | raw }}
                </p>
            </div>
        </div>
    {% endif %}
</section>