<section class="section images">

    <div class="section__title">
        <div class="section__title__highlight">
            <h2>Gallery</h2>
        </div>
    </div>

    {% if not is_granted('ROLE_EDITOR') %}
        <div class="activities__container">

        <div class="slideshow">

            <div class="slide">
                <div class="slide__wrap">
                    <div class="slide__img" data-grape_id="activity_images_img1">
                        <img src="{{ asset('img/feature/havana1.png') }}" alt="">
                    </div>
                    <div class="slide__title-wrap" data-grape_id="activity_images_img1_desc">
                        {% if activity.getElement('activity_images_img1_desc') is null %}
                            <h4 class="slide__subtitle">
                                {{ page.ElementContent('activity_images_img1_desc') | raw }}
                            </h4>
                        {% else %}
                            {{ activity.getElement('activity_images_img1_desc') }}
                        {% endif %}

                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="slide__wrap">
                    <div class="slide__img" data-grape_id="activity_images_img2">
                        <img src="{{ asset('img/feature/havana1.png') }}" alt="">
                    </div>
                    <div class="slide__title-wrap" data-grape_id="activity_images_img2_desc">
                        {% if activity.getElement('activity_images_img2_desc') is null %}
                            <h4 class="slide__subtitle">
                                {{ page.ElementContent('activity_images_img2_desc') | raw }}
                            </h4>
                        {% else %}
                            {{ activity.getElement('activity_images_img2_desc') }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="slide__wrap">
                    <div class="slide__img" data-grape_id="activity_images_img3">
                        <img src="{{ asset('img/feature/havana1.png') }}" alt="">
                    </div>
                    <div class="slide__title-wrap" data-grape_id="activity_images_img3_desc">
                        {% if activity.getElement('activity_images_img3_desc') is null %}
                            <h4 class="slide__subtitle">
                                {{ page.ElementContent('activity_images_img3_desc') | raw }}
                            </h4>
                        {% else %}
                            {{ activity.getElement('activity_images_img3_desc') }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="slide__wrap">
                    <div class="slide__img" data-grape_id="activity_images_img4">
                        <img src="{{ asset('img/feature/havana1.png') }}" alt="">
                    </div>
                    <div class="slide__title-wrap" data-grape_id="activity_images_img4_desc">
                        {% if activity.getElement('activity_images_img4_desc') is null %}
                            <h4 class="slide__subtitle">
                                {{ page.ElementContent('activity_images_img4_desc') | raw }}
                            </h4>
                        {% else %}
                            {{ activity.getElement('activity_images_img4_desc') }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div><!-- /slideshow -->

        <nav class="boxnav">
            <button class="boxnav__item boxnav__item--prev">
                <svg class="icon icon--caret">
                    <use xlink:href="#icon-caret"></use>
                </svg>
            </button>
            <div class="boxnav__item boxnav__item--label">
                <span class="boxnav__label boxnav__label--current">1</span>
                <span class="boxnav__label boxnav__label--total"></span>
            </div>
            <button class="boxnav__item boxnav__item--next">
                <svg class="icon icon--caret-rot">
                    <use xlink:href="#icon-caret"></use>
                </svg>
            </button>
        </nav>

    </div>
    {% else %}
        <div class="editor__imagen_list">
            <div class="editor__imagen_list__item">
                <div class="slide__img" data-grape_id="activity_images_img1">
                    <img src="{{ asset('img/feature/havana1.png') }}" alt="">
                </div>
                <div class="slide__title-wrap" data-grape_id="activity_images_img1_desc">
                    {% if activity.getElement('activity_images_img1_desc') is null %}
                        <h4 class="slide__subtitle">
                            {{ page.ElementContent('activity_images_img1_desc') | raw }}
                        </h4>
                    {% else %}
                        {{ activity.getElement('activity_images_img1_desc') }}
                    {% endif %}

                </div>
            </div>
            <div class="editor__imagen_list__item">
                <div class="slide__img" data-grape_id="activity_images_img2">
                    <img src="{{ asset('img/feature/havana1.png') }}" alt="">
                </div>
                <div class="slide__title-wrap" data-grape_id="activity_images_img2_desc">
                    {% if activity.getElement('activity_images_img2_desc') is null %}
                        <h4 class="slide__subtitle">
                            {{ page.ElementContent('activity_images_img2_desc') | raw }}
                        </h4>
                    {% else %}
                        {{ activity.getElement('activity_images_img2_desc') }}
                    {% endif %}
                </div>
            </div>
            <div class="editor__imagen_list__item">
                <div class="slide__img" data-grape_id="activity_images_img3">
                    <img src="{{ asset('img/feature/havana1.png') }}" alt="">
                </div>
                <div class="slide__title-wrap" data-grape_id="activity_images_img3_desc">
                    {% if activity.getElement('activity_images_img3_desc') is null %}
                        <h4 class="slide__subtitle">
                            {{ page.ElementContent('activity_images_img3_desc') | raw }}
                        </h4>
                    {% else %}
                        {{ activity.getElement('activity_images_img3_desc') }}
                    {% endif %}
                </div>
            </div>
            <div class="editor__imagen_list__item">
                <div class="slide__img" data-grape_id="activity_images_img4">
                    <img src="{{ asset('img/feature/havana1.png') }}" alt="">
                </div>
                <div class="slide__title-wrap" data-grape_id="activity_images_img4_desc">
                    {% if activity.getElement('activity_images_img4_desc') is null %}
                        <h4 class="slide__subtitle">
                            {{ page.ElementContent('activity_images_img4_desc') | raw }}
                        </h4>
                    {% else %}
                        {{ activity.getElement('activity_images_img4_desc') }}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
</section>