<section class="section description-include">
    <div class="section__title">
        <div class="section__title__highlight section__title__highlight--green">
            <h2>{{ activity.includedSectionTitle ? activity.includedSectionTitle : 'Leistungen' }} </h2>
        </div>
    </div>

    <div class="description-include__included-details">
        <div class="description-include__included-details__included">

            <h3>{{ activity.includedTitle ? activity.includedTitle : 'Inkludiert' }}</h3>

            <div data-grape_id="activity_included_text">
                {{ activity.includedContent | raw }}
            </div>
        </div>

        <div class="description-include__included-details__not-included">

        <h3>{{ activity.notIncludedTitle ? activity.notIncludedTitle : 'Nicht inkludiert' }}</h3>

        <div>
            {{ activity.notIncludedContent | raw }}
        </div>
    </div>
    </div>
</section>