{{ form_start(form) }}
    <div class="row" style="margin-bottom: 4em;">
    <div class="grid-half">
        {{ form_row(form.title) }}
    </div>
</div>
<div class="row" style="margin-bottom: 4em;">
    <div class="grid-half tags">
        {{ form_widget(form.pinned) }}
    	{{ form_label(form.pinned) }}
    </div>
</div>

<div class="row margin-top" style="">
	
	
        <button class="button button-primary button-shadow button-block">{{ button_label|default('Save') }}</button>
		{{ form_end(form) }}

        <a href="{{ path('backend_filter_tag_index') }}" class="button button-primary button-shadow button-block">Go back to list</a>
</div>