{% extends 'base.html.twig' %}

{% block title %}FilterTag index{% endblock %}

{% block body %}
<div class="row">
    <div class="grid-three-fourths">
        <h1>Tags for filter content</h1>
    </div>
    <div class="grid-fourth">
        <a href="{{ path('backend_filter_tag_new') }}" class="btn float-right">Create new</a>
    </div>
</div>
    

    <section class="section other_activities">
        <div class="section__title ">
            {% for filter_tag in filter_tags %}
                <div class="activity">

                    <div class="activity__content">
                        <div class="activity__content__title">
                           <h4>{{ filter_tag.title }}</h4>
                            {% if filter_tag.pinned %}
                                <small><i>(Pinned)</i></small>
                            {% endif %}
                        </div>
                        <div class="activity__content__description">
                            <a href="{{ path('backend_filter_tag_show', {'id': filter_tag.id}) }}">show</a>
                            <a href="{{ path('backend_filter_tag_edit', {'id': filter_tag.id}) }}">edit</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </section>

<hr>
    <a href="{{ path('backend_filter_tag_new') }}" class="btn">Create new</a>
{% endblock %}
