{% extends 'base.html.twig' %}

{% block title %}FilterTag{% endblock %}

{% block body %}
    <h1>FilterTag</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ filter_tag.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ filter_tag.title }}</td>
            </tr>
            <tr>
                <th>Language</th>
                <td>{{ filter_tag.language }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('filter_tag_index') }}">back to list</a>

    <a href="{{ path('filter_tag_edit', {'id': filter_tag.id}) }}">edit</a>

    {{ include('filter_tag/_delete_form.html.twig') }}
{% endblock %}
