{% extends 'base.html.twig' %}

{% block title %}Interest{% endblock %}

{% block body %}
    <h1>Interest</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ interest.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ interest.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ interest.description }}</td>
            </tr>
            <tr>
                <th>Language</th>
                <td>{{ interest.language }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ interest.updatedAt ? interest.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Image.name</th>
                <td>{{ interest.image.name }}</td>
            </tr>
            <tr>
                <th>Image.originalName</th>
                <td>{{ interest.image.originalName }}</td>
            </tr>
            <tr>
                <th>Image.mimeType</th>
                <td>{{ interest.image.mimeType }}</td>
            </tr>
            <tr>
                <th>Image.size</th>
                <td>{{ interest.image.size }}</td>
            </tr>
            <tr>
                <th>Image.dimensions</th>
                <td>{{ interest.image.dimensions | join('x') }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('interest_index') }}">back to list</a>

    <a href="{{ path('interest_edit', {'id': interest.id}) }}">edit</a>

    {{ include('interest/_delete_form.html.twig') }}
{% endblock %}
