{% extends 'base.html.twig' %}

{% block title %}ActivityStory index{% endblock %}

{% block body %}

<div class="activities_index">
        <div class="activities_title">
            <h3>All the stories ⛳</h3>
        </div>
        <div class="new_btn">
            <a href="{{ path('backend_activity_story_new') }}" class="button button-primary button-shadow button-block">Create new</a>
        </div>
    
    
    <div class="activities__list__container">
                {% for activity in activity_stories %}
                
    
                 <div class="activity_wrap" style="padding: .5em">
                   <h4>
                       {{activity.title}}
                    </h4>
                    <h4>
                    <small>
                            <a href="{{ path('backend_activity_story_edit', {'id': activity.id}) }}" >Edit</a>
                        
                            <a target="_blank" href="{{ path('activities') }}?preview=true" >Preview</a>
                            
                    </small>
                     
                   </h4>
                    
                </div>
                {% else %}
                    <p>nothing to show</p>
                {% endfor %}
                
    </div>
    
    </div>
        
{% endblock %}
{#
{% for activity_story in activity_stories %}
            <tr>
                <td>{{ activity_story.id }}</td>
                <td>{{ activity_story.title }}</td>
                <td>{{ activity_story.content }}</td>
                <td>{{ activity_story.published ? 'Yes' : 'No' }}</td>
                <td>{{ activity_story.metadata ? activity_story.metadata|json_encode : '' }}</td>
                <td>{{ activity_story.updatedAt ? activity_story.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ activity_story.alternativeText }}</td>
                <td>{{ activity_story.language }}</td>
                <td>{{ activity_story.image.name }}</td>
                <td>{{ activity_story.image.originalName }}</td>
                <td>{{ activity_story.image.mimeType }}</td>
                <td>{{ activity_story.image.size }}</td>
                <td>{{ activity_story.image.dimensions }}</td>
                <td>
                    <a href="{{ path('backend_activity_story_show', {'id': activity_story.id}) }}">show</a>
                    <a href="{{ path('backend_activity_story_edit', {'id': activity_story.id}) }}">edit</a>
                </td>
      #}