{% extends 'base.html.twig' %}

{% block title %}New ActivityStory{% endblock %}

{% block body %}
    <h1>Create new Story about activities</h1>
    
    {{ form_start(form) }}
    
    <h4 class="label_field_name">Write the title of the story</h4>
    <div class="field_name">
         {{ form_widget(form.title) }}
    </div>

    <h4 class="label_field_name">Tell the story. <small> Tip: you should use images, MapMarkers and Paths </small></h4>
    <div class="field_name">
         {{ form_widget(form.content) }}
    </div>

    
    <h4 class="label_field_name" >
            <label>    {{ form_widget(form.published) }} 
                It is visible 
            </label>
    </h4>


    
    
    
    {{ include('backend/activity_story/_form.html.twig') }}

    
    <a href="{{ path('backend_activity_story_index') }}" class="button button-secondary button-shadow button-block">Back to list</a>
{% endblock %}
