{% extends 'base.html.twig' %}

{% block title %}ActivityStory{% endblock %}

{% block body %}
    <h1>ActivityStory</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ activity_story.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ activity_story.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ activity_story.content }}</td>
            </tr>
            <tr>
                <th>Published</th>
                <td>{{ activity_story.published ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Metadata</th>
                <td>{{ activity_story.metadata ? activity_story.metadata|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ activity_story.updatedAt ? activity_story.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>AlternativeText</th>
                <td>{{ activity_story.alternativeText }}</td>
            </tr>
            <tr>
                <th>Language</th>
                <td>{{ activity_story.language }}</td>
            </tr>
            <tr>
                <th>Image.name</th>
                <td>{{ activity_story.image.name }}</td>
            </tr>
            <tr>
                <th>Image.originalName</th>
                <td>{{ activity_story.image.originalName }}</td>
            </tr>
            <tr>
                <th>Image.mimeType</th>
                <td>{{ activity_story.image.mimeType }}</td>
            </tr>
            <tr>
                <th>Image.size</th>
                <td>{{ activity_story.image.size }}</td>
            </tr>
            <tr>
                <th>Image.dimensions</th>
                <td>{{ activity_story.image.dimensions }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('backend_activity_story_index') }}">back to list</a>

    <a href="{{ path('backend_activity_story_edit', {'id': activity_story.id}) }}">edit</a>

    {{ include('backend/activity_story/_delete_form.html.twig') }}
{% endblock %}
