{% extends 'base.html.twig' %}

{% block title %}Hello {{ app.user }}{% endblock %}
{% block body_class %}backend_index_wrap{% endblock %}
{% block body %}

<div class="header-illustration" style="z-index: -10">
                <img src="{{ asset('img/svg/index-bg-right.svg') }}">
            </div>
<div class="backend_index">
        <div class="hello_user">
            <h3>Welcome back {{ app.user }}! 📌</h3>
        </div>
    
    

        <div class="main_btns">
            <p>You can see, edit or add one of the following entities...</p>
            <ul class="list-inline" style="display: inline-flex; align-content: space-evenly; list-style: none">
                <li> <a href="{{ path('backend_activity_index') }}"  class="button button-primary button-shadow button-block">Activities</a></li>
                <li>  <a href="{{ path('backend_destination_index') }}" class="button button-primary button-shadow button-block">Destinations</a></li>
                <li> <a href="{{ path('backend_filter_tag_index') }}" class="button button-primary button-shadow button-block">Tags</a></li>
            </ul>   
        </div>

        <div class="secundary_btns">
            <p>or edit the details of the following pages:</p>
            <ul class="list-inline" style="display: inline-flex; align-content: space-evenly; list-style: none">
                <li><a href="{{ path('backend_page_edit', {'pageName': 'index'}) }}"  class="button button-secondary button-shadow button-block">Homepage</a></li>
                <li><a href="{{ path('backend_page_edit', {'pageName': 'faq'}) }}"  class="button button-secondary button-shadow button-block">FAQ</a></li>
                <li><a href="{{ path('backend_page_edit', {'pageName': 'contact'}) }}" class="button button-secondary button-shadow button-block">Contact</a></li>
                <li><a href="{{ path('backend_page_edit', {'pageName': 'bucket_list'}) }}" class="button button-secondary button-shadow button-block">Bucket List</a></li>
            </ul>
        </div>
    

</div>
{% endblock %}
