{% extends 'base.html.twig' %}

{% block title %}Hello {{ app.user }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 80%; font: 18px/1.5 sans-serif; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ app.user }}! ✅</h1>

    <hr>
    You can see, edit or add one of the following entities:
<div class="container margin-top">
    <ul class="list-inline" style="display: inline-flex; align-content: space-evenly; list-style: none">
        <li> <a href="{{ path('backend_activity_index') }}"  class="btn">Activities</a></li>
        <li>  <a href="{{ path('backend_destination_index') }}" class="btn">Destinations</a></li>
        {#<li> <a href="{{ path('backend_interest_index') }}" class="btn">Interest</a></li>#}
        <li> <a href="{{ path('backend_filter_tag_index') }}" class="btn">Tags</a></li>
    </ul>
</div>



</div>
{% endblock %}
