{% if destinationActivities | length > 0 %}

<section class="section activities">

    <div class="section__title">
        <div class="section__title__highlight">
            <h2>{{ destination.activitySectionTitle }}</h2>
        </div>
        <div class="section__title__description">
            <p>{{ destination.activitySectionSubtitle }}</p>
        </div>
    </div>

    <div class="activities__container">

        <div class="gallery">
            {% for activity in destinationActivities %}

                <div class="gallery__item">
                    <div class="gallery__item__image">
                        {{ imgTag(activity.image) | raw }}
                    </div>
                    <div class="gallery__item__title">
                            <a href="{{ path('activity', {'id':activity.id, 'name':activity.machineName}) }}">
                                <h2>{{ activity.name }}</h2>
                            </a>
                        </div>
                </div>

            {% endfor %}

        </div>

    </div>

</section>

{% endif %}