{% if destination.activities | length > 0 %}

<section class="section activities">

    <div class="section__title">
        <div class="section__title__highlight">
            <h2 data-grape_id="activities_title" data-grape_format="txt">
                {{ page.ElementContent('activities_title',"What you can do in "~ destination.name ~" with us!") | striptags | raw }}
            </h2>
        </div>
        <div class="section__title__description"  data-grape_id="activities_description">
            {{ page.ElementContent('activities_description',"Lorem ipsum dolor sit amet, consectetur adipisicing elit.") | raw }}

        </div>
    </div>

    <div class="activities__container">

        <div class="gallery">
            {% for activity in destination.activities | slice(0, 6) %}

                {% if is_granted('ROLE_EDITOR') and not app.request.get('preview') %}
                    <img src="{{ asset(activity.imagePath) }}" alt="">
                {% else %}
                    <div class="gallery__item">
                        <div class="gallery__item__image">
                            {{ imgTagContent(
                                activity.dynamicPage.elementAttr('activity_images_img1', 'src', asset('img/header_pic.jpg')),
                                activity.dynamicPage.elementAttr('activity_images_img1', 'srcb64', asset('img/header_pic.jpg')),
                                null,
                                '100vw',
                                '') | raw }}
                        </div>
                        <div class="gallery__item__title">
                                <a href="{{ path('activity', {'id':activity.id, 'name':activity.machineName}) }}">
                                    <h2>{{ activity.name }}</h2>
                                </a>
                            </div>
                    </div>
                {%  endif %}

            {% endfor %}

        </div>

    </div>

</section>

{% endif %}