<section class="section feature_lists">

    <div class="feature">
        <div class="feature__text">
            <div class="feature__text__title">
                <h2 data-grapeid="feature_lists_h1">{{ page.ElementContent('feature_lists_h1',"Havana Vieja") | raw }}</h2>
            </div>

            <p data-grapeid="feature_lists_t1">{{ page.ElementContent('feature_lists_t1',"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consectetur debitis distinctio dolor eum illo maxime molestiae mollitia optio pariatur porro praesentium quidem quos rem, rerum sequi sint voluptatem voluptatum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus laboriosam perspiciatis quidem! Fuga nam placeat similique. Amet assumenda debitis, incidunt maiores omnis rem similique? Accusamus autem cupiditate numquam pariatur rerum!") | raw }}</p>
        </div>
        <div class="feature__image">
            <img data-grapeid="feature_lists_img1" src="{{ page.ElementAttr('feature_lists_img1','src', asset('img/feature/havana1.png')) | raw }}" alt="">
        </div>

    </div>

    <div class="feature feature--inverse">
        <div class="feature__text">
            <div class="feature__text__title">
                <h2 data-grapeid="feature_lists_h2">{{ page.ElementContent('feature_lists_h2',"Havana Vieja") | raw }}</h2>
            </div>

            <p data-grapeid="feature_lists_t2">{{ page.ElementContent('feature_lists_t2',"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consectetur debitis distinctio dolor eum illo maxime molestiae mollitia optio pariatur porro praesentium quidem quos rem, rerum sequi sint voluptatem voluptatum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus laboriosam perspiciatis quidem! Fuga nam placeat similique. Amet assumenda debitis, incidunt maiores omnis rem similique? Accusamus autem cupiditate numquam pariatur rerum!") | raw }}</p>
        </div>
        <div class="feature__image">
            <img data-grapeid="feature_lists_img2" src="{{ page.ElementAttr('feature_lists_img2', 'src',asset('img/feature/havana1.png')) | raw }}" alt="">
        </div>

    </div>

    <div class="feature">
        <div class="feature__text">
            <div class="feature__text__title">
                <h2 data-grapeid="feature_lists_h3">{{ page.ElementContent('feature_lists_h3',"Havana Vieja") | raw }}</h2>
            </div>

            <p data-grapeid="feature_lists_t3">{{ page.ElementContent('feature_lists_t3',"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consectetur debitis distinctio dolor eum illo maxime molestiae mollitia optio pariatur porro praesentium quidem quos rem, rerum sequi sint voluptatem voluptatum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus laboriosam perspiciatis quidem! Fuga nam placeat similique. Amet assumenda debitis, incidunt maiores omnis rem similique? Accusamus autem cupiditate numquam pariatur rerum!") | raw }}</p>
        </div>
        <div class="feature__image">
            <img data-grapeid="feature_lists_img3" src="{{ page.ElementAttr('feature_lists_img3','src', asset('img/feature/havana1.png')) | raw }}" alt="">
        </div>

    </div>

</section>