{% extends 'base.html.twig' %}

{% block title %}Edit Destination{% endblock %}

{% block body %}
<div class="row">
    <div class="grid-three-fourths">
        <h3>Editing Destination <i><u>{{ destination.name }}</u></i></h3>
    </div>
</div>
{{ form_start(form) }}
<div class="editing_destination_first">
	
	<div class="grid_name">
			{{ form_row(form.name) }}
	</div>
    <div class="grid_features">
			{{ form_row(form.featuresCount) }}
		
    </div>
    <div class="grid_image">
			{{ form_row(form.imageFile) }}		
    </div>


    <div class="grapes">

            {{ form_widget(form) }}
        
    </div>

    <div class="btns">
    	
        <input type="submit" name="saveAndEdit" value="Save and edit" class="button button-primary button-shadow button-block" style="width: 200px;">

        {{ include('backend/destination/_form.html.twig') }}

        <a href="{{ path('backend_destination_index') }}" class="button button-secondary button-shadow button-block">Go back to list</a>
        {{ include('backend/destination/_delete_form.html.twig') }}

    </div>
    
</div>    

    
{% endblock %}
