{% extends 'base.html.twig' %}

{% block title %}Edit Destination{% endblock %}

{% block body %}
<div class="row">
    <div class="grid-three-fourths">
        <h1>Editing Destination <i><u>{{ destination.name }}</u></i></h1>
    </div>
</div>
{{ form_start(form) }}
<div class="row">
	<div class="grid-half">
		<div class="grid-full">
			{{ form_row(form.name) }}
		</div>
        <div class="grid-full">
			{{ form_row(form.featuresCount) }}
		</div>
    </div>
    <div class="grid-fourth offset-fourth">
		<div class="grid-full">
			{{ form_row(form.imageFile) }}
		</div>
    </div>
</div>

<div class="row margin-top">
	
	<div class="grid-auto" style="position: relative;">
         {{ form_widget(form.saveAndEdit) }}
       
    </div>

    <div class="grid-auto text-center">
        {{ include('backend/destination/_form.html.twig') }}
    </div>

    <div class="grid-auto text-center" style="padding: 10px;">
        <a href="{{ path('backend_destination_index') }}" class="btn">Go back to list</a>
    </div>

    <div class="grid-auto text-center">
        {{ include('backend/destination/_delete_form.html.twig') }}
    </div>
    
</div>
    

    

    
{% endblock %}
