{% extends 'base.html.twig' %}

{% block title %}Destination index{% endblock %}

{% block body %}
    <h1>Destination index</h1>


    <a href="{{ path('backend_destination_new') }}" class="btn">Create new</a>

 <hr>


    <section class="section other_activities">
        <div class="section__title ">
            {% for destination in destinations %}
                <div class="activity">

                    <div class="activity__content">
                        <div class="activity__content__title">

                            <a href="{{ path('destination', {'id':destination.id, 'name':destination.machineName}) }}">
                                <img 
                                src="{{ destination.staticImagePath | imagine_filter('squared_thumbnail') }}" 
                                src-set="{{ destination.staticImagePath | filterSrcset }}" alt="">

                                <h4>{{ destination.name }}</h4>
                            </a>
                        </div>
                        <div class="activity__content__description">

                            <a href="{{ path('destination', {'id':destination.id, 'name':destination.machineName}) }}" class="btn">show and edit on website</a>

                            <a href="{{ path('backend_destination_edit', {'id': destination.id}) }}" class="btn">edit</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </section>
    <hr>


    <a href="{{ path('backend_destination_new') }}" class="btn">Create new</a>
{% endblock %}
