{% extends 'base.html.twig' %}

{% block title %}Destination index{% endblock %}

{% block body %}
<div class="destinations_index_wrap">
    <div class="title">
        <h3>All the destinations</h3>
    </div>
    <div class="new_btn">
        <a href="{{ path('backend_destination_new') }}" class="button button-primary button-shadow button-block float-right">Create new</a>
    </div>


<div class="activities__list__container_index">

    <section class="section other_activities destinations_index">
        <div class="section__title ">
            {% for destination in destinations %}
                <div class="activity">

                    <div class="activity__content">
                        <div class="activity__content__title">

                            <a href="{{ path('destination', {'id':destination.id, 'name':destination.machineName}) }}">
                                {{ imgTagContent(destination.staticImagePath, null, 'image text', '(min-width: 1200px) 50vw') | raw }}
                                <h4>{{ destination.name }}</h4>
                            </a>
                        </div>
                        <div class="activity__content__description">

                            <a href="{{ path('destination', {'id':destination.id, 'name':destination.machineName}) }}" class="btn">View and edit</a>

                            <a href="{{ path('backend_destination_edit', {'id': destination.id}) }}" class="btn">Edit</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </section>
    
        
    </div>

<div class="new_btn_bottom">
    <a href="{{ path('backend_destination_new') }}" class="button button-primary button-shadow button-block float-right">Create new</a>
</div>

</div>
    


{% endblock %}