{% extends 'base.html.twig' %}

{% block title %}Destination index{% endblock %}

{% block body %}
<div class="row">
    <div class="grid-three-fourths">
        <h1>All the destinations</h1>
    </div>
    <div class="grid-fourth">
        <a href="{{ path('backend_destination_new') }}" class="btn float-right">Create new</a>
    </div>
</div>
    


    <section class="section other_activities">
        <div class="section__title ">
            {% for destination in destinations %}
                <div class="activity">

                    <div class="activity__content">
                        <div class="activity__content__title">

                            <a href="{{ path('destination', {'id':destination.id, 'name':destination.machineName}) }}">
                                {{ imgTagContent(destination.staticImagePath, null, 'image text', '(min-width: 1200px) 50vw') | raw }}
                                <h4>{{ destination.name }}</h4>
                            </a>
                        </div>
                        <div class="activity__content__description">

                            <a href="{{ path('destination', {'id':destination.id, 'name':destination.machineName}) }}" class="btn">show and edit on website</a>

                            <a href="{{ path('backend_destination_edit', {'id': destination.id}) }}" class="btn">edit</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </section>
    
    <div class="row margin-top">
        <div class="grid-full">
            <a href="{{ path('backend_destination_new') }}" class="btn">Create new</a>
        </div>
    </div>

{% endblock %}
