{% extends 'base.html.twig' %}

{% block title %}New Destination{% endblock %}

{% block body %}
<div class="row">
    <div class="grid-three-fourths">
        <h3>Add a new Destination</h3>
    </div>
</div>
	

        {{ form_start(form) }}
        <div class="destination_new">
            <div class="grid_name">
               <h4>Write the name of the destination</h4>
               {{ form_widget(form.name) }}
           </div>


            <div class="grid_image">
                {{ form_row(form.imageFile) }}
            </div>
            <div class="grid_features">
                {{ form_row(form.featuresCount) }}
            </div>


            <div class="btns" style="position: relative;">
                {{ form_widget(form.saveAndEdit, {'attr': {'class': 'button button-primary button-shadow button-block'}}) }}
               
                {{ include('backend/destination/_form.html.twig') }}
            
                <a href="{{ path('backend_destination_index') }}" class="button button-secondary button-shadow button-block">Go back to list</a>
            </div>
        </div>
        
           

{% endblock %}
