<section class="section contact">
    
    <div class="section__title ">
        <div class="section__title__highlight section__title__highlight--orange">
            <h2>More info, means better options...</h2>
        </div>
        <div class="section__title__description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </div>

    <div class="travel-options_grid_container">

        <div class="travel-options_grid_container_item" style="grid-area: img1">
            <img src="{{ asset('img/Cuba-56_SD.jpg') }}">
        </div>

        <div class="travel-options_grid_container_item" style="grid-area: img2">
            <img src="{{ asset('img/Cuba-07_SD.jpg') }}">
        </div>

        <div class="travel-options_grid_container_item" style="grid-area: img3">
            <img src="{{ asset('img/Cuba-08_SD.jpg') }}">
        </div>

        <div class="travel-options_grid_container_item" style="grid-area: img4">
            <img src="{{ asset('img/Cuba-09_SD.jpg') }}">
        </div>

    </div>


    <div class="form__item">
        <div class="form__item__label">
            {{ form_label(form.flyTicket) }}
        </div>
        <div class="form__item__input">
            {{ form_widget(form.flyTicket) }}
        </div>
    </div>


    <div class="form__item">

        <div class="form__item__label">
            {{ form_label(form.selfConsider) }}
        </div>
        <div class="form__item__input select-control">
            {{ form_widget(form.selfConsider, {}) }}
            <div id="{{ form.selfConsider.vars.id }}_container"></div>
            <div class="slider-labels">
                <div class="selfCharacter slider-labels_label first">
                    Menos
                </div>
                <div class="selfCharacter slider-labels_label value" id="{{ form.selfConsider.vars.id }}_value">{{ form.selfConsider.vars.id }}</div>
                <div class="selfCharacter slider-labels_label last">
                    M'as
                </div>
            </div>

        </div>
        <ul class="visually-hidden" id="{{ form.selfConsider.vars.id }}_labels">
            <li>Text A</li>
            <li>Text B</li>
            <li>Text C</li>
            <li>Text D</li>
            <li>Text E</li>
        </ul>
    </div>



    <div class="form__item">
        <div class="form__item__label">
            {{ form_label(form.selfCharacter) }}


        </div>
        <div class="form__item__input select-control">
            {{ form_widget(form.selfCharacter, {}) }}
            {{ form_errors(form.selfCharacter) }}
            <div id="{{ form.selfCharacter.vars.id }}_container"></div>
            <div class="slider-labels">
                <div class="selfCharacter slider-labels_label first">
                    Menos
                </div>
                <div class="selfCharacter slider-labels_label value" id="{{ form.selfCharacter.vars.id }}_value">{{ form.selfCharacter.vars.id }}</div>
                <div class="selfCharacter slider-labels_label last">
                    M'as
                </div>
            </div>

        </div>
        <ul class="visually-hidden" id="{{ form.selfCharacter.vars.id }}_labels">
            <li>Text 0</li>
            <li>Text 1</li>
            <li>Text 2</li>
            <li>Text 3</li>
            <li>Text 4</li>
            <li>Text 5</li>
            <li>Text 6</li>
            <li>Text 7</li>
        </ul>
    </div>

    <div class="form__item">
        <div class="form__item__label">
            {{ form_label(form.selfLuxury) }}


        </div>
        <div class="form__item__input select-control">
            {{ form_widget(form.selfLuxury, {}) }}
            <div id="{{ form.selfLuxury.vars.id }}_container"></div>
            <div class="slider-labels">
                <div class="selfCharacter slider-labels_label first">
                    Menos
                </div>
                <div class="selfCharacter slider-labels_label value" id="{{ form.selfLuxury.vars.id }}_value">{{ form.selfLuxury.vars.id }}</div>
                <div class="selfCharacter slider-labels_label last">
                    M'as
                </div>
            </div>

        </div>
        <ul class="visually-hidden" id="{{ form.selfLuxury.vars.id }}_labels">
            <li>Text A</li>
            <li>Text B</li>
            <li>Text C</li>
            <li>Text D</li>
            <li>Text E</li>
        </ul>
    </div>


    <div class="row row-center float-center padding-top">
        {{ form_label(form.message) }}
    </div>
    <div class="row row-center float-center padding-top">
        <div class="grid-half select-control">
            {{ form_widget(form.message) }}
        </div>
    </div>

    <div class="row  row-center row-middle header_headline no-lat-margins">

        <button class="btn header_headline_btn">{{ button_label|default('Send form') }}</button>
    </div>

    {{ form_widget(form.interests) }}
    {{ form_end(form) }}
</section>