<section class="section contact">

    <div class="section__title ">
        <div class="section__title__highlight section__title__highlight--orange">
            <h2>Mehr Info bedeutet bessere Beratung</h2>
        </div>
        <div class="section__title__description">
            <p >
                Klicken Sie doch schon mal Ihre Interessen an, damit können Sie noch gezielter beraten werden.
            </p>
        </div>
    </div>


    {% if activities|length > 0 %}
        <div class="selected-activities">
            <div class="selected-activities__title">
                <h3>Activities selected for you</h3>
            </div>
            <div class="selected-activities__list">
                {% for activity in activities %}
                    {% include 'frontend/components/global/_activity_small.html.twig' with {'activity':activity} %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="travel-interest">
        <div class="travel-interest__title">
            <h3>Wählen Sie aus, was Sie interessiert</h3>
        </div>

        <div class="travel-interest__options">
            {% for interest in interests %}
                {% include('frontend/components/contact/_interest.html.twig')
                    with {'index': loop.index, 'interest': interest} %}
            {% endfor %}
        </div>
    </div>


    <div class="form__item">
        <div class="form__item__label" data-grape_id="form__item__label_flyTicket">
            {{ form_label(form.flyTicket) }}
        </div>
        <div class="form__item__input form__item__input--center">
            {{ form_widget(form.flyTicket) }}
        </div>
    </div>


    <div class="form__item">
        <div class="form__item__label">
            {{ form_label(form.flyTicketOnBudget) }}
        </div>
        <div class="form__item__input form__item__input--center">
            {{ form_widget(form.flyTicketOnBudget) }}
        </div>
    </div>

    <div class="form__item">

        <div class="form__item__label">
            {{ form_label(form.selfConsider) }}
        </div>

        <div class="form__item__input select-control">
            {{ form_widget(form.selfConsider, {}) }}
            <div id="{{ form.selfConsider.vars.id }}_container"></div>
            <div class="slider-labels">
                <div class="selfCharacter slider-labels_label first">
                    -
                </div>
                <div class="selfCharacter slider-labels_label value" id="{{ form.selfConsider.vars.id }}_value">
                    {{ form.selfConsider.vars.id }}
                </div>
                <div class="selfCharacter slider-labels_label last">
                    +
                </div>
            </div>

        </div>

        <div class="visually-hidden admin_visible_list" id="{{ form.selfConsider.vars.id }}_labels">
            <ul class="visually-hidden admin_visible_list">
                <li>Nichts</li>
                <li>kaum</li>
                <li>ein bisschen</li>
                <li>hübsch</li>
                <li>viel</li>
                <li>vollständig</li>
            </ul>
        </div>

    </div>

    <div class="form__item">

        <div class="form__item__label">
            {{ form_label(form.selfCharacter) }}
        </div>

        <div class="form__item__input select-control">
            {{ form_widget(form.selfCharacter, {}) }}
            {{ form_errors(form.selfCharacter) }}
            <div id="{{ form.selfCharacter.vars.id }}_container"></div>
            <div class="slider-labels">
                <div class="selfCharacter slider-labels_label first">
                    -
                </div>
                <div class="selfCharacter slider-labels_label value" id="{{ form.selfCharacter.vars.id }}_value">
                    {{ form.selfCharacter.vars.id }}
                </div>
                <div class="selfCharacter slider-labels_label last">
                    +
                </div>
            </div>

        </div>

        <div class="visually-hidden admin_visible_list" id="{{ form.selfCharacter.vars.id }}_labels">
            <ul class="visually-hidden admin_visible_list">
                <li>Nichts</li>
                <li>kaum</li>
                <li>ein bisschen</li>
                <li>hübsch</li>
                <li>viel</li>
                <li>vollständig</li>
            </ul>
        </div>
    </div>

    <div class="form__item">

        <div class="form__item__label">
            {{ form_label(form.selfLuxury) }}
        </div>

        <div class="form__item__input select-control">
            {{ form_widget(form.selfLuxury, {}) }}
            <div id="{{ form.selfLuxury.vars.id }}_container"></div>
            <div class="slider-labels">
                <div class="selfCharacter slider-labels_label first">
                    -
                </div>
                <div class="selfCharacter slider-labels_label value" id="{{ form.selfLuxury.vars.id }}_value">{{ form.selfLuxury.vars.id }}</div>
                <div class="selfCharacter slider-labels_label last">
                    +
                </div>
            </div>

        </div>

        <div class="visually-hidden admin_visible_list" id="{{ form.selfLuxury.vars.id }}_labels">
            <ul class="visually-hidden admin_visible_list">
                <li>Nichts</li>
                <li>kaum</li>
                <li>ein bisschen</li>
                <li>hübsch</li>
                <li>viel</li>
                <li>vollständig</li>
            </ul>
        </div>

    </div>

</section>