<section class="section contact">

    <div class="section__title ">
        <div class="section__title__highlight section__title__highlight--orange">
            <h2 data-grape_id="contact_t2" data-grape_format="txt">
            {{ page.ElementContent('contact_t2',"Mehr Info bedeutet bessere Optionen") | raw }}</h2>
        </div>
        <div class="section__title__description">
            <p data-grape_id="contact_p2">{{ page.ElementContent('contact_p2',"Wählen Sie so viele wie") | raw }}</p>
        </div>
    </div>

    {% if not is_granted('ROLE_EDITOR') or app.request.get('preview') %}
        {% if activities|length > 0 %}
        <div class="selected-activities">
            <div class="selected-activities__title">
                <h3>Activities selected for you</h3>
            </div>
            <div class="selected-activities__list">
                {% for activity in activities %}
                    {% include 'frontend/components/global/_activity_small.html.twig' with {'activity':activity} %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% endif %}

    <div class="travel-interest">
        <div class="travel-interest__title">
            <h3>Wählen Sie aus, was Sie interessiert</h3>
        </div>

        <div class="travel-interest__options">
            {% for i in 1..9 %}
                {{ include('frontend/components/contact/_interest.html.twig') }}
            {% endfor %}

        </div>
    </div>


    <div class="form__item">
        <div class="form__item__label" data-grape_id="form__item__label_flyTicket">
            {% if page.ElementContent('form__item__label_flyTicket') %}
                {{ page.ElementContent('form__item__label_flyTicket') | raw }}
            {% else %}
                {{ form_label(form.flyTicket) }}
            {% endif %}
        </div>
        <div class="form__item__input">
            {{ form_widget(form.flyTicket) }}
        </div>
    </div>

    <div class="form__item">

        <div class="form__item__label" data-grape_id="form__item__label_selfConsider">
            {% if page.ElementContent('form__item__label_selfConsider') %}
                {{ page.ElementContent('form__item__label_selfConsider') | raw }}
            {% else %}
                {{ form_label(form.selfConsider) }}
            {% endif %}
        </div>
        <div class="form__item__input select-control">
            {{ form_widget(form.selfConsider, {}) }}
            <div id="{{ form.selfConsider.vars.id }}_container"></div>
            <div class="slider-labels">
                <div class="selfCharacter slider-labels_label first">
                    Nichts
                </div>
                <div class="selfCharacter slider-labels_label value" id="{{ form.selfConsider.vars.id }}_value">{{ form.selfConsider.vars.id }}</div>
                <div class="selfCharacter slider-labels_label last">
                    vollständig
                </div>
            </div>

        </div>
        <div class="visually-hidden admin_visible_list" data-grape_id="form__item__label_selfConsider_options" id="{{ form.selfConsider.vars.id }}_labels">
            {% if page.ElementContent('form__item__label_selfConsider_options') %}
                {{ page.ElementContent('form__item__label_selfConsider_options') | raw }}
            {% else %}
            <ul class="visually-hidden admin_visible_list">
                <li>kaum</li>
                <li>ein bisschen</li>
                <li>hübsch</li>
                <li>viel</li>
            </ul>   
            {% endif %}
        
        </div>
        
    </div>

    <div class="form__item">

        <div class="form__item__label" data-grape_id="form__item__label_selfCharacter">
            {% if page.ElementContent('form__item__label_selfCharacter') %}
                {{ page.ElementContent('form__item__label_selfCharacter') | raw }}
            {% else %}
                {{ form_label(form.selfCharacter) }}
            {% endif %}
        </div>

        <div class="form__item__input select-control">
            {{ form_widget(form.selfCharacter, {}) }}
            {{ form_errors(form.selfCharacter) }}
            <div id="{{ form.selfCharacter.vars.id }}_container"></div>
            <div class="slider-labels">
                <div class="selfCharacter slider-labels_label first">
                    Nichts
                </div>
                <div class="selfCharacter slider-labels_label value" id="{{ form.selfCharacter.vars.id }}_value">{{ form.selfCharacter.vars.id }}</div>
                <div class="selfCharacter slider-labels_label last">
                    vollständig
                </div>
            </div>

        </div>
        <div class="visually-hidden admin_visible_list" data-grape_id="form__item__label_selfCharacter_options" id="{{ form.selfCharacter.vars.id }}_labels">
            {% if page.ElementContent('form__item__label_selfCharacter_options') %}
                {{ page.ElementContent('form__item__label_selfCharacter_options') | raw }}
            {% else %}
            <ul class="visually-hidden admin_visible_list">
                <li>kaum</li>
                <li>ein bisschen</li>
                <li>hübsch</li>
                <li>viel</li>
            </ul>   
            {% endif %}
            
        </div>
    </div>

    <div class="form__item">
        <div class="form__item__label" data-grape_id="form__item__label_selfLuxury">
            {% if page.ElementContent('form__item__label_selfLuxury') %}
                {{ page.ElementContent('form__item__label_selfLuxury') | raw }}
            {% else %}
                {{ form_label(form.selfLuxury) }}
            {% endif %}
        </div>

        <div class="form__item__input select-control">
            {{ form_widget(form.selfLuxury, {}) }}
            <div id="{{ form.selfLuxury.vars.id }}_container"></div>
            <div class="slider-labels">
                <div class="selfCharacter slider-labels_label first">
                    Nichts
                </div>
                <div class="selfCharacter slider-labels_label value" id="{{ form.selfLuxury.vars.id }}_value">{{ form.selfLuxury.vars.id }}</div>
                <div class="selfCharacter slider-labels_label last">
                    vollständig
                </div>
            </div>

        </div>
        <div class="visually-hidden admin_visible_list" data-grape_id="form__item__label_selfLuxury_options" id="{{ form.selfLuxury.vars.id }}_labels">
            {% if page.ElementContent('form__item__label_selfLuxury_options') %}
                {{ page.ElementContent('form__item__label_selfLuxury_options') | raw }}
            {% else %}

            <ul class="visually-hidden admin_visible_list">
                <li>kaum</li>
                <li>ein bisschen</li>
                <li>hübsch</li>
                <li>viel</li>
            </ul>   
            {% endif %}
        
        </div>
        
    </div>

</section>