<section class="section contact">

    <div class="section__title ">
        <div class="section__title__highlight section__title__highlight--orange">
            <h2 data-grape_id="contact_t1" data-grape_format="txt">
            {{ page.ElementContent('contact_t1',"Beginnen wir mit den Grundlagen") | raw }}</h2>
        </div>
        <div class="section__title__description" data-grape_id="contact_p1">
            {% if page.ElementContent('contact_p1') %}
                {{ page.ElementContent('contact_p1') | raw }}
            {% else %}
                <p>
                    ein paar fragen zum aufwärmen
                </p>
            {% endif %}
        </div>
    </div>

  

    <div class="form__item">
        <div class="form__item__label" data-grape_id="form__item__label_travelDate">
            {% if page.ElementContent('form__item__label_travelDate') %}
                {{ page.ElementContent('form__item__label_travelDate') | raw }}
            {% else %}
                {{ form_label(form.travelDate) }}
            {% endif %}
        </div>
        <div class="form__item__input">
            {{ form_widget(form.travelDate) }}
            {{ form_errors(form.travelDate) }}
        </div>
    </div>

    <div class="form__item">

        <div class="form__item__label" data-grape_id="form__item__label_travelDuration">
            {% if page.ElementContent('form__item__label_travelDuration') %}
                {{ page.ElementContent('form__item__label_travelDuration') | raw }}
            {% else %}
                {{ form_label(form.travelDuration) }}
            {% endif %}
        </div>
        <div class="form__item__input select-control">
            {{ form_widget(form.travelDuration, {}) }}
            <div id="{{ form.travelDuration.vars.id }}_container"></div>
            <div class="slider-labels">
                <div class="travelDuration slider-labels_label first">
                    -
                </div>
                <div class="travelDuration slider-labels_label value" id="{{ form.travelDuration.vars.id }}_value">{{ form.travelDuration.vars.id }}</div>
                <div class="travelDuration slider-labels_label last">
                    +
                </div>
            </div>

        </div>
        <div class="visually-hidden" data-grape_id="form__item__label_travelDuration_options" id="{{ form.travelDuration.vars.id }}_labels">
{#            {% if page.ElementContent('form__item__label_travelDuration_options') %}#}
{#                {{ page.ElementContent('form__item__label_travelDuration_options') | raw }}#}
{#            {% else %}#}
            <ul class="visually-hidden">
                <li>Weniger als 5 Tage</li>
                <li>6 Tage</li><li>7 Tage</li><li>8 Tage</li><li>9 Tage</li><li>10 Tage</li><li>11 Tage</li><li>12 Tage</li>
                <li>13 Tage</li><li>14 Tage</li><li>15 Tage</li><li>16 Tage</li><li>17 Tage</li><li>18 Tage</li>
                <li>19 Tage</li><li>20 Tage</li><li>21 Tage</li><li>22 Tage</li><li>23 Tage</li><li>24 Tage</li>
                <li>25 Tage</li><li>26 Tage</li><li>27 Tage</li><li>28 Tage</li><li>29 Tage</li>
                <li>30 Tage und Mehr</li>
            </ul>
{#            {% endif %}#}

        </div>

    </div>


{#    <div class="form__item">#}
{#        <div class="form__item__label" data-grape_id="form__item__label_peopleAmount_label">#}
{#            {% if page.ElementContent('form__item__label_peopleAmount_label') %}#}
{#                {{ page.ElementContent('form__item__label_peopleAmount_label') | raw }}#}
{#            {% else %}#}
{#                Mit wie vielen Personen reisen Sie?#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}

    <div class="form__item">
        <div class="form__item__label" data-grape_id="form__item__label_peopleAmount">
            {% if page.ElementContent('form__item__label_peopleAmount') %}
                {{ page.ElementContent('form__item__label_peopleAmount') | raw }}
            {% else %}
                {{ form_label(form.peopleAmount) }}
            {% endif %}
        </div>
        <div class="form__item__input">
            {{ form_widget(form.peopleAmount) }}
        </div>
    </div>

    <div class="form__item">
        <div class="form__item__label" data-grape_id="form__item__label_childAmount">

        </div>
        <div class="form__item__input">
            {{ form_widget(form.childAmount) }}
        </div>
    </div>

    <div class="form__item">
        <div class="form__item__label" data-grape_id="form__item__label_travelBudget">
            {% if page.ElementContent('form__item__label_travelBudget') %}
                {{ page.ElementContent('form__item__label_travelBudget') | raw }}
            {% else %}
                {{ form_label(form.travelBudget) }}
            {% endif %}
        </div>
        <div class="form__item__input">
            {{ form_widget(form.travelBudget) }}
        </div>
    </div>

</section>
