<section class="section contact">

    <div class="section__title ">
        <div class="section__title__highlight section__title__highlight--orange">
            <h2>{% trans %}contact.basic.title{% endtrans %}</h2>
{#            <h2>Beginnen wir mit den Grundlagen</h2>#}
        </div>
        <div class="section__title__description" >
            <p>
                {% trans %}contact.basic.description{% endtrans %}
{#                Hat kuba-reisen.de Ihr Interesse geweckt? Dann freuen wir uns auf#}
{#                Ihre Kontaktaufnahme. Gerne helfen wir Ihnen bei der Planung Ihres Kuba Urlaubes.#}
            </p>
        </div>
    </div>

    <div class="form__item">
        <div class="form__item__label" data-grape_id="form__item__label_travelDate">
            {{ form_label(form.travelDate) }}
        </div>
        <div class="form__item__input">
            {{ form_widget(form.travelDate) }}
            {{ form_errors(form.travelDate) }}
        </div>
    </div>

    <div class="form__item">

        <div class="form__item__label">
            {{ form_label(form.travelDuration) }}
        </div>

        <div class="form__item__input select-control">
            {{ form_widget(form.travelDuration, {}) }}
            <div id="{{ form.travelDuration.vars.id }}_container"></div>
            <div class="slider-labels">
                <div class="travelDuration slider-labels_label first">
                    -
                </div>
                <div class="travelDuration slider-labels_label value" id="{{ form.travelDuration.vars.id }}_value">{{ form.travelDuration.vars.id }}</div>
                <div class="travelDuration slider-labels_label last">
                    +
                </div>
            </div>
        </div>

        <div class="visually-hidden" id="{{ form.travelDuration.vars.id }}_labels">
            <ul class="visually-hidden">
                <li>{% trans %}contact.basic.travelDuration.LessThan5Days{% endtrans %}</li>
                {% for number in 6..29 %}
                    <li>{{ number }} {% trans %}contact.basic.travelDuration.days{% endtrans %}</li>
                {% endfor %}
                <li>{% trans %}contact.basic.travelDuration.moreThan30Days{% endtrans %}</li>
            </ul>

        </div>

    </div>


{#    <div class="form__item">#}
{#        <div class="form__item__label" data-grape_id="form__item__label_peopleAmount_label">#}
{#            {% if page.ElementContent('form__item__label_peopleAmount_label') %}#}
{#                {{ page.ElementContent('form__item__label_peopleAmount_label') | raw }}#}
{#            {% else %}#}
{#                Mit wie vielen Personen reisen Sie?#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}

    <div class="form__item">
        <div class="form__item__label">
            {{ form_label(form.peopleAmount) }}
        </div>
        <div class="form__item__input">
            {{ form_widget(form.peopleAmount) }}
        </div>
    </div>

    <div class="form__item">
        <div class="form__item__label" data-grape_id="form__item__label_childAmount">
            {{ form_label(form.childAmount) }}
        </div>
        <div class="form__item__input">
            {{ form_widget(form.childAmount) }}
        </div>
    </div>

    <div class="form__item">

        <div class="form__item__label">
            {{ form_label(form.travelBudget) }}
        </div>
        <div class="form__item__input select-control">
            {{ form_widget(form.travelBudget, {}) }}
            <div id="{{ form.travelBudget.vars.id }}_container"></div>
            <div class="slider-labels">
                <div class="travelBudget slider-labels_label first">
                    -
                </div>
                <div class="travelBudget slider-labels_label value" id="{{ form.travelBudget.vars.id }}_value">
                    {{ form.travelBudget.vars.id }}
                </div>
                <div class="travelBudget slider-labels_label last">
                    +
                </div>
            </div>

        </div>
        <div class="visually-hidden" id="{{ form.travelBudget.vars.id }}_labels">
            <ul class="visually-hidden">
                <li>{% trans %}contact.basic.travelBudget.LessThan1000EUR{% endtrans %}</li>
                {% for thousand in 1..9 %}
                    <li>{{ thousand }}'000 EUR</li>
                    <li>{{ thousand }}'500 EUR</li>
                {%  endfor %}
                <li>{% trans %}contact.basic.travelBudget.Equal1000EUR{% endtrans %}</li>
                <li>{% trans %}contact.basic.travelBudget.MoneyDoesntMatter{% endtrans %}</li>
            </ul>

        </div>

    </div>

    {% if selected_activity is defined and selected_activity is not null %}
            {{ include('frontend/components/contact/_advance_flyquestions.html.twig') }}
    {% endif %}

</section>
