<section class="section contact">

    <div class="section__title ">
        <div class="section__title__highlight section__title__highlight--orange">
            <h2 data-grape_id="contact_t1" data-grape_format="txt">
            {{ page.ElementContent('contact_t1',"Let's start with the basic") | raw }}</h2>
        </div>
        <div class="section__title__description" data-grape_id="contact_p1">
            {% if page.ElementContent('contact_p1') %}
                {{ page.ElementContent('contact_p1') | raw }}
            {% else %}
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                </p>
            {% endif %}
        </div>
    </div>

    {{ form_start(form, { 'attr': {'class': 'form'} } ) }}
    {% form_theme form 'form/fields.html.twig' %}

    <div class="form__item">
        <div class="form__item__label" data-grape_id="form__item__label_travelDate">
            {% if page.ElementContent('form__item__label_travelDate') %}
                {{ page.ElementContent('form__item__label_travelDate') | raw }}
            {% else %}
                {{ form_label(form.travelDate) }}
            {% endif %}
        </div>
        <div class="form__item__input">
            {{ form_widget(form.travelDate) }}
            {{ form_errors(form.travelDate) }}
        </div>
    </div>

    <div class="form__item">
        <div class="form__item__label" data-grape_id="form__item__label_travelDuration">
            {% if page.ElementContent('form__item__label_travelDuration') %}
                {{ page.ElementContent('form__item__label_travelDuration') | raw }}
            {% else %}
                {{ form_label(form.travelDuration) }}
            {% endif %}
        </div>
        <div class="form__item__input">
            {{ form_widget(form.travelDuration) }}
        </div>
    </div>

    <div class="form__item">
        <div class="form__item__label" data-grape_id="form__item__label_peopleAmount">
            {% if page.ElementContent('form__item__label_peopleAmount') %}
                {{ page.ElementContent('form__item__label_peopleAmount') | raw }}
            {% else %}
                {{ form_label(form.peopleAmount) }}
            {% endif %}
        </div>
        <div class="form__item__input">
            {{ form_widget(form.peopleAmount) }}
        </div>
    </div>

    <div class="form__item">
        <div class="form__item__label" data-grape_id="form__item__label_travelBudget">
            {% if page.ElementContent('form__item__label_travelBudget') %}
                {{ page.ElementContent('form__item__label_travelBudget') | raw }}
            {% else %}
                {{ form_label(form.travelBudget) }}
            {% endif %}
        </div>
        <div class="form__item__input">
            {{ form_widget(form.travelBudget) }}
        </div>
    </div>

</section>
