<div class="interest" style="grid-area: img{{ i }}">
    <label for="interest{{ i }}">

        {% if is_granted('ROLE_EDITOR') and not app.request.get('preview') %}
            <img
                data-grape_id="contact_interest_image_{{ i }}"
                src="{{ page.ElementAttr('contact_interest_image_'~i, 'src', asset('img/grid/square1.jpg')) }}"
                alt="">
        {% else %}
            {{ imgTagContent(
                page.ElementAttr('contact_interest_image_'~i, 'src', asset('img/grid/square1.jpg')),
                page.ElementAttr('contact_interest_image_'~i, 'srcb64', asset('img/grid/square1.jpg')),
                '',
                '(min-width:1000px) 25vw, 50vw',
                '') | raw }}
        {% endif %}

        <div class="interest__title">
            <div class="interest__title__icon">
{#                <svg class="icon icon-heart icon-heart--green"#}

                {{ include('/frontend/components/_icons/_heart.html.twig') }}

            </div>
            <div class="interest__title__text" data-grape_id="contact_interest_text_{{ i }}" data-grape_format="txt">
                {{ page.ElementContent('contact_interest_text_'~i, 'interest '~i) | raw}}
            </div>
        </div>
    </label>
    <input id="interest{{ i }}" name="interest[{{ i }}]" type="checkbox" value="{{ page.ElementContent('contact_interest_text_'~i, 'interest '~i) | raw  | trim(' \n ')  }}">
</div>
