<section class="section contact">

    <div class="section__title ">
        <div class="section__title__highlight section__title__highlight--orange">
            <h2 data-grape_id="contact_t3" data-grape_format="txt">
            {{ page.ElementContent('contact_t3',"How we can contact to you") | raw }}</h2>
        </div>
        <div class="section__title__description">
            <p data-grape_id="contact_p3">{{ page.ElementContent('contact_p3',"Lorem ipsum dolor sit amet, consectetur adipisicing elit.") | raw }}</p>
        </div>
    </div>

    <div class="contact__personal">

        <div class="contact__personal__name_mail">
            <div class="form__item">
                <div class="form__item__label" data-grape_id="form__item__label_name">
                    {% if page.ElementContent('form__item__label_name') %}
                        {{ page.ElementContent('form__item__label_name') | raw }}
                    {% else %}
                        {{ form_label(form.name) }}
                    {% endif %}
                </div>
                <div class="form__item__input">
                    {{ form_widget(form.name) }}
                </div>
            </div>

            <div class="form__item">
                <div class="form__item__label" data-grape_id="form__item__label_email">
                    {% if page.ElementContent('form__item__label_email') %}
                        {{ page.ElementContent('form__item__label_email') | raw }}
                    {% else %}
                        {{ form_label(form.email) }}
                    {% endif %}
                </div>
                <div class="form__item__input">
                    {{ form_widget(form.email) }}
                </div>
            </div>
        </div>
        <div class="contact__personal__message">
            <div class="form__item">
                <div class="form__item__label" data-grape_id="form__item__label_message">
                    {% if page.ElementContent('form__item__label_message') %}
                        {{ page.ElementContent('form__item__label_message') | raw }}
                    {% else %}
                        {{ form_label(form.message) }}
                    {% endif %}
                </div>
                <div class="form__item__textarea">
                    {{ form_widget(form.message) }}
                </div>
            </div>
        </div>

    </div>

    <div class="form__item">
        <a class="btn" href="#">{{ button_label|default('Send form') }}</a>
    </div>

    {{ form_widget(form.interests) }}
    {{ form_end(form) }}

</section>