<section class="section contact">

    <div class="section__title ">
        <div class="section__title__highlight section__title__highlight--orange">
            <h2>Wie können wir Sie kontaktieren?</h2>
        </div>
        <div class="section__title__description">
            <p>Lassen Sie uns mehr über die Dinge wissen, die Sie mögen
            </p>
        </div>
    </div>

    <div class="contact__personal">

        <div class="contact__personal__name_mail">
            <div class="form__item">
                <div class="form__item__label" data-grape_id="form__item__label_name">
                    {{ form_label(form.clientName) }}
                </div>
                <div class="form__item__input">
                    {{ form_widget(form.clientName) }}
                </div>
            </div>

            <div class="form__item">
                <div class="form__item__label" data-grape_id="form__item__label_email">
                    {{ form_label(form.clientEmail) }}
                </div>
                <div class="form__item__input">
                    {{ form_widget(form.clientEmail) }}
                </div>
            </div>

            <div class="form__item">
                <div class="form__item__label" data-grape_id="form__item__label_telephone">
                    {{ form_label(form.telephone) }}
                </div>
                <div class="form__item__input">
                    {{ form_widget(form.telephone) }}
                </div>
            </div>
        </div>
        <div class="contact__personal__message">
            <div class="form__item">
                <div class="form__item__label" data-grape_id="form__item__label_message">
                    {{ form_label(form.message) }}
                </div>
                <div class="form__item__textarea">
                    {{ form_widget(form.message) }}
                </div>
            </div>
        </div>

    </div>

    <div class="form__item sendFormFlex">
        <p class="sendFormInfo sendFormInfo__success hidden">The information you provided was sended to our specialist. We'll contact you soon about it. Thanks a lot.</p>
        <p class="sendFormInfo sendFormInfo__error hidden">There was some error processing the info you provided. Please try again.</p>
        
        <button class="btn sendFormBtn" href="#">{{ button_label|default('Sende Formular') }}</button>

        {{ include('frontend/components/global/_loading_dots.html.twig') }}

    </div>

  

</section>