<section class="section contact">

    <div class="section__title ">
        <div class="section__title__highlight section__title__highlight--orange">
            <h2 data-grape_id="contact_t3" data-grape_format="txt">
            {{ page.ElementContent('contact_t3',"Wie können wir Sie kontacktieren?") | raw }}</h2>
        </div>
        <div class="section__title__description">
            <p data-grape_id="contact_p3" data-grape_format="txt">{{ page.ElementContent('contact_p3',"Lassen Sie uns mehr über die Dinge wissen, die Sie mögen") | raw }}</p>
        </div>
    </div>

    <div class="contact__personal">

        <div class="contact__personal__name_mail">
            <div class="form__item">
                <div class="form__item__label" data-grape_id="form__item__label_name">
                    {% if page.ElementContent('form__item__label_name') %}
                        {{ page.ElementContent('form__item__label_name') | raw }}
                    {% else %}
                        {{ form_label(form.clientName) }}
                    {% endif %}
                </div>
                <div class="form__item__input">
                    {{ form_widget(form.clientName) }}
                </div>
            </div>

            <div class="form__item">
                <div class="form__item__label" data-grape_id="form__item__label_email">
                    {% if page.ElementContent('form__item__label_email') %}
                        {{ page.ElementContent('form__item__label_email') | raw }}
                    {% else %}
                        {{ form_label(form.clientEmail) }}
                    {% endif %}
                </div>
                <div class="form__item__input">
                    {{ form_widget(form.clientEmail) }}
                </div>
            </div>
        </div>
        <div class="contact__personal__message">
            <div class="form__item">
                <div class="form__item__label" data-grape_id="form__item__label_message">
                    {% if page.ElementContent('form__item__label_message') %}
                        {{ page.ElementContent('form__item__label_message') | raw }}
                    {% else %}
                        {{ form_label(form.message) }}
                    {% endif %}
                </div>
                <div class="form__item__textarea">
                    {{ form_widget(form.message) }}
                </div>
            </div>
        </div>

    </div>

    <div class="form__item sendFormFlex">
        <p class="sendFormInfo sendFormInfo__success hidden">The information you provided was sended to our specialist. We'll contact you soon about it. Thanks a lot.</p>
        <p class="sendFormInfo sendFormInfo__error hidden">There was some error processing the info you provided. Please try again.</p>
        
        <button class="btn sendFormBtn" href="#">{{ button_label|default('Sende Formular') }}</button>

        {{ include('frontend/components/global/_loading_dots.html.twig') }}

    </div>

  

</section>