<section class="section contact">

    <div class="section__title ">
        <div class="section__title__highlight section__title__highlight--orange">
            <h2 data-grape_id="contact_t3">{{ page.ElementContent('contact_t3',"How we can contact to you") | raw }}</h2>
        </div>
        <div class="section__title__description">
            <p data-grape_id="contact_p3">{{ page.ElementContent('contact_p3',"Lorem ipsum dolor sit amet, consectetur adipisicing elit.") | raw }}</p>
        </div>
    </div>

    <div class="form__item">
        <div class="form__item__label">
            {{ form_label(form.name) }}
        </div>
        <div class="form__item__input">
            {{ form_widget(form.name) }}
        </div>
    </div>

    <div class="form__item">
        <div class="form__item__label">
            {{ form_label(form.email) }}
        </div>
        <div class="form__item__input">
            {{ form_widget(form.email) }}
        </div>
    </div>


    <div class="row row-center float-center padding-top">
        {{ form_label(form.message) }}
    </div>
    <div class="row row-center float-center padding-top">
        <div class="grid-half select-control">
            {{ form_widget(form.message) }}
        </div>
    </div>

    <div class="row  row-center row-middle header_headline no-lat-margins">
        <a class="btn header_headline_btn">{{ button_label|default('Send form') }}</a>
    </div>

    {{ form_widget(form.interests) }}
    {{ form_end(form) }}

</section>