{% extends "emails/base.html.twig" %}

{% block emailSubject %}
    <p>Neue Anfrage auf Kubareisen {{ contact.requestId }}</p>
{% endblock emailSubject %}

{% block infoline %}
    <p>Neue Anfrage auf Kubareisen {{ contact.requestId }}</p>
{% endblock infoline %}

{% block titleOfEmail %}
    {{ contact.clientName }} Ihre Anfrage ist bei uns eingegangen.
    Mit den nachfolgenden Angaben werden wir Ihnen schnellstmöglich ein Angebot zusammenstellen.
{% endblock titleOfEmail %}

{% block afterTitleText %}
<ul>
        <li>
            Email: <b>{{ contact.clientEmail }}</b>
        </li>

        <li>
            Telefonnummer: <b>{{ contact.telephone }}</b>
        </li>
        <li>
            Reise Datum: <b> {{ contact.travelDate | date("d.m.Y") }} </b>
        </li>

        {% if contact.travelDuration is not null and contact.travelDuration is not empty %}
            <li>
                Reise Dauer: <b>{{ contact.travelDuration }}</b>
            </li>
        {% endif %}

        <li>
            Anzahl Personen: <b>{{ contact.peopleAmount }}, {{ contact.childAmount }}</b>
        </li>

        {% if contact.travelDuration is not null and contact.travelDuration is not empty %}
            <li>
                Budget: <b> {{ contact.travelBudget }}</b>
            </li>
        {% endif %}

        {% if contact.interests is not null and contact.interests is not empty %}
            <li>
                Ausgewählte Interessen: <b>{{ contact.interests | raw }}</b>
            </li>
        {% endif %}

        <li>
            Flug bereits gebucht: <b> {% if contact.flyTicket %} Yes {%else%} No {% endif %}</b>
        </li>

        <li>
            Budget inkluidert Flug: <b> {% if contact.flyTicketOnBudget %} Yes {%else%} No {% endif %}</b>
        </li>

    {% if contact.selfConsider is not null and contact.selfConsider is not empty %}
        <li>
            Wie abenteuerlich bist du?: <b>{{ contact.selfConsider }} </b>
        </li>
    {% endif %}
    {% if contact.selfCharacter is not null and contact.selfCharacter is not empty %}
        <li>
                Wie sehr genießt du die Natur?: <b> {{ contact.selfCharacter }}</b>
        </li>
    {% endif %}
    {% if contact.selfLuxury is not null and contact.selfLuxury is not empty %}
        <li>
                Wie viel bevorzugen Sie Luxus?: <b> {{ contact.selfLuxury }} </b>
        </li>
    {% endif %}
    {% if contact.message is not null and contact.message is not empty %}
        <li>
                Nachricht:
                <br>
                {{ contact.message }}
        </li>
    {% endif %}
    </ul>

    <hr>
    <p>Anfrage mit der ID {{contact.requestId}} ist bei uns am {{ contact.requestDateTime | date('d.m.Y') }} eingegangen.</p>

{% endblock afterTitleText %}

{% block emailCTABtnLabel %}Länderinformationen{% endblock %}
{% block emailCTABtnURL %}{{ absolute_url(path('pageLoad', {'name' : pager.url('travel_info') } )) }}{% endblock emailCTABtnURL %}