{% extends "emails/base.html.twig" %}

{% block emailSubject %}
    <p>New contact request on Kubareisen {{ contact.requestId }}</p>
{% endblock emailSubject %}

{% block infoline %}
    <p>New contact request on Kubareisen {{ contact.requestId }}</p>
{% endblock infoline %}

{% block titleOfEmail %}
Hello, {{ contact.clientName }} sended a new contact request
{% endblock titleOfEmail %}

{% block afterTitleText %}
<ul>
        <li>
            Email: <b>{{ contact.clientEmail }}</b>
        </li>
        <li>
            Travel Date: <b> {{ contact.travelDate | date("Y/m/d") }} </b>
        </li>
        <li>
            Travel Duration: <b>{{ contact.travelDuration }}</b>
        </li>
        <li>
            People: <b>{{ contact.peopleAmount }}</b>
        </li>
        <li>
            Travel Budget: <b>{{ contact.travelBudget }}</b>
        </li>
        <li>
            Interests checked: <b>{{ contact.interests | raw }}</b> 
        </li>
        <li>
            Fly Ticket: <b> {% if contact.flyTicket %} Yes {%else%} No {% endif %}</b>
        </li>

        {# TODO: show strings by ENUM on selfConsider,selfCharacter, etc #}
        <li>
            Wie abenteuerlich bist du?: <b>{{ contact.selfConsider }}</b>
        </li>
        <li>
                Wie sehr genießt du die Natur?: <b> {{ contact.selfCharacter }}</b>
        </li>
        <li>
                Wie viel bevorzugen Sie Luxus?: <b> {{ contact.selfLuxury }}</b>
        </li>
        <li>
                Message: 
                <br>
                {{ contact.message }}
        </li>
    </ul>

    <hr>
    <p>request recorded at {{ contact.requestDateTime | date('Y/m/d H:i') }}, you can search it usind the ID {{contact.requestId}} </p>

{% endblock afterTitleText %}

{% block emailCTABtnLabel %}Länderinformationen{% endblock %}
{% block emailCTABtnURL %}{{ absolute_url(path('travel_info')) }}{% endblock emailCTABtnURL %}