{% extends "emails/base.html.twig" %}

{% block emailSubject %}
    <p>Neue Anfrage auf Kubareisen {{ contact.requestId }}</p>
{% endblock emailSubject %}

{% block infoline %}
    <p>Neue Anfrage auf Kubareisen {{ contact.requestId }}</p>
{% endblock infoline %}

{% block titleOfEmail %}
    {{ contact.clientName }} Ihre Anfrage ist bei uns eingegangen.
    Mit den nachfolgenden Angaben werden wir Ihnen schnellstmöglich ein Angebot zusammenstellen.
{% endblock titleOfEmail %}

{% block afterTitleText %}
<ul>
        <li>
            Email: <b>{{ contact.clientEmail }}</b>
        </li>

        <li>
            Telefonnummer: <b>{{ contact.telephone }}</b>
        </li>
        <li>
            Reise Datum: <b> {{ contact.travelDate | date("d.m.Y") }} </b>
        </li>
        <li>

            Reise Dauer:
            <b>
            {% if contact.travelDuration == 0 %}
                Weniger als 5 Tage
            {% elseif contact.travelDuration >= 25 %}
                30 Tage und Mehr
            {% else %}
                {{ contact.travelDuration + 5 }} Tage
            {% endif %}
            </b>
        </li>
        <li>
            Anzahl Personen: <b>{{ contact.peopleAmount }}, {{ contact.childAmount }}</b>
        </li>
        <li>
            Budget:
            <b>
            {% if contact.travelBudget == 0 %}
                Weniger als 1000 EUR
            {% elseif contact.travelBudget >= 20 %}
                Geld spielt keine Rolle
            {% else %}
               {{ (contact.travelBudget + 1) * 500 }} EUR
            {% endif %}

            </b>
        </li>
        <li>
            Ausgewählte Interessen: <b>{{ contact.interests | raw }}</b>
        </li>
        <li>
            Flug bereits gebucht: <b> {% if contact.flyTicket %} Yes {%else%} No {% endif %}</b>
        </li>

        <li>
            Budget inkluidert Flug: <b> {% if contact.flyTicketOnBudget %} Yes {%else%} No {% endif %}</b>
        </li>

        {# TODO: show strings by ENUM on selfConsider,selfCharacter, etc #}

    {% set optionsEnum = ['Nichts','kaum', 'ein bisschen', 'hübsch', 'viel','vollständig'] %}


    {% if contact.selfConsider is not null and contact.selfConsider is not empty %}
        <li>
            Wie abenteuerlich bist du?: <b>{{ optionsEnum[contact.selfConsider] }} </b>
        </li>
    {% endif %}
    {% if contact.selfCharacter is not null and contact.selfCharacter is not empty %}
        <li>
                Wie sehr genießt du die Natur?: <b> {{ optionsEnum[contact.selfCharacter] }}</b>
        </li>
    {% endif %}
    {% if contact.selfLuxury is not null and contact.selfLuxury is not empty %}
        <li>
                Wie viel bevorzugen Sie Luxus?: <b> {{ optionsEnum[contact.selfLuxury] }} </b>
        </li>
    {% endif %}
    {% if contact.message is not null and contact.message is not empty %}
        <li>
                Nachricht:
                <br>
                {{ contact.message }}
        </li>
    {% endif %}
    </ul>

    <hr>
    <p>Anfrage mit der ID {{contact.requestId}} ist bei uns am {{ contact.requestDateTime | date('d.m.Y') }} eingegangen.</p>

{% endblock afterTitleText %}

{% block emailCTABtnLabel %}Länderinformationen{% endblock %}
{% block emailCTABtnURL %}{{ absolute_url(path('pageLoad', {'name' : pager.url('travel_info') } )) }}{% endblock emailCTABtnURL %}