<!DOCTYPE html>
<html>
    <head>
        <title>
                Kuba-reisen kontaktieren - {{ contact.requestId }}
        </title>
    </head>
    <body>
        <h1>Hello, {{ contact.clientName }} sended a new request</h1>
        <ul>
            <li>
                Email: {{ contact.clientEmail }}
            </li>
            <li>
                travelDate: {{ contact.travelDate | date("Y/m/d") }}
            </li>
            <li>
                travelDuration: {{ contact.travelDuration }}
            </li>
            <li>
                peopleAmount: {{ contact.peopleAmount }}
            </li>
            <li>
                travelBudget: {{ contact.travelBudget }}
            </li>
            <li>
                interests: {{ contact.interests | raw }}
            </li>
            <li>
                flyTicket: {% if contact.flyTicket %} Yes {%else%} No {% endif %}
            </li>

            {# TODO: show strings by ENUM on selfConsider,selfCharacter, etc #}
            <li>
                selfConsider: {{ contact.selfConsider }}
            </li>
            <li>
                    selfCharacter: {{ contact.selfCharacter }}
            </li>
            <li>
                    selfLuxury: {{ contact.selfLuxury }}
            </li>
            <li>
                    Message: {{ contact.message }}
            </li>
        </ul>
        <hr>
        <p>request recorded at {{ contact.requestDateTime | date('Y/m/d H:i') }}, you can search it usind the ID {{contact.requestId}} </p>
    </body>
</html>