{% extends "emails/base.html.twig" %}

{% block emailSubject %}
    <p>Neue Anfrage auf Kubareisen {{ contact.requestId }}</p>
{% endblock emailSubject %}

{% block infoline %}
    <p>Neue Anfrage auf Kubareisen {{ contact.requestId }}</p>
{% endblock infoline %}

{% block titleOfEmail %}
    {{ contact.clientName }} Ihre Anfrage ist bei uns eingegangen.
    Mit den nachfolgenden Angaben werden wir Ihnen schnellstmöglich ein Angebot zusammenstellen.
{% endblock titleOfEmail %}

{% block afterTitleText %}
<ul>
        <li>
            Email: <b>{{ contact.clientEmail }}</b>
        </li>
        <li>
            Reise Datum: <b> {{ contact.travelDate | date("d.m.Y") }} </b>
        </li>
        <li>
            Reise Dauer: <b>{{ contact.travelDuration }}</b>
        </li>
        <li>
            Anzahl Personen: <b>{{ contact.peopleAmount }}</b>
        </li>
        <li>
            Budget: <b>{{ contact.travelBudget }}</b>
        </li>
        <li>
            Ausgewählte Interessen: <b>{{ contact.interests | raw }}</b>
        </li>
        <li>
            Flug bereits gebucht: <b> {% if contact.flyTicket %} Yes {%else%} No {% endif %}</b>
        </li>

        {# TODO: show strings by ENUM on selfConsider,selfCharacter, etc #}

{#    {% set optionsEnum = ['kaum', 'ein bisschen', 'hübsch', 'viel'] %}#}
        <li>
            Wie abenteuerlich bist du?: <b>{{ contact.selfConsider }} von 5</b>
        </li>
        <li>
                Wie sehr genießt du die Natur?: <b> {{ contact.selfCharacter }} von 5</b>
        </li>
        <li>
                Wie viel bevorzugen Sie Luxus?: <b> {{ contact.selfLuxury }} von 5</b>
        </li>
        <li>
                Nachricht:
                <br>
                {{ contact.message }}
        </li>
    </ul>

    <hr>
{#    <p>request recorded at {{ contact.requestDateTime | date('Y/m/d H:i') }}, you can search it usind the ID {{contact.requestId}} </p>#}

{% endblock afterTitleText %}

{% block emailCTABtnLabel %}Länderinformationen{% endblock %}
{% block emailCTABtnURL %}{{ absolute_url(path('travel_info')) }}{% endblock emailCTABtnURL %}