{% extends 'frontend/base.html.twig' %}

{% block title %}Über uns{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/about_us.css') }}" type="text/css">
{% endblock %}

{% block body %}
    <main class="main">

        {{ include ('frontend/components/global/_hero.html.twig') }}
        {{ include ('frontend/components/about_us/_intro.html.twig') }}
        {{ include ('frontend/components/about_us/_philosophy_benefits.html.twig') }}
        {{ include ('frontend/components/about_us/_team.html.twig') }}
        {{ include ('frontend/components/about_us/_links.html.twig') }}

    </main>
{% endblock %}


{% block javascripts %}

{% endblock %}