{% extends 'frontend/base.html.twig' %}

{% block title %}{{ page.name }}{% endblock %}
{% block metadescription %}{{ page.description }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('about_us') }}
{% endblock %}

{% block body %}
    <main class="main">

        {{ include('frontend/components/global/_hero.html.twig',
            { 'content': page.name,
              'image': page.image.staticImagePath }) }}

        {{ render(controller('App\\Controller\\RegionsController:regionBreadcrumbs',  {'items':[
            {'type' : 'page', 'machineName' : 'about_us'}
        ]} )) }}

        {{ include ('frontend/components/global/_introduction.html.twig',
            {'title': page.titleDescription,
             'content' : page.description }) }}

        {{ include ('frontend/components/about_us/_philosophy_benefits.html.twig') }}

{#        {{ include ('frontend/components/about_us/_team.html.twig') }}#}

{#        {{ include ('frontend/components/about_us/_links.html.twig') }}#}

    </main>
{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('about_us') }}
{% endblock %}