{% extends 'frontend/base.html.twig' %}

{% block title %}Aktivitäten{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('activities') }}
{% endblock %}

{% block body %}

    <main class="main">

        {{ include('frontend/components/global/_hero.html.twig', {
            'content': page.name,
            'image': page.hasImage ? page.image.staticImagePath : 'static/img/hero/water/water.jpg' }) }}

        {% include('frontend/components/global/_breadcrumb.html.twig')
            with {'pages': [
            {'name' : 'Start', 'url' : path('frontend')},
            {'name' : 'Kuba Ausflüge', 'url' : path('pageLoad', {'machineName':'excursions'}) },
            {'name' : page.name, 'url' : path('pageLoad', {'machineName':'activities'}) },
        ] } %}

        {{ include('frontend/components/activities/_stories.html.twig') }}

        {{ include('frontend/components/activities/_popular_activities.html.twig') }}

        {{ render(controller('App\\Controller\\RegionsController::regionBanner')) }}

{#        {{ include('frontend/components/activities/_clients_opinions.html.twig') }}#}

    </main>

{% endblock %}


{% block javascripts %}
    <script>
        var _activities_activitiesApiPos = '{{ url('activitiesApiPos') }}';
    </script>

    {{ encore_entry_script_tags('activities') }}
{% endblock %}