{% extends 'frontend/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/activity.css') }}" type="text/css">
{% endblock %}

{% block title %}{{ activity.name }}{% endblock %}

{% block body %}

    <main class="main" {% if is_granted('ROLE_EDITOR') and not app.request.get('preview') %} id="grapes-editable" {% endif %} >

        {{ include('frontend/components/activity/_images.html.twig') }}

        <div class="float_button__container">

            {{ include ('frontend/components/activity/_float_button.html.twig') }}

            {{ include('frontend/components/activity/_description.html.twig') }}

            {{ include('frontend/components/activity/_map.html.twig') }}

            {{ include('frontend/components/activity/_itinerary.html.twig') }}

            {{ include('frontend/components/activity/_timetable.html.twig') }}
        </div>

        {{ include('frontend/components/activity/_related_activities.html.twig') }}

    </main>

{% endblock %}

{% block javascripts_vendors %}
    <script src="{{ asset('scripts/vendors/three.min.js') }}"></script>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('scripts/activity.js') }}"></script>
{% endblock %}