{% extends 'frontend/base.html.twig' %}

{% block title %}{{ activity.name }}{% endblock %}
{% block metadescription %}{{ activity.description }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('activity') }}
{% endblock %}

{% block body %}

    <main class="main">

        {{ include('frontend/components/activity/_images.html.twig') }}

        {{ render(controller('App\\Controller\\RegionsController:regionBreadcrumbs',  {'items':[
            {'type' : 'page', 'machineName' : 'excursions'},
            {'type' : 'custom', 'route' : 'activities', 'name': 'Aktivitäten', 'section' : 'activities'},
            {'type' : 'activity', 'activity' : activity },
        ]} )) }}


        <div class="float__container">

            <div class="float__container__float">
                {{ include('frontend/components/activity/_description.html.twig') }}
            </div>

            <div class="float__container__center">

                {{ include('frontend/components/activity/_itinerary.html.twig') }}

                {{ include('frontend/components/activity/_include_and_not.html.twig') }}

                {{ include('frontend/components/activity/_timetable.html.twig') }}

            </div>

        </div>

        {{ include('frontend/components/activity/_related_activities.html.twig') }}

    </main>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('activity') }}
{% endblock %}