{% extends 'frontend/base.html.twig' %}

{% block title %}{{ page.name }}{% endblock %}
{% block metadescription %}{{ page.description }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('activity') }}
{% endblock %}

{% block body %}

    <main class="main">

        {{ include('frontend/components/activity/_images.html.twig') }}

        {% include('frontend/components/global/_breadcrumb.html.twig')
            with {'pages': [
                            {'name' : 'Start', 'url' : path('frontend')},
                            {'name' : 'Kuba Ausflüge', 'url' : path('pageLoad', {'machineName' : 'excursions'}) },
                            {'name' : 'Aktivitäten', 'url' : path('pageLoad', {'machineName' : 'activities'}) },
                            {'name' : activity.name, 'url' : path('activity',
                                                                    {'id' : activity.id, 'name' : activity.machineName }) }
        ] } %}

        <div class="float_button__container">

            {{ include ('frontend/components/activity/_float_button.html.twig') }}

            {{ include('frontend/components/activity/_description.html.twig') }}

            {{ include('frontend/components/activity/_itinerary.html.twig') }}

            {{ include('frontend/components/activity/_include_and_not.html.twig') }}

            {{ include('frontend/components/activity/_timetable.html.twig') }}
        </div>

        {{ include('frontend/components/activity/_related_activities.html.twig') }}

    </main>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('activity') }}
{% endblock %}