{% extends 'frontend/base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('activity') }}
{% endblock %}

{% block title %}{{ activity.name }}{% endblock %}

{% block body %}

    <main class="main">

        {{ dump(related_activities) }}

        {{ include('frontend/components/activity/_images.html.twig') }}

        <div class="float_button__container">

            {{ include ('frontend/components/activity/_float_button.html.twig') }}

            {{ include('frontend/components/activity/_description.html.twig') }}

            {{ include('frontend/components/activity/_map.html.twig') }}

            {{ include('frontend/components/activity/_itinerary.html.twig') }}

            {{ include('frontend/components/activity/_include_and_not.html.twig') }}

            {{ include('frontend/components/activity/_timetable.html.twig') }}
        </div>

        {{ include('frontend/components/activity/_related_activities.html.twig') }}

    </main>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('activity') }}
{% endblock %}