<!DOCTYPE html>
<html lang="de">
    <head>
        <title>{% block title %}{% endblock %} | Kuba Reisen </title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block metadescription %}Kuba-reisen: get your next travel to Cuba{% endblock %}">
        <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina|Open+Sans" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="{{ asset('/img/favicon.png') }}">

        {{ encore_entry_link_tags('app') }}

        {% block stylesheets %}{% endblock %}

        {% block inline_stylesheets %}{% endblock %}
    </head>

    <body {% if app.request.get('_route') == 'frontend' %}class="loading"{% endif %}>

        {{  include('frontend/components/global/_cookie.html.twig') }}

        {{ render(controller('App\\Controller\\RegionsController::regionHeader')) }}

        {% block body %}{% endblock %}

        {% if app.request.attributes.get('_route') != 'contact' %}
            {{  include('frontend/components/global/_cart_bar.html.twig') }}
        {% endif %}

        {{ render(controller('App\\Controller\\RegionsController::regionFooter')) }}

        {% block javascripts_vendors %}{% endblock %}
        {% block javascripts %}{% endblock %}

        {{ encore_entry_script_tags('app') }}

    </body>
</html>
