{% extends 'frontend/base.html.twig' %}

{% block title %}Unsere Geheimtipps für Kuba{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('bucket_list') }}
{% endblock %}

{% block body %}
    <main class="main">

        {{ include('frontend/components/global/_hero.html.twig', {
            'hero__content__text': page.name,
            'hero__image': page.hasImage ? page.image.staticImagePath : 'static/img/hero/water/water.jpg' }) }}

{#        {{ include('frontend/components/bucket_list/_introduction.html.twig') }}#}

{#        {{ include('frontend/components/bucket_list/_items.html.twig') }}#}

{#        {{ render(controller('App\\Controller\\RegionsController::regionTopDestinations', {'preview':app.request.get('preview')} )) }}#}
    </main>
{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('bucket_list') }}
{% endblock %}