{% extends 'frontend/base.html.twig' %}

{% block title %}{{ page.name }}{% endblock %}
{% block metadescription %}{{ page.description }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('bucket_list') }}
{% endblock %}

{% block body %}
    <main class="main">

        {{ include('frontend/components/global/_hero.html.twig', {
            'content': page.name,
            'image': page.image.staticImagePath }) }}

        {{ render(controller('App\\Controller\\RegionsController:regionBreadcrumbs',  {'items':[
            {'type' : 'page', 'machineName' : 'excursions'},
            {'type' : 'page', 'machineName' : 'bucket_list'}
        ]} )) }}

        {{ include ('frontend/components/global/_introduction.html.twig',
            {'title': page.titleDescription,
             'content' : page.description }) }}


        {{ include('frontend/components/bucket_list/_items.html.twig') }}

        {{ render(controller('App\\Controller\\RegionsController::regionTopDestinations')) }}

    </main>
{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('bucket_list') }}
{% endblock %}
