{% extends 'frontend/base.html.twig' %}

{% block title %}bucket list{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/bucket_list.css') }}" type="text/css">
{% endblock %}

{% block body %}
    <main class="main {% if is_granted('ROLE_EDITOR') and app.request.get('preview') is null  %}grapes-editable{% endif %}">

        {{ include('frontend/components/global/_hero.html.twig') }}

        {{ include('frontend/components/bucket_list/_introduction.html.twig') }}

        {{ include('frontend/components/bucket_list/_items.html.twig') }}

    </main>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('scripts/bucket_list.js') }}"></script>
{% endblock %}