{% extends 'frontend/base.html.twig' %}

{% block title %}Unsere Geheimtipps für Kuba{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('bucket_list') }}
{% endblock %}

{% block body %}
    <main class="main">

        {{ include('frontend/components/global/_hero.html.twig', {
            'content': page.name,
            'image': page.hasImage ? page.image.staticImagePath : 'static/img/hero/water/water.jpg' }) }}

        {% include('frontend/components/global/_breadcrumb.html.twig')
            with {'pages': [
            {'name' : 'Start', 'url' : path('frontend')},
            {'name' : 'Kuba Ausflüge', 'url' : path('pageLoad', {'machineName':'excursions'}) },
            {'name' : page.name, 'url' : path('pageLoad', {'machineName':'activities'}) },
        ] } %}

        {{ include('frontend/components/bucket_list/_introduction.html.twig') }}

        {{ include('frontend/components/bucket_list/_items.html.twig') }}

        {{ render(controller('App\\Controller\\RegionsController::regionTopDestinations')) }}

    </main>
{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('bucket_list') }}
{% endblock %}
