{% extends 'base.html.twig' %}

{% block title %}Contact Form {% endblock %}

{% block body %}



		<a class="visually-hidden focusable" href="#overview">Skip Navigation</a>

        <header class="header eighty-percent-height" >

			{{ include('frontend/_navigation-menu.html.twig') }}
			<img class="header_bigpicture" src="{{ asset('img/eva-blue-189555-unsplash.jpg') }}" alt="wonnderfull img">

			<div class="row row-middle header_headline no-lat-margins">
				<div class="grid-half">
					<h1 class="header_headline_text underline">Contact</h1>
				</div>
			</div>
        </header>


		<main id="sections_container margin-top">

			<section class="section contact-form container margin-top">
				<div class="row">
					<div class="grid-full text-center">
						<h2 class="top-destinations_title">
							Let's start with the basic
						</h2>
						<p>While putting custom properties on the :root is great for things that you need to be available throughout your site</p>
					</div>
				</div>

				{{ form_start(form) }}
                {% form_theme form 'form/fields.html.twig' %}

				<div class="row row-center float-center padding-top">
						<div class="grid-fifth">
							{{ form_label(form.travelDate) }}
						</div>
						<div class="grid-fourth">
							{{ form_widget(form.travelDate) }}
						</div>
				</div>

				<div class="row row-center float-center padding-top">
					<div class="grid-fifth">
						{{ form_label(form.travelDuration) }}
					</div>
					<div class="grid-fourth select-control">
						{{ form_widget(form.travelDuration) }}
					</div>
				</div>

				<div class="row row-center float-center padding-top">
					<div class="grid-fifth">
						{{ form_label(form.peopleAmount) }}
					</div>
					<div class="grid-fourth select-control">
						{{ form_widget(form.peopleAmount) }}
					</div>
				</div>

				<div class="row row-center float-center padding-top">
					<div class="grid-fifth">
						{{ form_label(form.travelBudget) }}
					</div>
					<div class="grid-fourth select-control">
						{{ form_widget(form.travelBudget) }}
					</div>
				</div>

				<div class="row row-center float-center padding-top">
					<div class="grid-full text-center">
						<p>Please, select the places and experiences you want to live</p>
					</div>
				</div>


				<div class="row">
					<div class="grid-full text-center">
						<h2 class="top-destinations_title">
							More info, better options...
						</h2>
						<p>While putting custom properties on the :root is great for things that you need to be available throughout your site</p>
					</div>
				</div>

				<div class="travel-options_grid_container">

					<div class="travel-options_grid_container_item" style="grid-area: img1">
						<img src="{{ asset('img/Cuba-56_SD.jpg') }}">
					</div>

					<div class="travel-options_grid_container_item" style="grid-area: img2">
						<img src="{{ asset('img/Cuba-07_SD.jpg') }}">
					</div>

					<div class="travel-options_grid_container_item" style="grid-area: img3">
						<img src="{{ asset('img/Cuba-08_SD.jpg') }}">
					</div>

					<div class="travel-options_grid_container_item" style="grid-area: img4">
						<img src="{{ asset('img/Cuba-09_SD.jpg') }}">
					</div>

				</div>


				<div class="row row-center float-center padding-top">
					<div class="grid-fifth">
						{{ form_label(form.flyTicket) }}
					</div>
					<div class="grid-fourth">
						{{ form_widget(form.flyTicket) }}
					</div>
				</div>

				<button class="btn">{{ button_label|default('Save') }}</button>
				{{ form_end(form) }}

			</section>

			<section class="section contact_landscape contact_second margin-top" style="background-image: url({{ asset('img/kwan-fung-1134032-unsplash.jpg') }})">

				<div class="row row-middle header_headline no-lat-margins">
					<div class="grid-full text-center">
						<h1 class="header_headline_text">Take a step toward your travel to Cuba</h1>
						<button class="btn btn-transparent header_headline_btn">Talk to an Expert!</button>
					</div>
				</div>

			</section>

		</main>

		<footer class="footer">
			<div class="texture"  style="background: url({{ asset('img/Textura.png') }}) no-repeat 100% 100%">
				<div class="row no-lat-margins">

					<div class="grid-fourth">
						<h2 class="navigation_menu_headline_text">Destination Cuba</h2>
						<ul class="navigation_menu_list">
							<li class="navigation_menu_list_item">
								La Habana
							</li>
							<li class="navigation_menu_list_item">
								Playas
							</li>
							<li class="navigation_menu_list_item">
								Lugares olvidados
							</li>
							<li class="navigation_menu_list_item">
								Must see places
							</li>
							<li class="navigation_menu_list_item">
								West of Cuba
							</li>

						</ul>
					</div>

					<div class="grid-fourth">
						<h2 class="navigation_menu_headline_text">Activities</h2>
						<ul class="navigation_menu_list">
							<li class="navigation_menu_list_item">
								Cannopig in Vinales
							</li>
							<li class="navigation_menu_list_item">
								Diving in Varadero
							</li>
							<li class="navigation_menu_list_item">
								Horse riding in Vinales
								<span>New!</span>
							</li>


						</ul>
					</div>

					<div class="grid-fourth">
						<h2 class="navigation_menu_headline_text">Experience Cuba</h2>
						<ul class="navigation_menu_list">
							<li class="navigation_menu_list_item">
								Individual
							</li>
							<li class="navigation_menu_list_item">
								Group<span>Trending!</span>
							</li>
							<li class="navigation_menu_list_item">
								Thematic
							</li>
							<li class="navigation_menu_list_item">
								Family
							</li>
							<li class="navigation_menu_list_item">
								Rent a car
							</li>


						</ul>
					</div>

					<div class="grid-fourth">
						<h2 class="navigation_menu_headline_text">Travel Info</h2>
						<ul class="navigation_menu_list">
							<li class="navigation_menu_list_item">
								Documents
							</li>
							<li class="navigation_menu_list_item">
								Checklists
							</li>
							<li class="navigation_menu_list_item">
								Vacines
							</li>



						</ul>
					</div>
				</div>
				<hr style="border-top: 4px solid #ffffff; width: 80%">
				<div class="row  no-lat-margins row-around">
					<div class="grid-fourth">
						<h2 class="navigation_menu_headline_text">Contact in Germany</h2>
						<ul class="navigation_menu_list">
							<li class="navigation_menu_list_item">
								While putting custom properties on the :root is great for things that you need to be available throughout your site
							</li>




						</ul>
					</div>

					<div class="grid-fourth">
						<h2 class="navigation_menu_headline_text">Contact in Cuba</h2>
						<ul class="navigation_menu_list">
							<li class="navigation_menu_list_item">
								While putting custom properties on the :root is great for things that you need to be available throughout your site
							</li>




						</ul>
					</div>
					<div class="grid-fourth">
						<ul class="navigation_menu_list">
							<li class="navigation_menu_list_item">
								Documents
							Suscribe to our newsletter about offers and travel tips
							<li class="navigation_menu_list_item">
								<input type="text">
								<button class="btn btn-transparent float-right">Sing me up!</button>
							</li>




						</ul>
					</div>
				</div>
				<div class="row no-lat-margins margin-top">
					<div class="grid-full text-center">
						<p>Copyright Kuba-reisen.de 2019</p>
					</div>
				</div>
			</div>

		</footer>

{% endblock %}
