{% extends 'frontend/base.html.twig' %}

{% block title %}Wenden Sie sich an einen Spezialisten{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('contact') }}
{% endblock stylesheets %}


{% block body %}

    <main class="main">

        {{ include('frontend/components/global/_hero.html.twig', {
            'content': page.name,
            'image': page.hasImage ? page.image.staticImagePath : 'static/img/hero/water/water.jpg' }) }}

        {{ form_start(form, { 'attr': {'class': 'form'} } ) }}
        {% form_theme form 'form/fields.html.twig' %}

            {{ include('frontend/components/contact/_fromTravel.html.twig') }}

            {{ include('frontend/components/contact/_advance.html.twig') }}

            {{ include('frontend/components/contact/_basic.html.twig') }}

            {{ include('frontend/components/contact/_personal.html.twig') }}

        {{ form_widget(form.interests) }}
        {{ form_end(form) }}
    </main>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('contact') }}
{% endblock javascripts %}