{% extends 'frontend/base.html.twig' %}

{% block title %}Contact Form {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/contact.css') }}" type="text/css">
{% endblock stylesheets %}

{% block javascripts %}
	{{ parent() }}
	<script defer src="{{ asset('dist/js/contact.min.js') }}"></script>
{% endblock javascripts %}


{% block body %}

    {{ include('frontend/components/global/_header.html.twig') }}

    <main class="main">

        {% set hero_title = "Contact" %}
        {% include 'frontend/components/global/_hero.html.twig' with  {'hero_title': hero_title} only %}

        {{ include('frontend/components/contact/_basic.html.twig') }}

        {{ include('frontend/components/contact/_advance.html.twig') }}

    </main>

    {{ include('frontend/components/global/_footer.html.twig') }}

{% endblock %}
