{% extends 'frontend/base.html.twig' %}

{% block title %}Entdecken 👌 und entdecken Sie {{ destination.name }} {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/destinations.css') }}" type="text/css">
{% endblock %}

{% block body %}
    <main class="main">

        {{ include('frontend/components/global/_hero.html.twig', {
            'hero__content__text': destination.name,
            'hero__image': destination.staticImagePath}) }}

        {% include('frontend/components/global/_breadcrumb.html.twig')
            with {'pages': [
            {'name' : 'Start', 'url' : path('frontend')},
            {'name' : 'Kuba erkunden', 'url' : path('exploring')},
            {'name' : destination.name, 'url' : path('destination',
                {'id' : destination.id, 'name' : destination.machineName }) }
        ] } %}

        {{ include('frontend/components/destinations/_introduction.html.twig') }}

        {{ include('frontend/components/destinations/_features_list.html.twig') }}

        {{ include('frontend/components/destinations/_activities.html.twig') }}

        {{ render(controller('App\\Controller\\RegionsController::regionTopDestinations', {'preview':app.request.get('preview')} )) }}

    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('scripts/destination.js') }}"></script>
{% endblock %}