{% extends 'frontend/base.html.twig' %}

{% block title %} {{ destination.name }} {% endblock %}
{% block metadescription %} {{ destination.description }} {% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('destination') }}
{% endblock %}

{% block body %}
    <main class="main">

        {{ include('frontend/components/global/_hero.html.twig', {
            'content': destination.name,
            'image': destination.hasImage ? destination.image.staticImagePath : 'static/img/hero/water/water.jpg' }) }}

        {% include('frontend/components/global/_breadcrumb.html.twig')
            with {'pages': [
            {'name' : 'Start', 'url' : path('frontend')},
            {'name' : 'Kuba erkunden', 'url' : path('pageLoad', {'machineName':'exploring'})},
            {'name' : destination.name, 'url' : path('destination', {'id' : destination.id, 'name' : destination.machineName }) }
        ] } %}

        {{ include('frontend/components/destinations/_introduction.html.twig') }}

        {{ include('frontend/components/destinations/_features_list.html.twig') }}

        {{ include('frontend/components/destinations/_activities.html.twig') }}

        {{ render(controller('App\\Controller\\RegionsController::regionTopDestinations')) }}

    </main>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('destination') }}
{% endblock %}
