{% extends 'frontend/base.html.twig' %}

{% block title %}{{ page.name }}{% endblock %}
{% block metadescription %}{{ page.description }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('excursions') }}
{% endblock %}

{% block body %}
    <main class="main">

        {{ include('frontend/components/global/_hero.html.twig', {
            'content': page.name,
            'image': page.image.staticImagePath }) }}

        {{ render(controller('App\\Controller\\RegionsController:regionBreadcrumbs',  {'items':[
            {'type' : 'page', 'machineName' : 'excursions'}
        ]} )) }}

        {{ include ('frontend/components/global/_introduction.html.twig',
            {'title': page.titleDescription,
             'content' : page.description }) }}

        {{ include('frontend/components/global/_features_list.html.twig',
            {'descriptionFragments' : page.descriptionFragments }) }}

        {#        {{ include('frontend/components/destinations/_activities.html.twig') }}#}

        {{ render(controller('App\\Controller\\RegionsController::regionTopDestinations', {'preview':app.request.get('preview')} )) }}

    </main>
{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('excursions') }}
{% endblock %}