{% extends 'frontend/base.html.twig' %}

    {% block title %}Entdecken 👌 und entdecken Sie
        {{ page.getElementContent('hero__content__text', 'Kuba erkunden') | striptags}}
    {% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('exploring') }}
{% endblock %}

{% block body %}
    <main class="main">

        {{ include('frontend/components/global/_hero.html.twig', {
            'content': page.name,
            'image': page.hasImage ? page.image.staticImagePath : 'static/img/hero/water/water.jpg' }) }}

        {% include('frontend/components/global/_breadcrumb.html.twig')
            with {'pages': [
            {'name' : 'Start', 'url' : path('frontend')},
            {'name' : 'Kuba erkunden', 'url' : path('exploring')},
        ] } %}

        {{ include('frontend/components/destinations/_introduction.html.twig') }}

        {{ include('frontend/components/destinations/_generic_place_features_list.html.twig') }}

        {#        {{ include('frontend/components/destinations/_activities.html.twig') }}#}

        {{ render(controller('App\\Controller\\RegionsController::regionTopDestinations', {'preview':app.request.get('preview')} )) }}

    </main>
{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('exploring') }}
{% endblock %}