{% extends 'frontend/base.html.twig' %}

{% block title %}{{ page.name }}{% endblock %}
{% block metadescription %}{{ page.description }}{% endblock %}

{% block stylesheets %}
      {{ encore_entry_link_tags('faq') }}
{% endblock %}

{% block body %}
    <main class="main">

        {{ include('frontend/components/global/_hero.html.twig', {
            'content': page.titleDescription,
            'image': page.hasImage }) }}

        {{ render(controller('App\\Controller\\RegionsController:regionBreadcrumbs',  {'items':[
            {'type' : 'page', 'machineName' : 'faq'}
        ]} )) }}

        {{ include ('frontend/components/faq/_intro.html.twig') }}

        {{ render(controller('App\\Controller\\RegionsController::regionFaq')) }}

    </main>
{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('faq') }}
{% endblock %}
