{% extends 'frontend/base.html.twig' %}

{% block title %}Hello User, welcome to Kuba-reisen {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/faq.css') }}" type="text/css">
{% endblock %}

{% block body %}

    {{ include('frontend/components/global/_header.html.twig') }}
    <main class="main">

        {% set hero_title = "FAQ" %}
        {% include 'frontend/components/global/_hero.html.twig' with  {'hero_title': hero_title} only %}

        <div class="main__page"
            {% if is_granted('ROLE_EDITOR') %}
                id="grapes-editable"
            {% endif %}>

            {% include 'frontend/components/faq/_intro.html.twig' %}

            {% include 'frontend/components/faq/_content_index.html.twig' %}

            {% include 'frontend/components/faq/_question.html.twig' %}
        </div>

    </main>

    {{ include('frontend/components/global/_footer.html.twig') }}

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('scripts/faq.js') }}"></script>
{% endblock %}