{% extends 'frontend/base.html.twig' %}

{% block title %}Reisen nach Kuba 🎊 von Hand gemacht{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/index.css') }}" type="text/css">
{% endblock %}

{% if not is_granted('ROLE_EDITOR') or app.request.get('preview') %}
    {% block inline_stylesheets %}
        <style>

            body.loading{
                overflow: hidden;
            }

            @keyframes pageLoading {
                0%{
                    opacity: 1;
                }
                50%{
                    opacity: .5;
                }
                100%{
                    opacity: 0;
                }
            }

            .overlay-loading{
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: black;
                z-index: 10;
                transition: all;
            }

            body.loading .overlay-loading{
                opacity: 1;
            }

            body.render .overlay-loading{
                opacity: 0;
                animation: pageLoading .5s ease-in-out 1;
            }

        </style>
    {% endblock %}
{% endif %}

{% block body %}
    <main class="main {% if is_granted('ROLE_EDITOR') and app.request.get('preview') is null  %}grapes-editable{% endif %}">

        {{ include('frontend/components/index/_loading.html.twig') }}

        {{ include('frontend/components/index/_hero.html.twig') }}

        {{ include('frontend/components/index/_overview.html.twig') }}

        {{ include('frontend/components/index/_who_we_are.html.twig') }}

        {{ include('frontend/components/index/_why_with_us.html.twig') }}

        {{ include('frontend/components/global/_banner_sky.html.twig') }}

        {{ render(controller('App\\Controller\\RegionsController::regionTopDestinations', {'preview':app.request.get('preview')} )) }}

        {#{{ include('frontend/components/_divider.html.twig') }}#}

        {#{{ include('frontend/components/index/_clients_opinions.html.twig') }}#}

        {#{{ include('frontend/components/index/_team_opinions.html.twig') }}#}

        {{ render(controller('App\\Controller\\RegionsController::regionTravelOptions', {'preview':app.request.get('preview')} )) }}

    </main>
{% endblock %}

{% block javascripts_vendors %}
    <script src="{{ asset('scripts/vendors/three.min.js') }}"></script>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('scripts/index.js') }}"></script>
{% endblock %}