{% extends 'frontend/base.html.twig' %}

{% block title %}Hello User, welcome to Kuba-reisen {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/index.css') }}" type="text/css">
    {#<link rel="stylesheet" href="{{ asset('styles/base.css') }}" type="text/css">#}
{% endblock %}

{% block body %}

    {{ include('frontend/components/global/_header.html.twig') }}

    <main class="main">

        {{ include('frontend/components/index/_hero.html.twig') }}

        {{ include('frontend/components/index/_overview.html.twig') }}

        {{ include('frontend/components/index/_who_we_are.html.twig') }}

        {{ include('frontend/components/index/_why_with_us.html.twig') }}

        {{ include('frontend/components/index/_banner_sky.html.twig') }}

        {{ include('frontend/components/global/_top_destination.html.twig') }}

            {#{{ include('frontend/components/_divider.html.twig') }}#}

            {#{{ include('frontend/components/index/_clients_opinions.html.twig') }}#}

            {#{{ include('frontend/components/index/_team_opinions.html.twig') }}#}

        {{ include('frontend/components/index/_travel_options.html.twig') }}

    </main>

    {{ include('frontend/components/global/_footer.html.twig') }}

{% endblock %}

{% block javascripts_vendors %}
    <script src="{{ asset('scripts/vendors/three.min.js') }}"></script>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('scripts/index.js') }}"></script>
{% endblock %}
