{% extends 'frontend/base.html.twig' %}

{% block title %}Hello User, welcome to Kuba-reisen {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/index.css') }}" type="text/css">
    {#<link rel="stylesheet" href="{{ asset('styles/base.css') }}" type="text/css">#}
{% endblock %}

{% block body %}

    {{ include('frontend/components/global/_header.html.twig') }}

    {% if is_granted('ROLE_EDITOR') %}
        <div id="grapes-editable">
    {% endif %}

    <main class="main {% if is_granted('ROLE_EDITOR') %}grapes-editable{% endif %}">


        {{ include('frontend/components/index/_hero.html.twig') }}


            {{ include('frontend/components/index/_overview.html.twig') }}

            {{ include('frontend/components/index/_who_we_are.html.twig') }}

            {{ include('frontend/components/index/_why_with_us.html.twig') }}

            {{ include('frontend/components/global/_banner_sky.html.twig') }}

            {{ render(controller('App\\Controller\\FrontendController::blockTopDestinations')) }}
{#            {{ include('frontend/components/global/_top_destination.html.twig') }}#}

            {#{{ include('frontend/components/_divider.html.twig') }}#}

            {#{{ include('frontend/components/index/_clients_opinions.html.twig') }}#}

            {#{{ include('frontend/components/index/_team_opinions.html.twig') }}#}

            {{ render(controller('App\\Controller\\FrontendController::blockTravelOptions')) }}
{#            {{ include('frontend/components/index/_travel_options.html.twig') }}#}





    </main>
    {{ render(controller('App\\Controller\\FrontendController::blockFooter')) }}
{#    {{ include('frontend/components/global/_footer.html.twig') }}#}

    {% if is_granted('ROLE_EDITOR') %}
        </div>
    {% endif %}

{% endblock %}

{% block javascripts_vendors %}
    <script src="{{ asset('scripts/vendors/three.min.js') }}"></script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('scripts/index.js') }}"></script>
{% endblock %}