{% extends 'frontend/base.html.twig' %}

{% block title %}Reisen nach Kuba 👌 von Hand gemacht{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('index') }}
    {{ encore_entry_link_tags('loading') }}
{% endblock %}

{% block body %}
    <main class="main {% if is_granted('ROLE_EDITOR') and app.request.get('preview') is null  %}grapes-editable{% endif %}">

        {{ include('frontend/components/index/_loading.html.twig') }}

        {{ include('frontend/components/index/_hero.html.twig') }}

        {{ render(controller('App\\Controller\\RegionsController::regionLoader', {'machineName': 'overview'})) }}

        {{ render(controller('App\\Controller\\RegionsController::regionLoader', {'machineName': 'who_we_are'})) }}

        {{ render(controller('App\\Controller\\RegionsController::regionLoader', {'machineName': 'why_with_us'})) }}

        {{ render(controller('App\\Controller\\RegionsController::regionBanner')) }}

        {{ render(controller('App\\Controller\\RegionsController::regionTopDestinations')) }}

        {#{{ include('frontend/components/_divider.html.twig') }}#}

        {#{{ include('frontend/components/index/_clients_opinions.html.twig') }}#}

        {#{{ include('frontend/components/index/_team_opinions.html.twig') }}#}

{#        {{ include('frontend/components/index/_travel_options.html.twig') }}#}

    </main>
{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('index') }}
{% endblock %}