{% extends 'frontend/base.html.twig' %}

{% block title %}Reisen nach Kuba 👌 von Hand gemacht{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('index') }}
{#    <link rel="stylesheet" href="{{ asset('styles/index.css') }}" type="text/css">#}
{% endblock %}


{% block inline_stylesheets %}
    {% if not is_granted('ROLE_EDITOR') or app.request.get('preview') %}
{#        <style>#}
{#            {{ source('@public/static/styles/loading.css') }}#}
{#        </style>#}
            {{ encore_entry_link_tags('loading') }}
    {% endif %}
{% endblock %}

{% block body %}
    <main class="main {% if is_granted('ROLE_EDITOR') and app.request.get('preview') is null  %}grapes-editable{% endif %}">

{#        {{ include('frontend/components/index/_loading.html.twig') }}#}

        {{ include('frontend/components/index/_hero.html.twig') }}

        {{ include('frontend/components/index/_overview.html.twig') }}

        {{ include('frontend/components/index/_who_we_are.html.twig') }}

        {{ include('frontend/components/index/_why_with_us.html.twig') }}

        {{ include('frontend/components/global/_banner_sky.html.twig') }}

        {{ render(controller('App\\Controller\\RegionsController::regionTopDestinations', {'preview':app.request.get('preview')} )) }}

        {#{{ include('frontend/components/_divider.html.twig') }}#}

        {#{{ include('frontend/components/index/_clients_opinions.html.twig') }}#}

        {#{{ include('frontend/components/index/_team_opinions.html.twig') }}#}

        {{ render(controller('App\\Controller\\RegionsController::regionTravelOptions', {'preview':app.request.get('preview')} )) }}

    </main>
{% endblock %}


{% block javascripts %}
{#    <script src="{{ asset('scripts/index.js') }}"></script>#}
    {{ encore_entry_script_tags('index') }}
{% endblock %}