{% extends 'frontend/base.html.twig' %}

{% block title %}Landesinformationen{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/faq.css') }}" type="text/css">
{% endblock %}

{% block body %}
    <main class="main">

        {{ include ('frontend/components/global/_hero.html.twig') }}

        <section class="section intro">

            <div class="section__title">
                <div class="section__title__highlight">
                    <h2 data-grape_id="landesinfos_intro_title" data-grape_format="txt">{{ page.ElementContent('landesinfos_intro_title',"Landesinformationen") | raw }}</h2>
                </div>
            </div>

            <div class="intro__content" data-grape_id="landesinfos_intro_text">
                {{ page.ElementContent('landesinfos_intro_text',"intro text") | raw }}
            </div>
        </section>


{#        **************#}

{#        <section class="section content_index">#}

{#            <ul class="content_index__list">#}
{#                <li><a href="#section_question__1" data-grape_id="landesinfos_index_t1" data-grape_format="txt">{{ page.ElementContent('landesinfos_index_t1',"Vor der Reise – Reisebuchung und Konditionen") | raw }}</a></li>#}
{#                <li><a href="#section_question__2" data-grape_id="landesinfos_index_t2" data-grape_format="txt">{{ page.ElementContent('landesinfos_index_t2',"Vor der Reise - Reisevorbereitung") | raw }}</a></li>#}
{#                <li><a href="#section_question__3" data-grape_id="landesinfos_index_t3" data-grape_format="txt">{{ page.ElementContent('landesinfos_index_t3',"Während der Reise") | raw }}</a></li>#}
{#                <li><a href="#section_question__4" data-grape_id="landesinfos_index_t4" data-grape_format="txt">{{ page.ElementContent('landesinfos_index_t4',"Nach der Reise") | raw }}</a></li>#}
{#            </ul>#}

{#        </section>#}


{#        **************#}

        <div id="section_question__1" class="questions__topic" style="width: 80%;">

            <div class="questions__topic__title">
                <h2 data-grape_id="landesinfos_topic_title_1" data-grape_format="txt">{{ page.ElementContent('landesinfos_topic_title_1',"Title of section") | raw }}</h2>
            </div>


                <div class="question">
                    <div class="question__title">
                        <h3 data-grape_id="landesinfos_topic_question_title_1" data-grape_format="txt">
                            {{ page.ElementContent('landesinfos_topic_question_title_1',"Question title") | raw }}
                        </h3>
                    </div>

                    {% set edit_class = '' %}
                    {% if is_granted('ROLE_EDITOR') and app.request.get('preview') is null %}
                        {%  set edit_class = 'question__answer--active' %}
                    {% endif %}

                    <div class="question__answer {{ edit_class }}" data-grape_id="landesinfos_topic_question_answer_1">
                        {{ page.ElementContent('landesinfos_topic_question_answer_1',"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,") | raw }}
                    </div>
                </div>

        </div>

    </main>
{% endblock %}


{% block javascripts %}

{% endblock %}