{% extends 'frontend/base.html.twig' %}

    {% block title %}Entdecken 👌 und entdecken Sie
        {{ page.getElementContent('hero__content__text', 'Kuba bereisen') | striptags}}
    {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/destinations.css') }}" type="text/css">
{% endblock %}

{% block body %}
    <main class="main">

        {{ include('frontend/components/global/_hero.html.twig') }}

        {{ include('frontend/components/destinations/_introduction.html.twig') }}

        {{ include('frontend/components/destinations/_generic_place_features_list.html.twig') }}

{#        {{ include('frontend/components/destinations/_activities.html.twig') }}#}

        {{ render(controller('App\\Controller\\RegionsController::regionTopDestinations', {'preview':app.request.get('preview')} )) }}

    </main>
{% endblock %}

{% block javascripts_vendors %}
    <script src="{{ asset('scripts/vendors/three.min.js') }}"></script>
{% endblock %}

{#{% block javascripts %}#}
{#    <script src="{{ asset('scripts/destination.js') }}"></script>#}
{#{% endblock %}#}