{% extends 'frontend/base.html.twig' %}

    {% block title %}Landesinformationen{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('travel_info') }}
{% endblock %}

{% block body %}
    <main class="main">

        {{ include('frontend/components/global/_hero.html.twig', {
            'content': page.name,
            'image': page.hasImage ? page.image.staticImagePath : 'static/img/hero/water/water.jpg' }) }}

        {#{ include('frontend/components/destinations/_introduction.html.twig') }#}

        <section class="section introduction">
            <div class="introduction__content">
                
            </div>
        </section>

        {{ include('frontend/components/destinations/_generic_place_features_list.html.twig') }}

        {#        {{ include('frontend/components/destinations/_activities.html.twig') }}#}

        {{ render(controller('App\\Controller\\RegionsController::regionTopDestinations')) }}

    </main>
{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('travel_info') }}
{% endblock %}