{% extends 'frontend/base.html.twig' %}

{% block title %}{{ page.name }}{% endblock %}
{% block metadescription %}{{ page.description }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('travel_info') }}
{% endblock %}

{% block body %}
    <main class="main">

        {{ include('frontend/components/global/_hero.html.twig', {
            'content': page.name,
            'image': page.hasImage }) }}


        {{ render(controller('App\\Controller\\RegionsController:regionBreadcrumbs',  {'items':[
            {'type' : 'page', 'machineName' : 'travel_info'}
        ]} )) }}

        {{ include ('frontend/components/global/_introduction.html.twig',
            {'title': page.titleDescription,
             'content' : page.description }) }}

        {{ include('frontend/components/global/_features_list.html.twig',
            {'descriptionFragments' : page.descriptionFragments }) }}

        {{ render(controller('App\\Controller\\RegionsController::regionTopDestinations')) }}

    </main>
{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('travel_info') }}
{% endblock %}