<section class="section content_index">
    <div class="section__title">
        <div class="section__title__highlight section__title__highlight--no-decorator">
            <h2 data-grapeid="faq_index_title">{{ page.ElementContent('faq_index_t1',"Content") | raw }}</h2>
        </div>
    </div>

    <ul>
        <li><a href="#" data-grapeid="faq_index_t1">{{ page.ElementContent('faq_index_t1',"Random item") | raw }}</a></li>
        <li><a href="#" data-grapeid="faq_index_t2">{{ page.ElementContent('faq_index_t2',"Random item") | raw }}</a></li>
        <li><a href="#" data-grapeid="faq_index_t3">{{ page.ElementContent('faq_index_t3',"Random item") | raw }}</a></li>
        <li><a href="#" data-grapeid="faq_index_t4">{{ page.ElementContent('faq_index_t4',"Random item") | raw }}</a></li>
        <li><a href="#" data-grapeid="faq_index_t5">{{ page.ElementContent('faq_index_t5',"Random item") | raw }}</a></li>

    </ul>

</section>