<section class="section questions">

    <div class="questions__topic">
        <div class="questions__topic__title">
            <h2 data-grape_id="faq_topic_t1">{{ page.ElementContent('faq_index_t1',"Vor der Reise – Reisebuchung und Konditionen") | raw }}</h2>
        </div>

        <div class="question">
            <div class="question__title">
                <h3 data-grape_id="faq_topic_question_t11">{{ page.ElementContent('faq_topic_question_t11',"Wann sollte ich meine Kubareise buchen?") | raw }}</h3>
            </div>
            <div class="question__answer">
                <p  data-grape_id="faq_topic_question_p11">
                    {{ page.ElementContent('faq_topic_question_p11',"Wenn Sie in der Hochsaison (Winter: 15.10 bis 15.05. oder Sommer: 15.07. bis 15.10.) nach kuba-reisen.de möchten oder zu generellen Ferienterminen, sollten Sie Ihre Reise mindestens 6-8 Monate vor dem gewünschten Reisedatum buchen. Für Reisen in der Nebensaison (01.06. bis 15.07 und 01.09. bis 15.10.) reicht es meist aus, die Reise 3-6 Monate vor Reiseantritt zu buchen. Aber auch hier gibt es Ausnahmen. Da Kuba zurzeit ein sehr gefragtes Reiseziel ist gilt generell: Je früher Sie buchen, desto größer ist die Chance, die Reise genauso machen zu können wie gewünscht. Je näher es an das Reisedatum geht, desto weniger Verfügbarkeiten gibt es bei Hotels und Mietwagen.") | raw }}
                </p>
                {#<p  data-grape_id="faq_topic_question_p12">#}
                    {#{{ page.ElementContent('faq_topic_question_p12',"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eaque eius expedita in incidunt ipsa maiores modi mollitia natus optio praesentium quod reiciendis repellat, soluta totam veniam voluptatum. Aliquam, ex.") | raw }}#}
                {#</p>#}
            </div>
        </div>

        <div class="question">
            <div class="question__title">
                <h3 data-grape_id="faq_topic_question_t21">{{ page.ElementContent('faq_topic_question_t21',"Wie kann ich meine Reise bezahlen?") | raw }}</h3>
            </div>
            <div class="question__answer">
                <p  data-grape_id="faq_topic_question_p21">
                    {{ page.ElementContent('faq_topic_question_p21',"Bei Buchung Ihrer Kuba-Reise oder eines Ausfluges berechnen wir Ihnen mit Erhalt der Buchungsbestätigung eine Anzahlung in Höhe von 20 % des Reisepreises oder in Höhe des Flugpreises. Die Restzahlung wird zu dem Datum fällig, das auf Ihrer Rechnung angezeigt ist. Für beide Zahlungen erhalten Sie von kuba-reisen.de einen vorausgefüllten Überweisungsträger. Dieser dient als Vorlage der Überweisung. Wir akzeptieren auch Kreditkarten, jedoch nurVisa und Mastercard. Sie können die Zahlung  online auf unserer Webseite <a href='#'>Kredikartenzahlung</a> über eine gesicherte SSL-Verbindung vornehmen. ") | raw }}
                </p>
                <p  data-grape_id="faq_topic_question_p22">
                    {{ page.ElementContent('faq_topic_question_p22',"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eaque eius expedita in incidunt ipsa maiores modi mollitia natus optio praesentium quod reiciendis repellat, soluta totam veniam voluptatum. Aliquam, ex.") | raw }}
                </p>
            </div>
        </div>

        <div class="question">
            <div class="question__title">
                <h3 data-grape_id="faq_topic_question_t31">{{ page.ElementContent('faq_topic_question_t31',"some title random") | raw }}</h3>
            </div>
            <div class="question__answer">
                <p  data-grape_id="faq_topic_question_p31">
                    {{ page.ElementContent('faq_topic_question_p31',"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eaque eius expedita in incidunt ipsa maiores modi mollitia natus optio praesentium quod reiciendis repellat, soluta totam veniam voluptatum. Aliquam, ex.") | raw }}
                </p>
                <p  data-grape_id="faq_topic_question_p32">
                    {{ page.ElementContent('faq_topic_question_p32',"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eaque eius expedita in incidunt ipsa maiores modi mollitia natus optio praesentium quod reiciendis repellat, soluta totam veniam voluptatum. Aliquam, ex.") | raw }}
                </p>
            </div>
        </div>
    </div>



    <div class="questions__topic">
        <div class="questions__topic__title">
            <h2 data-grape_id="faq_topic_t1_1">{{ page.ElementContent('faq_index_t1_1',"Some topic importante") | raw }}</h2>
        </div>

        <div class="question">
            <div class="question__title">
                <h3 data-grape_id="faq_topic_question_t11_1">{{ page.ElementContent('faq_topic_question_t11_1',"some title random") | raw }}</h3>
            </div>
            <div class="question__answer">
                <p  data-grape_id="faq_topic_question_p11_1">
                    {{ page.ElementContent('faq_topic_question_p11_1',"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eaque eius expedita in incidunt ipsa maiores modi mollitia natus optio praesentium quod reiciendis repellat, soluta totam veniam voluptatum. Aliquam, ex.") | raw }}
                </p>
                <p  data-grape_id="faq_topic_question_p12_1">
                    {{ page.ElementContent('faq_topic_question_p12_1',"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eaque eius expedita in incidunt ipsa maiores modi mollitia natus optio praesentium quod reiciendis repellat, soluta totam veniam voluptatum. Aliquam, ex.") | raw }}
                </p>
            </div>
        </div>

        <div class="question">
            <div class="question__title">
                <h3 data-grape_id="faq_topic_question_t21_1">{{ page.ElementContent('faq_topic_question_t21_1',"some title random") | raw }}</h3>
            </div>
            <div class="question__answer">
                <p  data-grape_id="faq_topic_question_p21_1">
                    {{ page.ElementContent('faq_topic_question_p21_1',"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eaque eius expedita in incidunt ipsa maiores modi mollitia natus optio praesentium quod reiciendis repellat, soluta totam veniam voluptatum. Aliquam, ex.") | raw }}
                </p>
                <p  data-grape_id="faq_topic_question_p22_1">
                    {{ page.ElementContent('faq_topic_question_p22_1',"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eaque eius expedita in incidunt ipsa maiores modi mollitia natus optio praesentium quod reiciendis repellat, soluta totam veniam voluptatum. Aliquam, ex.") | raw }}
                </p>
            </div>
        </div>

        <div class="question">
            <div class="question__title">
                <h3 data-grape_id="faq_topic_question_t31_1">{{ page.ElementContent('faq_topic_question_t31_1',"some title random") | raw }}</h3>
            </div>
            <div class="question__answer">
                <p  data-grape_id="faq_topic_question_p31_1">
                    {{ page.ElementContent('faq_topic_question_p31_1',"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eaque eius expedita in incidunt ipsa maiores modi mollitia natus optio praesentium quod reiciendis repellat, soluta totam veniam voluptatum. Aliquam, ex.") | raw }}
                </p>
                <p  data-grape_id="faq_topic_question_p32_1">
                    {{ page.ElementContent('faq_topic_question_p32_1',"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eaque eius expedita in incidunt ipsa maiores modi mollitia natus optio praesentium quod reiciendis repellat, soluta totam veniam voluptatum. Aliquam, ex.") | raw }}
                </p>
            </div>
        </div>
    </div>
</section>