<section class="section content_index">

    <ul class="content_index__list">
        {% for questionSection in questionSections %}
        <li>
            <a href="#section_question__{{ loop.index }}">
                {{ questionSection.title }}
            </a>
        </li>
        {% endfor %}
    </ul>

</section>

<section class="section questions">

    {% for questionSection in questionSections %}
        <div id="section_question__{{ loop.index }}" class="questions__topic">

            <div class="questions__topic__title">
                <h2>{{ questionSection.title }}</h2>
            </div>

{#            <div class="questions__topic__image">#}
{#                {% if i == 1 %}#}
{#                    <img src="{{ asset('svg/drink.svg') }}" alt="">#}
{#                {% elseif i == 2%}#}
{#                    <img src="{{ asset('svg/capitol-hill.svg') }}" alt="">#}
{#                {% elseif i == 3%}#}
{#                    <img src="{{ asset('svg/palm.svg') }}" alt="">#}
{#                {% endif %}#}
{#            </div>#}

            {% for descriptionFragment in questionSection.descriptionFragments %}

                <div class="question">
                    <div class="question__title">
                        <h3>{{ descriptionFragment.name }}</h3>
                    </div>

                    <div class="question__answer">
                        {{ descriptionFragment.content | raw }}
                    </div>
                </div>

            {% endfor %}

        </div>
    {% endfor %}

</section>