<section class="section questions">

    {% set amount = [12,3,8,1] %}

    {% for i in 1..4 %}
        <div class="questions__topic">

            <div class="questions__topic__title">
                <h2 data-grape_id="faq_topic_title_{{ i }}" data-grape_format="txt">{{ page.ElementContent('faq_topic_title_'~i,"Title of section") | raw }}</h2>
            </div>

            {% set amount_question = amount[loop.index0] %}
            {% for j in 1..amount_question %}
                <div class="question">
                    <div class="question__title">
                        <h3 data-grape_id="faq_topic_question_title_{{ i }}_{{ j }}" data-grape_format="txt">
                            {{ page.ElementContent('faq_topic_question_title_'~i~'_'~j,"Question title") | raw }}
                        </h3>
                    </div>

                    {% if is_granted('ROLE_EDITOR') and app.request.get('preview') is null %}
                        <div class="question__answer question__answer--active" data-grape_id="faq_topic_question_answer_{{ i }}_{{ j }}">
                    {% else %}
                        <div class="question__answer" data-grape_id="faq_topic_question_answer_{{ i }}_{{ j }}">
                    {% endif %}
                        {{ page.ElementContent('faq_topic_question_answer_'~i~'_'~j,"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,") | raw }}
                    </div>
                </div>
            {% endfor %}

        </div>
    {% endfor %}

</section>