<section class="section questions">

    <div class="questions__topic">
        <div class="questions__topic__title">
            <h2 data-grapeid="faq_topic_t1">{{ page.ElementContent('faq_index_t1',"Some topic importante") | raw }}</h2>
        </div>

        <div class="question">
            <div class="question__title">
                <h3 data-grapeid="faq_topic_question_t11">{{ page.ElementContent('faq_topic_question_t11',"some title random") | raw }}</h3>
            </div>
            <div class="question__answer">
                <p  data-grapeid="faq_topic_question_p11">
                    {{ page.ElementContent('faq_topic_question_p11',"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eaque eius expedita in incidunt ipsa maiores modi mollitia natus optio praesentium quod reiciendis repellat, soluta totam veniam voluptatum. Aliquam, ex.") | raw }}
                </p>
                <p  data-grapeid="faq_topic_question_p12">
                    {{ page.ElementContent('faq_topic_question_p12',"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eaque eius expedita in incidunt ipsa maiores modi mollitia natus optio praesentium quod reiciendis repellat, soluta totam veniam voluptatum. Aliquam, ex.") | raw }}
                </p>
            </div>
        </div>

        <div class="question">
            <div class="question__title">
                <h3 data-grapeid="faq_topic_question_t21">{{ page.ElementContent('faq_topic_question_t21',"some title random") | raw }}</h3>
            </div>
            <div class="question__answer">
                <p  data-grapeid="faq_topic_question_p21">
                    {{ page.ElementContent('faq_topic_question_p21',"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eaque eius expedita in incidunt ipsa maiores modi mollitia natus optio praesentium quod reiciendis repellat, soluta totam veniam voluptatum. Aliquam, ex.") | raw }}
                </p>
                <p  data-grapeid="faq_topic_question_p22">
                    {{ page.ElementContent('faq_topic_question_p22',"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eaque eius expedita in incidunt ipsa maiores modi mollitia natus optio praesentium quod reiciendis repellat, soluta totam veniam voluptatum. Aliquam, ex.") | raw }}
                </p>
            </div>
        </div>

        <div class="question">
            <div class="question__title">
                <h3 data-grapeid="faq_topic_question_t31">{{ page.ElementContent('faq_topic_question_t31',"some title random") | raw }}</h3>
            </div>
            <div class="question__answer">
                <p  data-grapeid="faq_topic_question_p31">
                    {{ page.ElementContent('faq_topic_question_p31',"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eaque eius expedita in incidunt ipsa maiores modi mollitia natus optio praesentium quod reiciendis repellat, soluta totam veniam voluptatum. Aliquam, ex.") | raw }}
                </p>
                <p  data-grapeid="faq_topic_question_p32">
                    {{ page.ElementContent('faq_topic_question_p32',"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eaque eius expedita in incidunt ipsa maiores modi mollitia natus optio praesentium quod reiciendis repellat, soluta totam veniam voluptatum. Aliquam, ex.") | raw }}
                </p>
            </div>
        </div>
    </div>



    <div class="questions__topic">
        <div class="questions__topic__title">
            <h2 data-grapeid="faq_topic_t1_1">{{ page.ElementContent('faq_index_t1_1',"Some topic importante") | raw }}</h2>
        </div>

        <div class="question">
            <div class="question__title">
                <h3 data-grapeid="faq_topic_question_t11_1">{{ page.ElementContent('faq_topic_question_t11_1',"some title random") | raw }}</h3>
            </div>
            <div class="question__answer">
                <p  data-grapeid="faq_topic_question_p11_1">
                    {{ page.ElementContent('faq_topic_question_p11_1',"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eaque eius expedita in incidunt ipsa maiores modi mollitia natus optio praesentium quod reiciendis repellat, soluta totam veniam voluptatum. Aliquam, ex.") | raw }}
                </p>
                <p  data-grapeid="faq_topic_question_p12_1">
                    {{ page.ElementContent('faq_topic_question_p12_1',"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eaque eius expedita in incidunt ipsa maiores modi mollitia natus optio praesentium quod reiciendis repellat, soluta totam veniam voluptatum. Aliquam, ex.") | raw }}
                </p>
            </div>
        </div>

        <div class="question">
            <div class="question__title">
                <h3 data-grapeid="faq_topic_question_t21_1">{{ page.ElementContent('faq_topic_question_t21_1',"some title random") | raw }}</h3>
            </div>
            <div class="question__answer">
                <p  data-grapeid="faq_topic_question_p21_1">
                    {{ page.ElementContent('faq_topic_question_p21_1',"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eaque eius expedita in incidunt ipsa maiores modi mollitia natus optio praesentium quod reiciendis repellat, soluta totam veniam voluptatum. Aliquam, ex.") | raw }}
                </p>
                <p  data-grapeid="faq_topic_question_p22_1">
                    {{ page.ElementContent('faq_topic_question_p22_1',"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eaque eius expedita in incidunt ipsa maiores modi mollitia natus optio praesentium quod reiciendis repellat, soluta totam veniam voluptatum. Aliquam, ex.") | raw }}
                </p>
            </div>
        </div>

        <div class="question">
            <div class="question__title">
                <h3 data-grapeid="faq_topic_question_t31_1">{{ page.ElementContent('faq_topic_question_t31_1',"some title random") | raw }}</h3>
            </div>
            <div class="question__answer">
                <p  data-grapeid="faq_topic_question_p31_1">
                    {{ page.ElementContent('faq_topic_question_p31_1',"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eaque eius expedita in incidunt ipsa maiores modi mollitia natus optio praesentium quod reiciendis repellat, soluta totam veniam voluptatum. Aliquam, ex.") | raw }}
                </p>
                <p  data-grapeid="faq_topic_question_p32_1">
                    {{ page.ElementContent('faq_topic_question_p32_1',"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eaque eius expedita in incidunt ipsa maiores modi mollitia natus optio praesentium quod reiciendis repellat, soluta totam veniam voluptatum. Aliquam, ex.") | raw }}
                </p>
            </div>
        </div>
    </div>
</section>