{{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="btns" style="margin-top: 3em">
	    <button class="button button-primary button-shadow button-blockn">{{ button_label|default('Save') }}</button>
	    <a href="{{ path('backend_dynamic_page_index') }}" class="button button-secondary button-shadow button-block">back to list</a>
	</div>
{{ form_end(form) }}
