{% extends 'base.html.twig' %}

{% block title %}DynamicPage index{% endblock %}

{% block body %}
    <h1>DynamicPage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>PageName</th>
                <th>PageTemplate</th>
                {#<th>PageContent</th>#}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dynamic_page in dynamic_pages %}
            <tr>
                <td>{{ dynamic_page.id }}</td>
                <td>{{ dynamic_page.pageName }}</td>
                <td>{{ dynamic_page.pageTemplate }}</td>
                {#<td>{{ dynamic_page.JsonContent }}</td>#}
                <td>
                    <a href="{{ path('backend_dynamic_page_show', {'id': dynamic_page.id}) }}">show</a>
                    <a href="{{ path('backend_dynamic_page_edit', {'id': dynamic_page.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('backend_dynamic_page_new') }}">Create new</a>
{% endblock %}
