{% extends 'base.html.twig' %}

{% block title %}DynamicPage{% endblock %}

{% block body %}
    <h3>DynamicPage</h3>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dynamic_page.id }}</td>
            </tr>
            <tr>
                <th>PageName</th>
                <td>{{ dynamic_page.pageName }}</td>
            </tr>

            <tr>
                <th>PageTemplate</th>
                <td>{{ dynamic_page.pageTemplate }}</td>
            </tr>
            <tr>
                <th>PageContent</th>
                <td>
                    <code>{{dynamic_page.getPageContentAsArrayText }}</code>
                {#{ dump(dynamic_page.pageContent) }#}</td>
            </tr>

            <tr>
                <th>UploadedImages</th>
                <td style="display: grid;

                                grid-template-columns: 1fr 1fr 1fr;

                                grid-gap: 15px;">
                    {% if dynamic_page.uploadedImages %}
                        {% for image in dynamic_page.uploadedImages %}
                            <div style="border: rgba(3,3,3,.5) solid 1px; border-radius: 25px; padding: 20px">
                                <img src="{{ asset(image.staticImagePath | imagine_filter('squared_thumbnail')) }}" style="max-height: 200px; width: 200px;display: block; margin: 0 auto">
                                {{ image.imagePath }}
                            </div>

                        {% endfor %}
                    {% endif %}
               </td>
            </tr>
            <tr>
                <th>Language</th>
                <td>{{ dynamic_page.language }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('backend_dynamic_page_edit', {'id': dynamic_page.id}) }}" class="button button-primary button-shadow button-block">edit</a>

    <a href="{{ path('backend_dynamic_page_index') }}" class="button button-secondary button-shadow button-block">back to list</a>

    

    {{ include('backend/dynamic_page/_delete_form.html.twig') }}
{% endblock %}
