<nav class="admin_bar">

    <ul>
        <li class="admin_bar_action"> <a href="{{ path('backend_activity_new') }}">Add Activity</a></li>
        <li class="admin_bar_action"> <a href="{{ path('backend_activity_index') }}">See Activities</a></li>
        <li><a href="{{ path('backend_destination_new') }}">Add Destinations</a></li>
        <li><a href="{{ path('backend_destination_index') }}">See Destinations</a></li>
        {#<li><a href="{{ path('backend_interest_new') }}">Add Interest</a></li>#}
        <li><a href="{{ path('backend_filter_tag_index') }}">Manage Tags</a></li>
    </ul>

    <ul>

        {% if app.request.get('_route') == 'activity' %}
            <li class="admin_bar_action">
                <a href="{{ path('backend_activity_edit', {'id': activity.id}) }}">Edit Activity on Admin</a>
            </li>
        {% endif %}
        {% if app.request.get('_route') == 'destination' %}
            <li>
                <a href="{{ path('backend_destination_edit', {'id': destination.id}) }}">Edit Destination on Admin</a>
            </li>
        {% endif %}



        {% if in_string(app.request.get('_route'), 'backend') %}
            <li class="admin_bar_action preview">
                <a target="_blank" href="{{ path('frontend') }}">Homepage</a>
            </li>
        {% endif %}
        {% if app.request.get('_route') != 'backend' %}
            <li class="admin_bar_action preview">
                <a href="{{ path('backend') }}">Admin</a>
            </li>
        {% endif %}


        {% if in_string(app.request.get('_route'), 'backend_activity_edit')%}
            <li class="admin_bar_action">
                <a href="{{ path('activity', {'id': activity.id, 'name': activity.machineName}) }}">
                <img src="{{ asset('svg/delete.svg') }}" style="height: 40px; width: 40px;" title="Discard changes and see this Activity" alt="Discard changes and see this Activity"></a>
            </li>
        {% endif %}
        {% if in_string(app.request.get('_route'), 'backend_destination_edit')%}
            <li class="admin_bar_action">
                <a href="{{ path('destination', {'id': destination.id, 'name': destination.machineName}) }}"><img src="{{ asset('svg/delete.svg') }}" style="height: 40px; width: 40px;" title="Discard and see" alt="Discard and see"></a>
            </li>
        {% endif %}


        {% if not in_string(app.request.get('_route'), 'backend') %}
            <li class="preview">
                <a href="?preview=true" target="_blank">Preview</a>
            </li>
        {% endif %}

        {% if dynamic_page_id is defined %}
            <li class="dropdown" id="revisions-list">
                <img src="{{ asset('svg/history-clock-button.svg') }}" style="height: 30px; width: 30px;">
                <div class="dropdown-content" id="revisions-list-content">
                    {{ render(controller('App\\Controller\\Backend\\PageRevisionController::list', {'id' : dynamic_page_id} )) }}
                </div>
            </li>
        {% endif %}

        <li class="">
            <a href="{{ path('fos_user_security_logout') }}"><img src="{{ asset('svg/arrow.svg') }}" style="height: 30px; width: 30px;"></a>
        </li>

    </ul>
    
</nav>