<div class="activity">

    <div class="activity__image">

        {% if activity.getPinnedFilterTag %}
            <div class="activity__image__tag">
                {{ activity.getPinnedFilterTag }}
            </div>
        {% endif %}

        <a href="{{ path('activity', {'id':activity.id, 'name':activity.machineName}) }}">
            {{ imgTag(activity.image, '(min-width:1000px) 33vw, 90vw') | raw }}
        </a>
    </div>

    <div class="activity__content">
        {% if activity.initPrice is defined and activity.initPrice %}
            <div class="activity__content__price">
               <span>ab <br> {{ activity.initPrice }} €</span>
            </div>
        {% endif %}
        <div class="activity__content__actions">
            {% if contact is not defined %}
                <div class="activity__content__actions__add" data-activity_id="{{ activity.id }}">
                    {% include('frontend/components/_icons/_heart.html.twig') with {inverse:'heart--inverse'} only %}
                </div>
            {% endif %}
        </div>

        <div class="activity__content__title">
            <a href="{{ path('activity', {'id':activity.id, 'name':activity.machineName}) }}">
                <h4>{{ activity.name }}</h4>
            </a>
        </div>

        <div class="activity__content__description">
            <a href="{{ path('activity', {'id':activity.id, 'name':activity.machineName}) }}">
{#                {{ activity.description | truncate_html(constant('LENGTH_OF_DESCRIPTION', activity)) | raw }}#}
                {{ activity.description | truncate_html(constant('LENGTH_OF_DESCRIPTION', activity)) | striptags | raw }}


            </a>
        </div>
    </div>
</div>
<style>
    .activity__content__description::after{
        content: '(lesen sie mehr)';
        font-size: 80%;
        margin: 0 .4em;
        display: block;
        cursor: pointer;
    }
</style>