{#expect an activity variable#}
<div class="activity">

    <div class="activity__image">
        <a href="{{ path('activity', {'id':activity.id, 'name':activity.machineName}) }}">
            {% if is_granted('ROLE_EDITOR') and not app.request.get('preview') %}
                <img src="{{ activity.dynamicPage.elementAttr('activity_images_img1', 'src', asset('img/header_pic.jpg')) }}" alt="">
            {% else %}
                {{ imgTagContent(
                    activity.dynamicPage.elementAttr('activity_images_img1', 'src', asset('img/header_pic.jpg')),
                    activity.dynamicPage.elementAttr('activity_images_img1', 'srcb64', asset('img/header_pic.jpg')),
                    '',
                    '(min-width:1000px) 33vw, 90vw',
                    '') | raw }}
            {% endif %}
        </a>
    </div>

    <div class="activity__content">
        {% if activity.initPrice is defined and activity.initPrice %}
            <div class="activity__content__price">
               <span>{{ activity.initPrice }} €</span>
            </div>
        {% endif %}
        <div class="activity__content__actions">
            {% block activity__content__actions %}
            <div class="activity__content__actions__add" data-activity_id="{{ activity.id }}">
                {% include('frontend/components/_icons/_heart.html.twig') with {inverse:'heart--inverse'} only %}
            </div>
            {% endblock %}
        </div>

        <div class="activity__content__title">
            <a href="{{ path('activity', {'id':activity.id, 'name':activity.machineName}) }}">
                <h4>{{ activity.name }}</h4>
            </a>
        </div>

        <div class="activity__content__description">
            <a href="{{ path('activity', {'id':activity.id, 'name':activity.machineName}) }}">
                {{ activity.description | truncate_html(constant('LENGTH_OF_DESCRIPTION', activity)) | raw }}
            </a>
        </div>
    </div>
</div>