<div class="activity">

    <div class="activity__image">

        {% if activity.getPinnedFilterTag %}
            <div class="activity__image__tag">
                {{ activity.getPinnedFilterTag }}
            </div>
        {% endif %}

        <a href="{{ path('activity', {'id':activity.id, 'name':activity.machineName}) }}">
            {{ imgTag(activity.image, '(min-width:1000px) 33vw, 90vw') | raw }}
        </a>
    </div>

    <div class="activity__content">
        {% if activity.initPrice is defined and activity.initPrice %}
            <div class="activity__content__price">
               <span>ab <br> {{ activity.initPrice }} €</span>
            </div>
        {% endif %}
        <div class="activity__content__actions">
            {% if contact is not defined %}
                <div class="activity__content__actions__add" data-activity_id="{{ activity.id }}">
                    {% include('frontend/components/_icons/_heart.html.twig') with {inverse:'heart--inverse'} only %}
                </div>
            {% endif %}
        </div>

        {% set __link = path('activity', {'id':activity.id, 'name':activity.machineName})  %}
        <div class="activity__content__title">
            <a href="{{ __link }}">
                <h4>{{ activity.name }}</h4>
            </a>
        </div>

        <div class="activity__content__description">
            <p>
{#                {{ activity.description | truncate_html(constant('LENGTH_OF_DESCRIPTION', activity)) | raw }}#}
                {{ activity.description | truncate_html (constant('LENGTH_OF_DESCRIPTION', activity)) | striptags | raw }}...
{#                {{ activity.description | truncate(constant('LENGTH_OF_DESCRIPTION', activity, '...')) | striptags | raw }}#}

            </p>
            <a class="readmore" href="{{ __link }}">{% trans %}global.cards.readmore{% endtrans %}</a>
        </div>
    </div>
</div>
