<section class="section banner">

    <div class="banner__image">
        {{  imgTagContent(
            banner.image.staticImagePath,
            null,
            '',
            '100vw',
            '') | raw }}
    </div>

    <div class="banner__content">
        <div class="banner__content__titles">
            <h2>{{ banner.title}}</h2>

            <h3>
                {{ banner.description | raw }}
            </h3>
        </div>

        <a class="btn" href="{{  banner.link }}"
           data-grape_id="__banner_contact_btn__"
           data-grape_format="txt">
            {{ banner.linkText }}
        </a>
    </div>

</section>
