<section class="section banner_sky">

    <div class="banner_sky__image">
        <img src="{{ asset('img/banner/sky.png') }}" alt="">
    </div>

    <div class="banner_sky__content">
        <div class="banner_sky__content__titles">
            <h2 data-grape_id="__banner_sky_headline__" data-grape_format="txt">
                {% if page.getElement('__banner_sky_headline__') is null %}
                    {{ 'global.__banner_sky_headline__' | trans }}
                {% else %}
                    {{ page.getElement('__banner_sky_headline__') }}
                {% endif %}
            </h2>

            <h3 data-grape_id="__banner_sky_subtitle__" data-grape_format="txt">
                {% if page.getElement('__banner_sky_subtitle__') is null %}
                    {{ 'global.__banner_sky_subtitle__' | trans }}
                {% else %}
                    {{ page.getElement('__banner_sky_subtitle__') }}
                {% endif %}
            </h3>
        </div>

        <a class="btn" href="{{  path('contact') }}" data-grape_id="__banner_sky_contact_btn__" data-grape_format="txt">
           
           {% if page.getElement('__banner_sky_contact_btn__') is null %}
                     {{ 'global.__banner_sky_contact_btn__' | trans }}
                {% else %}
                    {{ page.getElement('__banner_sky_contact_btn__') }}
                {% endif %}
        </a>
    </div>

</section>