<footer class="footer">

    <div class="footer__banner">

        <div class="footer__banner__image">
            <img data-grape_section="_footer" data-grape_id="footer_img1" src="{{ page.ElementAttr('footer_img1', 'src', asset('img/banner/footer.png')) | raw }}" alt="">
        </div>

        <div class="footer__banner__content">
            <div class="footer__banner__content__titles">
                <h2 data-grape_section="_footer" data-grape_id="footer_txt1">
                    {{ page.ElementContent('footer_txt1',"Take a step toward your travel to Cuba") | raw }}
                </h2>
                {#<h3>#}
                    {#Take a step toward#}
                {#</h3>#}
            </div>

            <a class="btn" href="#" data-grape_section="_footer" data-grape_id="footer_btn1">
                {{ page.ElementContent('footer_btn1',"Talk to an Expert!") | raw }}
            </a>
        </div>

    </div>

    <div class="footer__content">

        {#            TODO: links del menu#}
        <div class="footer__content__links">

            <div class="footer__content__links__column">
                <div class="footer__content__links__column__title">
                    <a href="#">
                        <h3>Kuba erkunden</h3>
                    </a>
                </div>
                <ul>
                    <li>
                        <a href="#">Country info</a>
                    </li>
                    <li >
                        <a href="">Sleep & Eat</a>
                    </li>
                    <li>
                        <a href="">Havanna</a>
                    </li>
                    <li>
                        <a href="">Cayos & Beaches</a>
                    </li>
                    <li>
                        <a href="">Tourist Destination Highlights</a>
                    </li>
                    <li>
                        <a href="">Vergessene Orte</a>
                    </li>
                    <li>
                        <a href="">Oriente</a>
                    </li>
                </ul>
            </div>

            <div class="footer__content__links__column">
                <div class="footer__content__links__column__title">
                    <a href="">
                        <h3>Kuba Ausflüge</h3>
                    </a>
                </div>
                <ul class="">
                    <li>
                        <a href="">Our Bucket List</a>
                    </li>
                    <li>
                        <a href="">Excursion Havanna</a>
                    </li>
                    <li>
                        <a href="">Excursion en campo
                            <span>New!</span></a>
                    </li>

                </ul>
            </div>

            <div class="footer__content__links__column">
                <div class="footer__content__links__column__title">
                    <a href="">
                        <h3>Kuba bereisen</h3>
                    </a>
                </div>
                <ul class="">
                    <li>
                        <a href="{{ path('contact') }}">
                            Individualreise
                        </a>
                    </li>
                    <li>
                        <a href="">Gruppenreise <span>Trending!</span></a>
                    </li>
                    <li>
                        <a href="">Themenreise</a>
                    </li>
                    <li>
                        <a href="">Familienreise</a>
                    </li>
                    <li>
                        <a href="">Mietwagenreise</a>
                    </li>

                </ul>
            </div>

            <div class="footer__content__links__column">
                <div class="footer__content__links__column__title">
                    <a href="">
                        <h3>Reiseinfos</h3>
                    </a>
                </div>
                <ul class="">
                    <li>
                        <a href="">Landesinformationen</a>
                    </li>
                    <li>
                        <a href="">Gut zu wissen</a>
                    </li>
                    <li>
                        <a href="">Reise FAQ für kuba</a>
                    </li>
                </ul>
            </div>

        </div>

        {{ include('/frontend/components/_divider--white.html.twig') }}

        <div class="footer__content__infos">

            <div class="footer__content__infos__column">
                <h3  data-grape_section="_footer" data-grape_id="footer_t1">{{ page.ElementContent('footer_t1',"Destination Cuba") | raw }}</h3>
                <p data-grape_section="_footer" data-grape_id="footer_t2">
                    {{ page.ElementContent('footer_t2',"Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam beatae blanditiis cumque dicta distinctio ea explicabo iste maxime nihil, perferendis recusandae rem reprehenderit velit voluptas. Magnam natus odit placeat?") | raw }}
                </p>
            </div>

            <div class="footer__content__infos__column">
                <h3 data-grape_section="_footer" data-grape_id="footer_t3">{{ page.ElementContent('footer_t3',"Destination Cuba") | raw }}</h3>
                <p data-grape_section="_footer" data-grape_id="footer_t4">{{ page.ElementContent('footer_t4',"Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam beatae blanditiis cumque dicta distinctio ea explicabo iste maxime nihil, perferendis recusandae rem reprehenderit velit voluptas. Magnam natus odit placeat?") | raw }}
            </div>

            <div class="footer__content__infos__column">
                <h3 data-grape_section="_footer" data-grape_id="footer_t5">{{ page.ElementContent('footer_t5',"Destination Cuba") | raw }}</h3>
                <p data-grape_section="_footer" data-grape_id="footer_t6">{{ page.ElementContent('footer_t6',"Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam beatae blanditiis cumque dicta distinctio ea explicabo iste maxime nihil, perferendis recusandae rem reprehenderit velit voluptas. Magnam natus odit placeat?") | raw }}
            </div>
        </div>

        <div class="footer__content__copyright">
            <p>KubaReisen.de © 2019</p>
        </div>
        
        <div class="footer__content__social-networks">
            <ul>
{#                TODO: social links#}
                <li>
                    <a href="">
                        <img src="{{ asset('img/icons/linkedIn.png') }}" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="{{ asset('img/icons/instagram.png') }}" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="{{ asset('img/icons/facebook.png') }}" alt="">
                    </a>
                </li>
            </ul>
        </div>

        {#<hr style="border-top: 4px solid #ffffff; width: 80%">#}
        {#<div class="row  no-lat-margins row-around">#}
            {#<div class="grid-fourth">#}
                {#<h2 class="navigation_menu_headline_text">Contact in Germany</h2>#}
                {#<ul class="navigation_menu_list">#}
                    {#<li class="navigation_menu_list_item">#}
                        {#While putting custom properties on the :root is great for things that you need to be available throughout your site#}
                    {#</li>#}




                {#</ul>#}
            {#</div>#}

            {#<div class="grid-fourth">#}
                {#<h2 class="navigation_menu_headline_text">Contact in Cuba</h2>#}
                {#<ul class="navigation_menu_list">#}
                    {#<li class="navigation_menu_list_item">#}
                        {#While putting custom properties on the :root is great for things that you need to be available throughout your site#}
                    {#</li>#}




                {#</ul>#}
            {#</div>#}
            {#<div class="grid-fourth">#}
                {#<ul class="navigation_menu_list">#}
                    {#<li class="navigation_menu_list_item">#}
                        {#Documents#}
                        {#Suscribe to our newsletter about offers and travel tips#}
                    {#<li class="navigation_menu_list_item">#}
                        {#<input type="text">#}
                        {#<button class="btn btn-transparent float-right">Sing me up!</button>#}
                    {#</li>#}


                {#</ul>#}
            {#</div>#}
        {#</div>#}
        {#<div class="row no-lat-margins margin-top">#}
            {#<div class="grid-full text-center">#}
                {#<p>Copyright Kuba-reisen.de 2019</p>#}
            {#</div>#}
        {#</div>#}
    </div>

    <div class="footer__background-image">
        <img src="{{ asset('img/Textura.png') }}" alt="">
    </div>

</footer>