<footer class="footer">

    <div class="footer__banner">

        <div class="footer__banner__image">

            {% if is_granted('ROLE_EDITOR') and app.request.get('preview') is null %}
                <img data-grape_section="_footer" data-grape_id="footer_img1" src="{{ page.ElementAttr('footer_img1', 'src', asset('img/banner/footer.png')) | raw }}" alt="">
            {% else %}
                {{ imgTagContent(page.ElementAttr('footer_img1', 'src', asset('img/banner/footer.png')),
                    page.ElementAttr('footer_img1', 'srcb64', asset('img/banner/footer.png')),
                    '',
                    '100vw',
                    'data-grape_section="_footer" data-grape_id="footer_img1"') | raw }}
            {% endif %}
        </div>

        <div class="footer__banner__content">
            <div class="footer__banner__content__titles">
                <h2 data-grape_section="_footer" data-grape_id="footer_txt1">
                    {{ page.ElementContent('footer_txt1',"Take a step toward your travel to Cuba") | raw }}
                </h2>
            </div>

            <a class="btn" href="{{ path('contact') }}" data-grape_section="_footer" data-grape_id="footer_btn1">
                {{ page.ElementContent('footer_btn1',"Talk to an Expert!") | raw }}
            </a>
        </div>

    </div>

    <div class="footer__content">

        <div class="footer__content__links">

            <div class="footer__content__links__column">
                <div class="footer__content__links__column__title">
                    <a href="#">
                        <h3>Kuba erkunden</h3>
                    </a>
                </div>
                <ul>
                    {% for destination in destinations %}
                        <li class="header__nav__menu__column__list__link">
                            <a href="{{ path('destination',
                                {'id':destination.getId,
                                    'name':destination.getMachineName })
                            }}">
                                {{ destination.getName }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="footer__content__links__column">
                <div class="footer__content__links__column__title">
                    <a href="">
                        <h3>Kuba bereisen</h3>
                    </a>
                </div>
                <ul class="">

                    <li class="header__nav__menu__column__list__link">
                        <a href="{{ path('contact', {'travel':'raise'}) }}">Individualreise</a>
                    </li>

                    {% for filter in filterTags %}
                        <li class="header__nav__menu__column__list__link">
                            <a href="{{ path('activitiesFilter', {'filters':filter.title }) }}#activities_filters">
                                {{ filter.title }}
                            </a>
                        </li>
                    {% endfor %}

                </ul>
            </div>

            <div class="footer__content__links__column">
                <div class="footer__content__links__column__title">
                    <a href="">
                        <h3>Kuba Ausflüge</h3>
                    </a>
                </div>
                <ul class="">
                    <li>
                        <a href="">Our Bucket List</a>
                    </li>
                    <li>
                        <a href="">Excursion Havanna</a>
                    </li>
                    <li>
                        <a href="">Excursion en campo
                            <span>New!</span></a>
                    </li>

                </ul>
            </div>

            <div class="footer__content__links__column">
                <div class="footer__content__links__column__title">
                    <h3>&nbsp;</h3>
                </div>

                <ul>

                    <li>
                        <a href="{{ path('faq') }}">Reise FAQ für kuba</a>
                    </li>
                    <li>
                        <a href="{{ path('good_to_know') }}">Gut zu wissen</a>
                    </li>
                    <li>
                        <a href="{{ path('travel_info') }}">Landesinformationen</a>
                    </li>
                    <li>
                        <a href="{{ path('about_us') }}">Über uns</a>
                    </li>
                    <li>
                        <a href="{{ path('contact') }}">Kontaktieren</a>
                    </li>
                </ul>
            </div>

        </div>

        {{ include('/frontend/components/_divider--white.html.twig') }}

{#        <div class="footer__content__infos">#}

{#            <div class="footer__content__infos__column">#}
{#                <h3  data-grape_section="_footer" data-grape_id="footer_t1">{{ page.ElementContent('footer_t1',"Destination Cuba") | raw }}</h3>#}
{#                <p data-grape_section="_footer" data-grape_id="footer_t2">#}
{#                    {{ page.ElementContent('footer_t2',"Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam beatae blanditiis cumque dicta distinctio ea explicabo iste maxime nihil, perferendis recusandae rem reprehenderit velit voluptas. Magnam natus odit placeat?") | raw }}#}
{#                </p>#}
{#            </div>#}

{#            <div class="footer__content__infos__column">#}
{#                <h3 data-grape_section="_footer" data-grape_id="footer_t3">{{ page.ElementContent('footer_t3',"Destination Cuba") | raw }}</h3>#}
{#                <p data-grape_section="_footer" data-grape_id="footer_t4">{{ page.ElementContent('footer_t4',"Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam beatae blanditiis cumque dicta distinctio ea explicabo iste maxime nihil, perferendis recusandae rem reprehenderit velit voluptas. Magnam natus odit placeat?") | raw }}#}
{#            </div>#}

{#            <div class="footer__content__infos__column">#}
{#                <h3 data-grape_section="_footer" data-grape_id="footer_t5">{{ page.ElementContent('footer_t5',"Destination Cuba") | raw }}</h3>#}
{#                <p data-grape_section="_footer" data-grape_id="footer_t6">{{ page.ElementContent('footer_t6',"Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam beatae blanditiis cumque dicta distinctio ea explicabo iste maxime nihil, perferendis recusandae rem reprehenderit velit voluptas. Magnam natus odit placeat?") | raw }}#}
{#            </div>#}
{#        </div>#}

        <div class="footer__content__agb">
            <a href="#">
                <p>Allgemeine Vertragsbedingungen </p>
            </a>
        </div>

        <div class="footer__content__copyright">
            <p>KubaReisen.de © 2019</p>
        </div>

        <div class="footer__content__made-by">
            <p>Design by: <a href="http://www.guillomoreno.com">Guillo</a> |
                Photos by: <a href="http://www.photohu.com">Peter Hubler</a> |
                Programed by: <a href="https://habana.tech">Habana.tech</a> </p>
        </div>

        <div class="footer__content__social-networks">
            <ul>
                <li>
                    <a href="http://www.facebook.com/kuba-reisen" target="_blank">
                        {{ include('/frontend/components/_icons/_facebook.html.twig') }}
                    </a>
                </li>

                <li>
                    <a href="http://www.instagram/kuba-reisen" target="_blank">
                        {{ include('/frontend/components/_icons/_instagram.html.twig') }}
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer__background-image">
        <img src="{{ asset('img/Textura.png') }}" alt="">
    </div>

</footer>