<footer class="footer">

    {{ render(controller('App\\Controller\\RegionsController::regionBanner')) }}

    <div class="footer__content">

        <div class="footer__content__links">

            <div class="footer__content__links__column">
                <div class="footer__content__links__column__title">
                    <a href="{{ path('pageLoad', {'name' : staticPagesNamesMap['exploring'] | url_encode }) }}">
                        <h3>{{ staticPagesNamesMap['exploring'] }}</h3>
                    </a>
                </div>
                <ul>
                    {% for destination in destinations %}
                        <li>
                            <a href="{{ path('destination',
                                {'id':destination.getId,
                                    'name':destination.getMachineName })
                            }}">
                                {{ destination.getName }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="footer__content__links__column">
                <div class="footer__content__links__column__title">
                    <a href="{{ path('pageLoad', {'name' : staticPagesNamesMap['tours'] | url_encode }) }}">
                        <h3>{{ staticPagesNamesMap['tours'] }}</h3>
                    </a>
                </div>
                <ul>
                    <li>
                        <a href="{{ path('contact', {'travel':'raise'}) }}">
                            Individualreise
                        </a>
                    </li>

                    {% for filter in filterTagsPinned %}
                        <li>
                            <a href="{{ path('activitiesFilter', {'filters':filter.title }) }}#activities_filters">
                                {{ filter.title }}
                            </a>
                        </li>
                    {% endfor %}

                </ul>
            </div>

            <div class="footer__content__links__column">
                <div class="footer__content__links__column__title">
                    <a href="{{ path('pageLoad', {'name' : staticPagesNamesMap['excursions'] | url_encode }) }}">
                        <h3>{{ staticPagesNamesMap['excursions'] }}</h3>
                    </a>
                </div>
                <ul>
                    <li>
                        <a href="{{ path('activities') }}">
                            {{ staticPagesNamesMap['activities'] }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('pageLoad', {'name' : staticPagesNamesMap['bucket_list'] | url_encode }) }}">
                            {{ staticPagesNamesMap['bucket_list'] }}
                        </a>
                    </li>

                </ul>
            </div>

            <div class="footer__content__links__column">
                <div class="footer__content__links__column__title">
                    <h3>&nbsp;</h3>
                </div>

                <ul>
                    <li>
                        <a href="{{ path('pageLoad', {'name' : staticPagesNamesMap['faq'] | url_encode }) }}">
                            {{ staticPagesNamesMap['faq'] }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('pageLoad', {'name' : staticPagesNamesMap['good_to_know'] | url_encode }) }}">
                            {{ staticPagesNamesMap['good_to_know'] }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('pageLoad', {'name' : staticPagesNamesMap['travel_info'] | url_encode }) }}">
                            {{ staticPagesNamesMap['travel_info'] }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('pageLoad', {'name' : staticPagesNamesMap['about_us'] | url_encode }) }}">
                            {{ staticPagesNamesMap['about_us'] }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('contact') }}">
                            {{ staticPagesNamesMap['contact'] }}
                        </a>
                    </li>
                </ul>
            </div>

        </div>

        {{ include('/frontend/components/global/_divider.html.twig') }}

        <div class="footer__content__agb">
            <p>
                <a href="{{ path('pageLoad', {'name' : staticPagesNamesMap['travel_conditions'] | url_encode }) }}">
                   <abbr title="Allgemeine Vertragsbedingungen">AGB</abbr>
                </a>
                 |
                <a href="{{ path('pageLoad', {'name' : staticPagesNamesMap['imprint'] | url_encode }) }}">
                    {{ staticPagesNamesMap['imprint'] }}
                </a>
                 |
                 <a href="{{ path('pageLoad', {'name' : staticPagesNamesMap['protection_data_declaration'] | url_encode }) }}">
                    {{ staticPagesNamesMap['protection_data_declaration'] }}
                </a>
            </p>
        </div>

        <div class="footer__content__copyright">
            <p>KubaReisen.de © 2019</p>
        </div>

        <div class="footer__content__made-by">
            <p>Design by: <a href="http://www.guillomoreno.com">Guillo</a> |
                Photos by: <a href="http://www.photohu.com">Peter Hubler</a> |
                Programed by: <a href="https://habana.tech">Habana.tech</a> </p>
        </div>

        <div class="footer__content__social-networks">
            <ul>
                <li>
                    <a href="http://www.facebook.com/kuba-reisen" target="_blank">
                        {{ include('/frontend/components/_icons/_facebook.html.twig') }}
                    </a>
                </li>

                <li>
                    <a href="http://www.instagram/kuba-reisen" target="_blank">
                        {{ include('/frontend/components/_icons/_instagram.html.twig') }}
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer__background-image">
        <img src="{{ asset('img/Textura.png') }}" alt="">
    </div>

</footer>