<header class="header">
    <div class="header__logo">
        <a href="{{ path('frontend') }}">
            <img src="{{ asset('img/logo.svg') }}">
        </a>
    </div>

        <div class="header__menu-icon">

            <div id="menu-icon-wrapper" class="menu-icon-wrapper float-right">
                <svg width="1000px" height="1000px">
                    <path id="burger_pathA" d="M 300 400 L 700 400 C 900 400 900 750 600 850 A 400 400 0 0 1 200 200 L 800 800"></path>
                    <path id="burger_pathB" d="M 300 500 L 700 500"></path>
                    <path id="burger_pathC" d="M 700 600 L 300 600 C 100 600 100 200 400 150 A 400 380 0 1 1 200 800 L 800 200"></path>
                </svg>
                <button id="menu-icon-trigger" class="menu-icon-trigger"></button>
            </div><!-- menu-icon-wrapper -->

        </div>


    <nav class="header__nav navigation_menu swing-out-top-bck">

{#        <div class="header__nav__lang">#}

{#            <a href="">#}
{#                EN#}
{#            </a>#}
{#            <span>\</span>#}
{#            <a href="">#}
{#                DE#}
{#            </a>#}
{#            <span>\</span>#}
{#            <a href="">#}
{#                ES#}
{#            </a>#}

{#        </div>#}

        <div class="header__nav__menu">

            <div class="header__nav__menu__column">

                <div class="header__nav__menu__column__title">
                    <a href="#">
                        <h3>Kuba erkunden</h3>
                    </a>
                </div>

                <ul class="header__nav__menu__column__list">

                    {% for destination in destinations %}
                        <li class="header__nav__menu__column__list__link">
                            <a href="{{ path('destination',
                                {'id':destination.getId,
                                'name':destination.getMachineName })
                            }}">
                                {{ destination.getName }}
                            </a>
                        </li>
                    {% endfor %}

                </ul>
            </div>

            <div class="header__nav__menu__column">

                <div class="header__nav__menu__column__title">
                    <a href="#">
                        <h3>Kuba Ausflüge</h3>
                    </a>
                </div>

                <ul class="header__nav__menu__column__list">
                    <li class="header__nav__menu__column__list__link">
                        <a href="{{ path('activities') }}">Activities</a> <span>New!</span>
                    </li>
                    <li class="header__nav__menu__column__list__link">
                        <a href="{{ path('bucket_list') }}">Our bucket list</a>
                    </li>
                </ul>
            </div>

            <div class="header__nav__menu__column">

                <div class="header__nav__menu__column__title">
                    <a href="#">
                        <h3>Kuba bereisen</h3>
                    </a>
                </div>

                <ul class="header__nav__menu__column__list">

                    <li class="header__nav__menu__column__list__link">
                        <a href="{{ path('contact') }}">Individualreise</a>
                    </li>

                    {% for filter in filterTags %}
                        <li class="header__nav__menu__column__list__link">
                            <a href="{{ path('activitiesFilter', {'filters':filter.title }) }}#activities">
                                {{ filter.title }}
                            </a>
                        </li>
                    {% endfor %}

                </ul>
            </div>

            <div class="header__nav__menu__column">

                <div class="header__nav__menu__column__title">
                    <a href="#">
                        <h3>Reiseinfos</h3>
                    </a>
                </div>

                <ul class="header__nav__menu__column__list">
                    <li class="header__nav__menu__column__list__link">
                        <a href="{{ path('faq') }}">Reise FAQ für kuba</a>
                    </li>
                    <li class="header__nav__menu__column__list__link">
                        <a href="">Landesinformationen</a>
                    </li>
                    <li class="header__nav__menu__column__list__link">
                        <a href="">Gut zu wissen</a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>

</header>