<section class="section hero">

    {% if hero__image is defined %}
        <div class="hero__image">
            
            <img src="{{ asset(hero__image) }}" alt="wonnderfull img">
        </div>
    {% else %}
        <div class="hero__image" >
            {{ imgTagContent(destination.staticImagePath, 
                            page.ElementAttr('hero_image', 'srcb64'), 
                            null,
                            '(min-width: 1200px) 50vw', 
                            null, 
                            'data-grape_id="hero_image"') | raw }}
  {#          <img #}
{#                 data-src="{{ page.ElementAttr('hero_image', 'src', asset('img/header_pic.jpg') )}}"#}
{#                 src="{{ page.ElementAttr('hero_image', 'srcb64')}}" #}

 {#                src="{{ page.ElementAttr('hero_image', 'src', asset('img/header_pic.jpg')) }}"
                 alt="">#}

        </div>
    {% endif %}


    <div class="hero__content">
        {% if hero__content__text is defined and hero__content__text is not null %}
        <h1 class="hero__content__text">
            {{ hero__content__text }}
        </h1>
        {% else %}


                <h1 class="hero__content__text" data-grape_id="hero__content__text" data-grape_format="txt">
                    {{ page.getElementContent('hero__content__text', 'Lorem imsu&iacute;p') | striptags}}
                </h1>

        {% endif %}


    </div>

</section>