<section class="section top_destinations">

    <div class="section__title ">
        <div class="section__title__highlight section__title__highlight--orange">
            <h2 data-grape_section="_top_destinations" data-grape_id="_top_destinations_title" data-grape_format="txt">{{ page.ElementContent('_top_destinations_title',"Top destinations") | raw }}</h2>
        </div>
        <div class="section__title__description">
            <p data-grape_section="_top_destinations" data-grape_id="_top_destinations_text" data-grape_format="txt">{{ page.ElementContent('_top_destinations_text',"Lorem ipsum dolor sit amet, consectetur adipisicing elit.") | raw }}</p>
        </div>
    </div>


    <div class="top_destinations__places">

        {% set classes = ['top_destinations__places__place--blue', 'top_destinations__places__place--orange',
                        'top_destinations__places__place--green', 'top_destinations__places__place--blue'] %}

        {% for i in 0..3 %}

            {% set grape_img_id_a = '_top_destination_img_'~i~'a' %}
            {% set grape_img_id_b = '_top_destination_img_'~i~'b' %}

            {% set grape_text_title = '_top_destination_text_title_'~i %}
            {% set grape_text_description = '_top_destination_description_'~i %}


            <div class="top_destinations__places__place {{ classes[i] }}">

                {% if not is_granted('ROLE_EDITOR') %}
                    <a href="">
                        <div class="top_destinations__places__place__image">

                             {#TODO: cambiar visualidad de estas regiones de imagenes en la vista adminisyrativa, con una imagen pequena para que ambas puedan editarse#}
                            <div class="grid__item-img" data-grape_section="_top_destinations" data-displacement="{{ asset('/img/dmaps/7.jpg') }}" data-intensity="-0.8">
                                <img data-grape_section="_top_destinations" data-grape_id="{{ grape_img_id_a }}"
                                        {#{% if page.ElementAttr('_top_destination_img1_1', 'srcb64') %}#}
                                            {#src="{{ page.ElementAttr('_top_destination_img1_1', 'srcb64')  }}"#}
                                            {#data-src="{{ page.ElementAttr('_top_destination_img1_1', 'src', '/img/destination/Img20.jpg')  }}"#}
                                        {#{% else %}#}
                                            src="{{ page.ElementAttr(grape_img_id_a, 'src', '/img/destination/Img20.jpg')  | imagine_filter('squared_thumbnail')  }}"
                                        {#{% endif %}#}

                                     {#srcset="#}
                                        {#{{ page.ElementAttr('_top_destination_img1_1', 'src', '/img/dmaps/7.jpg')  | imagine_filter('min_width_900') }} 900w,#}
                                        {#{{ page.ElementAttr('_top_destination_img1_1', 'src', '/img/dmaps/7.jpg') | imagine_filter('min_width_800') }} 800w"#}

                                     alt="Image"/>
                                <img data-grape_section="_top_destinations" data-grape_id="{{ grape_img_id_b }}"
                                        {#{% if page.ElementAttr('_top_destination_img1_2', 'srcb64') %}#}
                                            {#src="{{ page.ElementAttr('_top_destination_img1_2', 'srcb64')  }}"#}
                                            {#data-src="{{ page.ElementAttr('_top_destination_img1_2', 'src', '/img/destination/Img20.jpg')  }}"#}
                                        {#{% else %}#}
                                            src="{{ page.ElementAttr(grape_img_id_b, 'src', '/img/destination/Img20.jpg')   | imagine_filter('squared_thumbnail')  }}"
                                        {#{% endif %}#}

                                     {#srcset="#}
                                        {#{{ page.ElementAttr('top_destination_img1_2', 'src', '/img/dmaps/7.jpg')  | imagine_filter('min_width_900') }} 900w,#}
                                        {#{{ page.ElementAttr('top_destination_img1_2', 'src', '/img/dmaps/7.jpg') | imagine_filter('min_width_800') }} 800w"#}

                                     alt="Image"/>
                            </div>

                        </div>
                        <div class="top_destinations__places__place__text">
                            <span data-grape_section="_top_destinations" data-grape_id="{{ grape_text_title }}">{{ page.ElementContent(grape_text_title,"Trinidad") | raw }}</span>
                            <p data-grape_section="_top_destinations" data-grape_id="{{ grape_text_description }}">{{ page.ElementContent(grape_text_description,"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet enim ") | raw }}</p>
                        </div>
                    </a>
                {% else %}
                    <a href="">
                        <div class="top_destinations__places__place__image__editor">

                            {# TODO: cambiar visualidad de estas regiones de imagenes en la vista adminisyrativa, con una imagen pequena para que ambas puedan editarse#}
                            <div class="grid__item-img__editor">
                                <img data-grape_section="_top_destinations" data-grape_id="{{ grape_img_id_a }}"
                                        {% if page.ElementAttr(grape_img_id_a, 'srcb64') %}
                                            src="{{ page.ElementAttr(grape_img_id_a, 'srcb64')  }}"
                                            data-src="{{ page.ElementAttr(grape_img_id_a, 'src', '/img/destination/Img20.jpg')  }}"
                                        {% else %}
                                            src="{{ page.ElementAttr(grape_img_id_a, 'src', '/img/destination/Img20.jpg')  }}"
                                        {% endif %}

                                        {#srcset="#}
                                        {#{{ page.ElementAttr('_top_destination_img1_1', 'src', '/img/dmaps/7.jpg')  | imagine_filter('min_width_900') }} 900w,#}
                                        {#{{ page.ElementAttr('_top_destination_img1_1', 'src', '/img/dmaps/7.jpg') | imagine_filter('min_width_800') }} 800w"#}

                                     alt="Image"/>
                                <img data-grape_section="_top_destinations" data-grape_id="{{ grape_img_id_b }}"
                                        {% if page.ElementAttr(grape_img_id_b, 'srcb64') %}
                                            src="{{ page.ElementAttr(grape_img_id_b, 'srcb64')  }}"
                                            data-src="{{ page.ElementAttr(grape_img_id_b, 'src', '/img/destination/Img20.jpg')  }}"
                                        {% else %}
                                            src="{{ page.ElementAttr(grape_img_id_b, 'src', '/img/destination/Img20.jpg')  }}"
                                        {% endif %}

                                        {#srcset="#}
                                        {#{{ page.ElementAttr('top_destination_img1_2', 'src', '/img/dmaps/7.jpg')  | imagine_filter('min_width_900') }} 900w,#}
                                        {#{{ page.ElementAttr('top_destination_img1_2', 'src', '/img/dmaps/7.jpg') | imagine_filter('min_width_800') }} 800w"#}

                                     alt="Image"/>
                            </div>

                        </div>
                        <div class="top_destinations__places__place__text">
                            <span data-grape_section="_top_destinations" data-grape_id="{{ grape_text_title }}">{{ page.ElementContent(grape_text_title,"Trinidad") | raw }}</span>
                            <p data-grape_section="_top_destinations" data-grape_id="{{ grape_text_description }}">{{ page.ElementContent(grape_text_description,"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet enim ") | raw }}</p>
                        </div>
                    </a>
                {% endif %}

            </div>
        {% endfor %}

    </div>


</section>
