<section class="section top_destinations">
    <div class="section__title ">
        <div class="section__title__highlight section__title__highlight--orange">
            <h2>Unsere Top-Seller</h2>
        </div>
        <div class="section__title__description">
            Die Qual der Wahl: So vielfältig wie Kuba ist, so umfangreich ist
            auch unser Ideen- und Produktekatalog. Wir zeigen Ihnen, was unsere Kunden am häufigsten buchen.
        </div>
    </div>

    <div class="top_destinations__places">

        {% set classes = ['top_destinations__places__place--blue', 'top_destinations__places__place--orange',
                        'top_destinations__places__place--green', 'top_destinations__places__place--blue'] %}

        {% for topDestination in topDestinations %}

            <div class="top_destinations__places__place {{ classes[loop.index % 4] }}">

                    <a href="{{ topDestination.link }}">
                        <div class="top_destinations__places__place__image">
                            <div class="grid__item-img">
                                {{ imgTag(topDestination.image, '(min-width: 1200px) 50vw, 100vw') | raw }}
                            </div>
                        </div>
                        <div class="top_destinations__places__place__text">
                            <span>{{ topDestination.title }}</span>
                            <p>{{ topDestination.description | striptags('p') | raw }}</p>
                        </div>
                    </a>
            </div>

        {% endfor %}

    </div>

</section>
