<section class="section top_destinations">

    <div class="section__title ">
        <div class="section__title__highlight section__title__highlight--orange">
            <h2>Top destinations</h2>
        </div>
        <div class="section__title__description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </div>

    <div class="top_destinations__places">

        <div class="top_destinations__places__place">
            <a href="">
                <div class="top_destinations__places__place__image">

                    <div class="grid__item-img" data-displacement="{{ asset('img/dmaps/7.jpg') }}" data-intensity="-0.8">
                        <img src="{{ asset('img/destination/Img19.jpg') }}" alt="Image"/>
                        <img src="{{ asset('img/destination/Img20.jpg') }}" alt="Image Alt"/>
                    </div>

                </div>
                <div class="top_destinations__places__place__text">
                <span>Trinidad</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet enim </p>
            </div>
            </a>
        </div>

        <div class="top_destinations__places__place top_destinations__places__place--orange">
            <a href="#">
                <div class="top_destinations__places__place__image">
                    <div class="grid__item-img" data-displacement="{{ asset('img/dmaps/7.jpg') }}" data-intensity="-0.8">
                        <img src="{{ asset('img/destination/Img19.jpg') }}" alt="Image"/>
                        <img src="{{ asset('img/destination/Img20.jpg') }}" alt="Image Alt"/>
                    </div>
                </div>
                <div class="top_destinations__places__place__text">
                    <span>Trinidad</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet enim </p>
                </div>
            </a>
        </div>

        <div class="top_destinations__places__place top_destinations__places__place--green">
            <a href="#">
                <div class="top_destinations__places__place__image">
                    <div class="grid__item-img" data-displacement="{{ asset('img/dmaps/7.jpg') }}" data-intensity="-0.8">
                        <img src="{{ asset('img/destination/Img19.jpg') }}" alt="Image"/>
                        <img src="{{ asset('img/destination/Img20.jpg') }}" alt="Image Alt"/>
                    </div>
                </div>
                <div class="top_destinations__places__place__text">
                    <span>Trinidad</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet enim </p>
                </div>
            </a>
        </div>

        <div class="top_destinations__places__place">
            <a href="#">
                <div class="top_destinations__places__place__image">
                    <div class="grid__item-img" data-displacement="{{ asset('img/dmaps/7.jpg') }}" data-intensity="-0.8">
                        <img src="{{ asset('img/destination/Img19.jpg') }}" alt="Image"/>
                        <img src="{{ asset('img/destination/Img20.jpg') }}" alt="Image Alt"/>
                    </div>
                </div>
                <div class="top_destinations__places__place__text">
                    <span>Trinidad</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet enim </p>
                </div>
            </a>
        </div>

    </div>

</section>
