<section class="section top_destinations">
    <div class="section__title ">
        <div class="section__title__highlight section__title__highlight--orange">
            <h2 data-grape_section="_top_destinations" data-grape_id="_top_destinations_title" data-grape_format="txt">{{ page.ElementContent('_top_destinations_title',"Top destinations") | raw }}</h2>
        </div>
        <div class="section__title__description">
            <p data-grape_section="_top_destinations" data-grape_id="_top_destinations_text" data-grape_format="txt">{{ page.ElementContent('_top_destinations_text',"Lorem ipsum dolor sit amet, consectetur adipisicing elit.") | raw }}</p>
        </div>
    </div>

    <div class="top_destinations__places">

        {% set classes = ['top_destinations__places__place--blue', 'top_destinations__places__place--orange',
                        'top_destinations__places__place--green', 'top_destinations__places__place--blue'] %}

        {% for i in 0..3 %}

            {% set grape_img_id_a = '_top_destination_img_'~i~'a' %}
            {% set grape_img_id_b = '_top_destination_img_'~i~'b' %}

            {% set grape_text_title = '_top_destination_text_title_'~i %}
            {% set grape_text_description = '_top_destination_description_'~i %}


            <div class="top_destinations__places__place {{ classes[i] }}">
                {% if is_granted('ROLE_EDITOR') and app.request.get('preview') is null %}
                    <div class="top_destinations__places__place__image__editor">

                        <div class="grid__item-img__editor">
                            <img data-grape_section="_top_destinations" data-grape_id="{{ grape_img_id_a }}"
                                 src="{{ page.ElementAttr(grape_img_id_a, 'src', '/img/destination/Img20.jpg')  }}"
                                 alt="Image"/>
                        </div>

                    </div>
                    <div class="top_destinations__places__place__text">
                        <span data-grape_section="_top_destinations" data-grape_id="{{ grape_text_title }}">{{ page.ElementContent(grape_text_title,"Trinidad") | raw }}</span>
                        <p data-grape_section="_top_destinations" data-grape_id="{{ grape_text_description }}">{{ page.ElementContent(grape_text_description,"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet enim ") | raw }}</p>
                    </div>
                {% else %}
                    <a href="#">
                        <div class="top_destinations__places__place__image">
                            <div class="grid__item-img" data-grape_section="_top_destinations">
                                {{ imgTagContent(
                                    page.ElementAttr(grape_img_id_a, 'src', asset('/img/destination/Img20.jpg')),
                                    page.ElementAttr(grape_img_id_a, 'srcb64', asset('/img/destination/Img20.jpg')),
                                    '',
                                    '(min-width: 1200px) 50vw, 100vw',
                                    'data-expand="500" data-grape_section="_top_destinations" data-grape_id="'~ grape_img_id_a~'"') | raw }}
                            </div>
                        </div>
                        <div class="top_destinations__places__place__text">
                            <span data-grape_section="_top_destinations" data-grape_id="{{ grape_text_title }}">{{ page.ElementContent(grape_text_title,"Trinidad") | raw }}</span>
                            <p data-grape_section="_top_destinations" data-grape_id="{{ grape_text_description }}">{{ page.ElementContent(grape_text_description,"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet enim ") | raw }}</p>
                        </div>
                    </a>
                {% endif %}

            </div>
        {% endfor %}

        <svg class="filter">
            <filter id="deformation" x="0" y="0" width="100%" height="100%">
                <feTurbulence id="deformation-filter" numOctaves="3" seed="2" baseFrequency="0.02 0.05"></feTurbulence>
                <feDisplacementMap scale="5" in="SourceGraphic"></feDisplacementMap>
            </filter>
            <animate xlink:href="#deformation-filter" attributeName="baseFrequency" dur="6s" keyTimes="0;0.5;1" values="0.02 0.06;0.04 0.08;0.02 0.06" repeatCount="indefinite"/>
        </svg>

    </div>

</section>
