<section class="section activities">

    <div class="section__title ">
        <div class="section__title__highlight">
            <h2 data-grapeid="contact_t1">{{ page.ElementContent('contact_t1',"Popular activities") | raw }}</h2>
        </div>
        <div class="section__title__description">
            <p data-grapeid="contact_p1">{{ page.ElementContent('contact_p1',"We have some many that is hard to choose") | raw }}</p>
        </div>
    </div>

    <div class="activities__selectors">
        <div class="activities__selectors__filters">
            <h3>Select the filters</h3>
            
            <ul class="activities__selectors__filters__lists">
                <li class="selected">
                    <a href="#">Nature</a>
                </li>

                <li>
                    <a href="#">Yoga</a>
                </li>

                <li>
                    <a href="#">Family</a>
                </li>

                <li class="selected">
                    <a href="#">Sky</a>
                </li>

                <li>
                    <a href="#">Cigar</a>
                </li>

                <li>
                    <a href="#">Vinales</a>
                </li>

                <li>
                    <a href="#">Children</a>
                </li>

                <li>
                    <a href="#">Yoga</a>
                </li>

                <li>
                    <a href="#">Animals</a>
                </li>
            </ul>
        </div>
        <div class="activities__selectors__search">
            <h3>Type your search criteria</h3>
            
            <div class="form__item">
                <div class="form__item__label">
                    
                </div>
                <div class="form__item__input">
                    <input type="text" >
                </div>
            </div>
        </div>
    </div>

    <div class="activities__list">
        <div class="activities__list__title">
            <h3>We have found 5 activities</h3>
        </div>

        <div class="activity">
            <div class="activity__image">
                <img src="{{ asset('img/grid/square2.jpg') }}" alt="">
            </div>
            <div class="activity__content">
                <div class="activity__content__title">
                    <h4>Sky surfing in varadero</h4>
                </div>
                <div class="activity__content__description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aperiam beatae delectus deserunt eaque eligendi facere, facilis fuga inventore laborum libero nam nesciunt numquam officia optio quas quo rem tempore!</p>
                </div>
            </div>

        </div>

        <div class="activity">
            <div class="activity__image">
                <img src="{{ asset('img/grid/square1.jpg') }}" alt="">
            </div>
            <div class="activity__content">
                <div class="activity__content__title">
                    <h4>Sky surfing in varadero</h4>
                </div>
                <div class="activity__content__description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aperiam beatae delectus deserunt eaque eligendi facere, facilis fuga inventore laborum libero nam nesciunt numquam officia optio quas quo rem tempore!</p>
                </div>
            </div>

        </div>

        <div class="activity">
            <div class="activity__image">
                <img src="{{ asset('img/grid/square3.jpg') }}" alt="">
            </div>
            <div class="activity__content">
                <div class="activity__content__title">
                    <h4>Sky surfing in varadero</h4>
                </div>
                <div class="activity__content__description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aperiam beatae delectus deserunt eaque eligendi facere, facilis fuga inventore laborum libero nam nesciunt numquam officia optio quas quo rem tempore!</p>
                </div>
            </div>

        </div>

        <div class="activity">
            <div class="activity__image">
                <img src="{{ asset('img/grid/square1.jpg') }}" alt="">
            </div>
            <div class="activity__content">
                <div class="activity__content__title">
                    <h4>Sky surfing in varadero</h4>
                </div>
                <div class="activity__content__description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aperiam beatae delectus deserunt eaque eligendi facere, facilis fuga inventore laborum libero nam nesciunt numquam officia optio quas quo rem tempore!</p>
                </div>
            </div>

        </div>

        <div class="activity">
            <div class="activity__image">
                <img src="{{ asset('img/grid/square3.jpg') }}" alt="">
            </div>
            <div class="activity__content">
                <div class="activity__content__title">
                    <h4>Sky surfing in varadero</h4>
                </div>
                <div class="activity__content__description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aperiam beatae delectus deserunt eaque eligendi facere, facilis fuga inventore laborum libero nam nesciunt numquam officia optio quas quo rem tempore!</p>
                </div>
            </div>

        </div>

        <div class="activity">
            <div class="activity__image">
                <img src="{{ asset('img/grid/square2.jpg') }}" alt="">
            </div>
            <div class="activity__content">
                <div class="activity__content__title">
                    <h4>Sky surfing in varadero</h4>
                </div>
                <div class="activity__content__description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aperiam beatae delectus deserunt eaque eligendi facere, facilis fuga inventore laborum libero nam nesciunt numquam officia optio quas quo rem tempore!</p>
                </div>
            </div>

        </div>
    </div>

</section>