<section id="activities" class="section activities">

    <div class="section__title ">
        <div class="section__title__highlight section__title__highlight--green">
            <h2>beliebte Aktivitäten</h2>
        </div>
        <div class="section__title__description">
            <p>
                Wir haben zahlreiche Vorschläge, was Sie auf Kuba unternehmen können. Lassen Sie sich von unseren Ideen inspirieren!
            </p>
        </div>
    </div>

    <div  id="activities_filters"  class="activities__selectors">

        <div class="activities__selectors__filters">
            <h3>mit den Filtern gelangen Sie schneller zum Ziel</h3>
            
            <ul class="activities__selectors__filters__lists">
                {% for filterTag in filterTags %}
                    {% set class = '' %}

                    {% if selectedFilters is defined and filterTag.title in selectedFilters %}
                        {% set class='selected' %}
                    {% endif %}

                    <li class="{{ class }}">{{ filterTag.title }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="activities__selectors__search">
            <h3>keinen passenden Filter gefunden? kein Problem, suchen Sie mit ihrem persönlichen Text!</h3>

            <form action="">
                <div class="form__item">
                    {#<div class="form__item__label">#}
                        {#<label for="#search_text">criteria</label>#}
                    {#</div>#}
                    <div class="form__item__input">
                        <input id="search_text" type="text" minlength="3" placeholder="sun & music" required>
                    </div>
                </div>

                <div class="form__item">
                    <div class="form__item__input">
                        <input class="btn btn--green btn--small" type="submit" value="suchen">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="activities__list">

        <div class="activities__list__title">
            <h3>{{ activities | length }} Aktivitäten gefunden</h3>
        </div>

        <div class="activities__list__item__prototype">
            {{ include('frontend/components/global/_activity_prototype.html.twig') }}
        </div>

        <div class="activities__list__container">

            {{ include('frontend/components/global/_loading_dots.html.twig') }}

            <div class="activities__list__container__initial">
                {% for activity in activities %}
                    {% include 'frontend/components/global/_activity.html.twig'
                        with {'activity' : activity} only %}
                {% else %}
                    <p>something</p>
                {% endfor %}
            </div>

            <div class="activities__list__container__filter_search activities__list__container__filter_search--hide">
            </div>

            {{ include('frontend/components/global/_loading_dots.html.twig') }}

        </div>

        {% if loadMore %}
            <div class="activities__list__more">
                <button class="btn">mehr anzeigen</button>
            </div>
        {% endif %}

    </div>

</section>