<section id="activities" class="section activities">

    <div class="section__title ">
        <div class="section__title__highlight section__title__highlight--green">
            <h2 data-grape_id="activities_t1">{{ page.ElementContent('activities_t1','Popular activities') | raw }}</h2>
        </div>
        <div class="section__title__description">
            <p data-grape_id="activities_p1">{{ page.ElementContent('activities_p1',"We have some many that is hard to choose") | raw }}</p>
        </div>
    </div>

    <div class="activities__selectors">
        <div class="activities__selectors__filters">
            <h3 data-grape_id="filter_text">{{ page.ElementContent('filter_text','Select the filters') | raw }}</h3>
            
            <ul class="activities__selectors__filters__lists">
                {% for filterTag in filterTags %}
                    {% set class = '' %}


                    {% if selectedFilters is defined and filterTag.title in selectedFilters %}
                        {% set class='selected' %}
                    {% endif %}

                    <li class="{{ class }}">{{ filterTag.title }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="activities__selectors__search">
            <h3 data-grape_id="search_text">{{ page.ElementContent('search_text','Type your search criteria') | raw }}</h3>
            
            <div class="form__item">
                <div class="form__item__input">
                    <input id="search_ext" type="text" placeholder="beach">
                </div>
                {#<div class="form__item__label">#}
                    {#<label for="#search_ext">criteria</label>#}
                {#</div>#}
            </div>
        </div>
    </div>

    <div class="activities__list">

        <div class="activities__list__title">
            <h3>We have found <span>{{ activities | length }}</span> activities</h3>
        </div>


        <div class="activities__list__item-prototype">
            <div class="activity">
                <a href="">
                    <div class="activity__image">
                        <img src="" alt="">
                    </div>
                    <div class="activity__content">
                        <div class="activity__content__title">
                            <h4></h4>
                        </div>
                        <div class="activity__content__description">
                            <p></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="activities__list__container">

            {% for activity in activities %}
                {% include 'frontend/components/global/_activity.html.twig'
                    with {'activity':activity} only %}
            {% else %}
                <p>something</p>
            {% endfor %}

            <div class="loading_element">

            </div>
        </div>

        {% if loadMore %}
            <div class="activities__list__more">
                <a href="#" class="btn">Load more</a>
            </div>
        {% endif %}

    </div>

</section>