<section id="activities" class="section activities">

    <div class="section__title ">
        <div class="section__title__highlight section__title__highlight--green">
            <h2 data-grape_id="activities_t1"  data-grape_format="txt">{{ page.ElementContent('activities_t1','Popular activities') | raw }}</h2>
        </div>
        <div class="section__title__description">
            <p data-grape_id="activities_p1"  data-grape_format="txt">{{ page.ElementContent('activities_p1',"We have some many that is hard to choose") | raw }}</p>
        </div>
    </div>

    <div class="activities__selectors">

        <div class="activities__selectors__filters">
            <h3 data-grape_id="filter_text"  data-grape_format="txt">{{ page.ElementContent('filter_text','Select the filters') | raw }}</h3>
            
            <ul class="activities__selectors__filters__lists">
                {% for filterTag in filterTags %}
                    {% set class = '' %}

                    {% if selectedFilters is defined and filterTag.title in selectedFilters %}
                        {% set class='selected' %}
                    {% endif %}

                    <li class="{{ class }}">{{ filterTag.title }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="activities__selectors__search">
            <h3 data-grape_id="search_text"  data-grape_format="txt">{{ page.ElementContent('search_text','Type your search criteria') | raw }}</h3>

            <form action="">
                <div class="form__item">
                    {#<div class="form__item__label">#}
                        {#<label for="#search_text">criteria</label>#}
                    {#</div>#}
                    <div class="form__item__input">
                        <input id="search_text" type="text" minlength="3" placeholder="sun & music" required>
                    </div>
                </div>

                <div class="form__item">
                    <div class="form__item__input">
                        <input class="btn btn--green btn--small" type="submit" value="send">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="activities__list">

        <div class="activities__list__title">
            <h3>We have found <span>{{ activities | length }}</span> activities</h3>
        </div>

        <div class="activities__list__item-prototype">
            {{ include('frontend/components/global/_activity_prototype.html.twig') }}
        </div>

        <div class="activities__list__container">

            <div class="activities__list__container__initial">
                {% for activity in activities %}
                    {% include 'frontend/components/global/_activity.html.twig'
                        with {'activity' : activity} only %}
                {% else %}
                    <p>something</p>
                {% endfor %}
            </div>

            <div class="activities__list__container__filter_search activities__list__container__filter_search--hide">
            </div>

            <div class="loading_element"></div>
        </div>

        {% if loadMore %}
            <div class="activities__list__more">
                <button class="btn">Load more</button>
            </div>
        {% endif %}

    </div>

</section>