<section class="section activities__stories">

    <div class="section__title ">
        <div class="section__title__highlight section__title__highlight--green">
            <h2 data-grape_id="activities_t1" data-grape_format="txt">{{ page.ElementContent('activities_description_t1','Kuba Reisen schlägt vor') | raw }}</h2>
        </div>
        <div class="section__title__description">
            <p data-grape_id="activities_p1" data-grape_format="txt">{{ page.ElementContent('activities_description_p1','Schauen Sie sich unsere beliebtesten Aktivitäten genau an') | raw }}</p>
        </div>
    </div>


    <div class="activities__stories__items">
        <ul>
            {% for story in stories %}
                <li data-story="#story-{{ loop.index0 }}">{{ story.title }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="activities__stories__container">

        <div class="activities__stories__map">
            <div id="map"></div>
        </div>

        <div class="activities__stories__story__container">
            {% for story in stories %}
                <div id="story-{{ loop.index0 }}" class="activities__stories__story">
                    {{ story.content | raw }}
                </div>
            {% endfor %}
        </div>
        <div class="activities__stories__skip">
            <a class="btn btn--small" href="#activities">Skip</a>
        </div>
    </div>


</section>