{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <h1>Post</h1>

    <img src="{{ asset(post.getImagePath | imagine_filter('squared_thumbnail')) }}" />
    {{ asset(post.getImagePath) }}"
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ post.slug }}</td>
            </tr>
            <tr>
                <th>Language</th>
                <td>{{ post.language }}</td>
            </tr>
            <tr>
                <th>Published</th>
                <td>{{ post.published ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Image.name</th>
                <td>{{ post.image.name }}</td>
            </tr>
            <tr>
                <th>Image.originalName</th>
                <td>{{ post.image.originalName }}</td>
            </tr>
            <tr>
                <th>Image.mimeType</th>
                <td>{{ post.image.mimeType }}</td>
            </tr>
            <tr>
                <th>Image.size</th>
                <td>{{ post.image.size }}</td>
            </tr>
            <tr>
                <th>Image.dimensions</th>
                <td>{{ post.image.dimensions | join('x') }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('backend_post_index') }}">back to list</a>

    <a href="{{ path('backend_post_edit', {'id': post.id}) }}">edit</a>

 
{% endblock %}
